openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Application API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Application
paths:
  /recruiting/applications:
    post:
      summary: Add applications
      description: 'Create an application


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura y Modificación''.'
      tags:
      - Application
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  application:
                    $ref: '#/components/schemas/Application'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  application:
                    $ref: '#/components/schemas/Application'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
        '404':
          description: The requested resource does not exist
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      requestBody:
        content:
          application/json:
            schema:
              title: RequestBody
              required:
              - application
              properties:
                application:
                  $ref: '#/components/schemas/ApplicationInput'
        description: Parameters of an application
        required: true
      operationId: postRecruitingApplications
      x-operation-id-source: derived
    get:
      summary: List the applications
      description: 'Display application


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura y Modificación''.'
      tags:
      - Application
      parameters:
      - name: selection_processes[]
        in: query
        description: (Optional) IDs of the selection processes to be queried. (Returns applications if they are in at least one selection process)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - name: application_date
        in: query
        description: (OPTIONAL) Indicate the date of application to be consulted (Format YYYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: updated_from
        in: query
        description: (OPCIONAL) Indica la fecha inicial de actualización a consultar (Formato YYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: updated_to
        in: query
        description: (OPCIONAL) Indica la fecha final de actualización a consultar (Formato YYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: page_size
        in: query
        description: (Optional) Number of responses per page. By default, it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: A list of applications that meet the search criteria.
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Application'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getRecruitingApplications
      x-operation-id-source: derived
  /recruiting/applications/{id}:
    patch:
      summary: Update applications
      description: 'Update application


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura y Modificación''.'
      tags:
      - Application
      parameters:
      - name: id
        in: path
        description: ID of the application to be updated
        required: true
        schema:
          type: string
          items:
            type: integer
      responses:
        '200':
          description: Information of the updated application.
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  application:
                    $ref: '#/components/schemas/Application'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  application:
                    $ref: '#/components/schemas/Application'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
        '404':
          description: The requested resource does not exist
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationInput'
        description: Parameters of an application
        required: true
      operationId: patchRecruitingApplicationsById
      x-operation-id-source: derived
components:
  schemas:
    ApplicationApplicant:
      type: object
      description: Postulante
      allOf:
      - properties:
          id:
            example: 123
            type: integer
            description: ID del postulante
      - $ref: '#/components/schemas/ApplicationApplicantIdentifier'
    ApplicationBase:
      properties:
        selection_process_id:
          example: 123
          type: integer
          description: ID del proceso de selección
        referrer:
          example: internal
          type: string
          description: Origen de la postulación
          enum:
          - internal
          - external
          - genoma
          - trabajando
          - aira
          - portal
          - talent
        integration_url:
          example: https://ejemplo.com
          type: string
          description: URL asociada al origen de la postulación
        salary_expectation:
          example: 10
          type: integer
          description: Expectativa salarial específica para la postulación
        custom_attributes:
          example:
            clave: valor
          type: object
          description: Atributos personalizados de la postulación. (Consultar con administrador cuales son los atributos personalizados disponibles)
        application_date:
          type: string
          format: date
          description: Fecha de postulación
          example: '2024-01-01'
        updated_at:
          example: '2024-01-01T12:00:00Z'
          type: string
          format: date-time
          description: Fecha de actualización
    Application:
      allOf:
      - $ref: '#/components/schemas/ApplicationBase'
      - properties:
          applicant:
            $ref: '#/components/schemas/ApplicationApplicant'
          process_stage:
            $ref: '#/components/schemas/ApplicationProcessStage'
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    ApplicationApplicantIdentifier:
      properties:
        document_number:
          example: '123456789'
          type: string
          description: Número de documento del postulante
    ApplicationInput:
      required:
      - applicant_id
      - selection_process_id
      allOf:
      - $ref: '#/components/schemas/ApplicationBase'
      - $ref: '#/components/schemas/ApplicationApplicantIdentifierInput'
      - properties:
          process_stage_id:
            example: '123'
            type: string
            description: ID o nombre de la etapa del proceso de selección.
    ApplicationProcessStage:
      type: object
      description: Etapa del proceso de selección
      properties:
        id:
          example: 123
          type: integer
          description: ID de la etapa del proceso de selección
        name:
          example: {}
          type: string
          description: Nombre de la etapa del proceso de selección
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    ApplicationApplicantIdentifierInput:
      properties:
        applicant_id:
          example: '123'
          type: string
          description: ID o Número de documento del postulante
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
