openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Workflows API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Workflows
paths:
  /workflow/alta/processes:
    get:
      summary: Obtain hiring processes flows
      description: 'Displays hiring processes requests of the Colaboradores.

        **Permisos requeridos para utilizar este endpoint:**

        * Workflow permissions en: ''Lectura''.'
      tags:
      - Workflows
      parameters:
      - name: status
        in: query
        description: (OPTIONAL) Request status. In Progress(1), Approved(2), Error(4), Canceled(5)
        required: false
        schema:
          type: integer
          enum:
          - 1
          - 2
          - 4
          - 5
      - name: creation_start_date
        in: query
        description: (OPCIONAL) Request creation date (From), in format YYYY-MM-DD
        required: false
        schema:
          type: string
          format: date
      - name: creation_end_date
        in: query
        description: (OPTIONAL) Request creation date (To), in format YYYY-MM-DD
        required: false
        schema:
          type: string
          format: date
      - name: page_size
        in: query
        description: (Optional) Number of responses per page. By default it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      - name: page
        in: query
        description: (OPTIONAL) Page number
        schema:
          type: integer
      responses:
        '200':
          description: Response with the data of the hiring processes flows.
          name: data
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowProcessAlta'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkflowProcessAlta'
        '404':
          description: No hiring processes flows found
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getWorkflowAltaProcesses
      x-operation-id-source: derived
components:
  schemas:
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
