openapi: 3.2.0
info:
  title: Buk Colaboradores API
  version: '1.0'
  description: 'Operations tagged Colaboradores across 5 of this provider''s published API definitions: buk-data-access-api-brasil-openapi.yml, buk-data-access-api-chile-openapi.yml, buk-data-access-api-colombia-openapi.yml, buk-data-access-api-mexico-openapi.yml, buk-data-access-api-peru-openapi.yml. Each path carries the servers of the definition it was published in.'
host: demo.buk.cl
tags:
- name: Colaboradores
paths:
  /employees:
    get:
      summary: 'Display Translation missing: en-br.{custom_translations.models.employee.other'
      description: "Provides information of all Colaboradores.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: status
        in: query
        type: string
        description: 'Status of the Colaborador. allowed values are: active, inactive, pending'
      - name: document_numberdocument_number
        in: query
        type: string
        description: Document number
      - name: code_sheet
        in: query
        type: string
        description: Colaborador profile code
      - name: company_id
        in: query
        type: string
        description: ID of the Empresa
      - name: update_start_date
        in: query
        type: string
        format: date
        description: Update date. If the company_id attribute is used, it will validate the active job at that date to determine the information to display. If empty, the current date will be considered
      - name: custom_attr_job_name
        in: query
        type: string
        description: Name of the custom job attribute
      - name: custom_attr_job_value
        in: query
        type: string
        description: Value of the custom Job attribute (if more than one, separate them by ::, e.g. Value1::Value2)
      - name: email
        in: query
        type: string
        description: Work email of the Colaborador
      - name: code_recinto
        in: query
        type: string
        description: Code of the Recinto
      - name: page_size
        in: query
        type: integer
        description: Size of the page
      - name: page
        in: query
        type: integer
        description: Page number
      - name: sort
        in: query
        type: string
        description: Parameter to sort records, the only possible value is "id"; if not sent, it is sorted by name
      responses:
        '200':
          description: 'A list of Colaboradores that meet the search criteria.

            '
          schema:
            $ref: '#/definitions/EmployeeResponseCountry'
    post:
      summary: Create an Colaborador
      description: "Stores information of the Colaboradores. If the active key with value true is not sent, it will be created as inactive. The \"code_sheet\" identifier is optional; it will be autogenerated if not sent and the person does not previously exist (personal data sent are not used by another Colaborador).\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: Employee
        in: body
        description: Employee type object
        required: true
        schema:
          $ref: '#/definitions/Employee::Response::Minimal'
      responses:
        '201':
          description: Colaborador created.
          schema:
            title: ResponseBody
            properties:
              employee:
                $ref: '#/definitions/EmployeeResponseCountry'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/{id}/clone:
    post:
      summary: 'Create a new profile for an Translation missing: en-br.{custom_translations.models.employee.one'
      description: "Allows creating a new record based on an existing one. This includes the details of each dependent family member. It receives the fields that will be different; the others will be copied from the reference record.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n"
      parameters:
      - name: id
        in: path
        description: ID of the Colaborador to be cloned.
        required: true
        type: string
      - name: Employee
        in: body
        description: Employee type object
        required: true
        schema:
          $ref: '#/definitions/EmployeeInputCloneCountry'
      tags:
      - Colaboradores
      responses:
        '201':
          description: Colaborador created.
          schema:
            title: ResponseBody
            properties:
              employee:
                $ref: '#/definitions/EmployeeResponseCountry'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/active:
    get:
      summary: List Colaboradores
      description: "Returns all the active Colaboradores in the system. An active Colaborador is a Colaborador with an active plan and job on the selected date.<br><br> Optionally, it receives the date (in YYYY-MM-DD format) on which they must have an active contract as a parameter. If this parameter is not provided, today\\'s date from the open month in the application will be used.<br> Additionally, it can receive an optional parameter to exclude Colaboradores who are pending.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: RUT
        in: query
        type: string
        description: RUT
      - name: code_sheet
        in: query
        type: string
        description: Colaborador profile code
      - name: date
        in: query
        type: string
        format: date
        description: Date to evaluate if the Colaboradores have an active contract, in YYYY-MM-DD format. If not entered, today's date on the platform will be used by default
      - name: exclude_pending
        in: query
        type: boolean
        description: Excludes pending Colaboradores if this parameter is sent as `true`
      - name: page_size
        in: query
        type: integer
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100].
      responses:
        '200':
          description: 'As a response, we receive an array (data) with the information of the other Colaboradores''.

            '
          schema:
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              data:
                type: array
                items:
                  $ref: '#/definitions/EmployeeResponseCountry'
  /employees/{id}:
    get:
      summary: 'Display Translation missing: en-br.{custom_translations.models.employee.one'
      description: "We receive specific information of the Colaborador whose ID or RUT we sent in the search query.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        description: ID or Document Number of the Colaborador to query. If it is Document Number, it must not contain dots or hyphens.
        required: true
        type: string
      responses:
        '200':
          description: '''As a response we receive all the fields corresponding to the information of the queried Colaborador''

            '
          schema:
            $ref: '#/definitions/EmployeeResponseCountry'
    patch:
      summary: Update Colaborador
      description: "Update the information of the Colaborador.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        description: ID or Document Number of the Colaborador to query. If it is Document Number, it must not contain dots or hyphens.
        required: true
        type: string
      - name: Employee
        in: body
        description: Employee type object
        required: true
        schema:
          $ref: '#/definitions/EmployeeResponsePatch'
      responses:
        '200':
          description: Colaborador updated.
          schema:
            title: ResponseBody
            properties:
              data:
                $ref: '#/definitions/Employee::Response'
  /employees/{id}/subordinates:
    get:
      summary: Display Colaboradores subordinate to other Colaborador
      description: "We receive a list of subordinate Colaboradores\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        description: ID or Document Number of the Colaborador to query. If it is Document Number, it must not contain dots or hyphens.
        required: true
        type: string
      - name: date
        in: query
        type: string
        format: date
        description: Date to evaluate if subordinate Colaboradores have an active contract, in YYYY-MM-DD format. If not entered, today's date on the platform will be used by default.
      - name: page_size
        in: query
        type: integer
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100].
      responses:
        '200':
          description: 'As a response, we receive an array (data) with the information of the other Colaboradores''.

            '
          schema:
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              data:
                type: array
                items:
                  $ref: '#/definitions/MinimalEmployee'
  /employees/{id}/vacations_available:
    get:
      summary: Display number of days available for vacation
      description: "We received the number of days.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Vacation permissions en: 'Lectura' o 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        required: true
        description: ID or Document Number of the Colaborador to query. If it is Document Number, it must not contain dots or hyphens.
        type: string
      - name: discount
        in: query
        description: Deduct future vacation taken (true, false).
        enum:
        - true
        - false
        type: boolean
      - name: date
        in: query
        type: string
        format: date
        description: 'Date to calculate pending vacations (Format: DD-MM-YYYY); default is the last day of the open month'
      responses:
        '200':
          description: '‘As a response, we receive an array (data) with the information of the Colaborador and their vacations''

            '
          schema:
            $ref: '#/definitions/VacationsAvailable'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/{id}/earned_vacations:
    get:
      summary: Show details of accrued vacation and proportional simulation
      description: "Displays details of accrued vacations and proportional simulation up to a certain date.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Vacation permissions en: 'Lectura' o 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        description: ID or Document Number of the Colaborador to query. If it is Document Number, it must not contain dots or hyphens.
        required: true
        type: string
      - name: date
        in: query
        description: 'Date to calculate accrued vacations and simulate proportionals (Format: DD-MM-YYYY); default is today

          '
        type: string
        format: date
      - name: page
        in: query
        type: integer
        description: (OPTIONAL) Page for query
      - name: page_size
        in: query
        type: integer
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100].
      responses:
        '200':
          description: 'As a response, we receive an array (data) with information about accrued and proportional vacations of the Colaborador

            '
          schema:
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              data:
                type: array
                items:
                  $ref: '#/definitions/EarnedVacations'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/{employee_id}/family_responsibilities/{id}:
    get:
      summary: Display Dependents of a Colaborador
      description: "Returns information of a Dependents associated with a Colaborador.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura' o 'Lectura y Modificación'.\n\n**General requerida para utilizar este endpoint:** \n* Habilitar grupo familiar, valor: true.\n"
      tags:
      - Colaboradores
      parameters:
      - name: employee_id
        in: path
        description: ID of the Colaborador to be queried.
        required: true
        type: string
      - name: id
        in: path
        description: ID of the Dependents to query.
        required: true
        type: string
      responses:
        '200':
          description: Information of the Dependents associated with the Colaborador.
          schema:
            properties:
              data:
                $ref: '#/definitions/EmployeeFamilyResponsibility'
        '404':
          description: The requested resource does not exist
          name: errors
          schema:
            properties:
              errors:
                type: array
                items:
                  type: string
  /employees/{id}/pension_savings:
    get:
      summary: View pension savings
      description: "Obtain pension savings using the ID of an Colaborador\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n* Item permissions en: 'Lectura'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        type: string
        required: true
        description: Colaborador ID
      - name: date
        in: query
        type: string
        format: date
        description: Filter the pension savings that are current for this date
      responses:
        '200':
          description: As a response, we receive a list of objects of pension savings type
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/PensionSaving'
        '404':
          description: The requested resource does not exist
          name: errors
          schema:
            properties:
              errors:
                type: array
                items:
                  type: string
  /employees/{id}/plans:
    get:
      summary: Display an employee's plans
      description: "Displays the information of the plans associated to a Colaborador.\n(endpoint not implemented for Mexico)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        description: ID of the Colaborador to be queried.
        required: true
        type: string
      responses:
        '200':
          description: An array (data) with the information of the plans associated to the Colaborador.
          schema:
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              data:
                type: array
                items:
                  $ref: '#/definitions/PlanResponseCountry'
    post:
      summary: Add a plan to an employee
      description: "Creates a new plan for the Colaborador in the system\n(endpoint not implemented for Mexico)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        description: ID of the Colaborador to be queried.
        required: true
        type: string
      - name: Plan
        in: body
        description: Plan type object
        required: true
        schema:
          $ref: '#/definitions/PlanInputCountry'
      responses:
        '201':
          description: As a response, we receive an array (data) with the information of the created plan
          schema:
            properties:
              data:
                $ref: '#/definitions/PlanResponseCountry'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/{employee_id}/plans/{id}:
    get:
      summary: Display an employee's plan
      description: "Returns the information of a plan associated with a Colaborador.\n(endpoint not implemented for Mexico)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: employee_id
        in: path
        description: ID of the Colaborador to be queried.
        required: true
        type: string
      - name: id
        in: path
        description: ID of the plan to query.
        required: true
        type: string
      responses:
        '200':
          description: The information of the plan associated with the Colaborador.
          schema:
            properties:
              data:
                $ref: '#/definitions/PlanResponseCountry'
    patch:
      summary: Update a plan to an employee
      description: "Updates a plan linked with an Colaborador in the system\n(endpoint not implemented for Mexico)\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: employee_id
        in: path
        description: ID of the Colaborador to be updated.
        required: true
        type: string
      - name: id
        in: path
        description: ID of the plan to be updated.
        required: true
        type: string
      - name: Plan
        in: body
        description: Plan type object
        required: true
        schema:
          $ref: '#/definitions/PlanInputCountry'
      responses:
        '201':
          description: As a response, we receive an array (data) with the information of the updated plans
          schema:
            properties:
              data:
                $ref: '#/definitions/PlanResponseCountry'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/{id}/jobs:
    get:
      summary: Display jobs of a Colaborador
      description: "Displays the job information associated with a Colaborador.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        description: ID of the Colaborador to be queried.
        required: true
        type: string
      responses:
        '200':
          description: An array (data) with the information of the jobs associated to the Colaborador.
          schema:
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              data:
                type: array
                items:
                  $ref: '#/definitions/JobResponseCountry'
    post:
      summary: Add a job to Colaborador
      description: "Creates a new job for the Colaborador in the system\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        description: ID of the Colaborador to be queried.
        required: true
        type: string
      - name: Job
        in: body
        description: Job type object
        required: true
        schema:
          $ref: '#/definitions/JobInputCountryPost'
      responses:
        '201':
          description: As a response, we receive an array (data) with the information of the created job
          schema:
            properties:
              data:
                $ref: '#/definitions/JobResponseCountry'
        '409':
          description: Records are being updated concurrently.
          name: errors
          schema:
            properties:
              errors:
                type: array
                items:
                  type: string
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/{employee_id}/jobs/{id}:
    patch:
      summary: Update a job for a Colaborador
      description: "Creates a new job for the Colaborador in the system\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: employee_id
        in: path
        description: ID of the Colaborador to be updated.
        required: true
        type: string
      - name: id
        in: path
        description: ID of the job to be updated.
        required: true
        type: string
      - name: Job
        in: body
        description: Job type object
        required: true
        schema:
          $ref: '#/definitions/JobInputCountry'
      responses:
        '201':
          description: As a response, we receive an array (data) with the information of the updated job
          schema:
            properties:
              data:
                $ref: '#/definitions/JobResponseCountry'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/{employee_id}/jobs/{job_id}/cost_centers:
    patch:
      summary: Update the cost center in a job for a Colaborador
      description: "The cost centers of a job are replaced, i.e., existing ones are deleted and new ones are added.\n\n\n\nRemember that the weights must sum up to 100.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: employee_id
        in: path
        type: integer
      - name: job_id
        in: path
        type: integer
      - name: cost center
        in: body
        required: true
        schema:
          properties:
            cost_centers_attributes:
              type: array
              items:
                properties:
                  weight:
                    type: number
                    description: Weight
                  cost_center:
                    type: string
                    description: Cost Center
            skip_webhook_notification:
              type: boolean
              description: (OPCIONAL) Si es true, omite el envío del webhook de notificación de cambios al modificar los centros de costo. Por defecto es false y el webhook se envía normalmente.
              example: false
      responses:
        '201':
          description: As a response, the information of the updated job cost centers is received.
          schema:
            properties:
              data:
                properties:
                  job_id:
                    type: integer
                  employee_id:
                    type: integer
                  cost_center:
                    type: string
                  cost_centers:
                    $ref: '#/definitions/CostCenterModel'
  /employees/{id}/docs:
    post:
      summary: Add a document to employee
      description: "We receive a document, which will be related to the employee.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permissions to upload documents en: 'Sí'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        type: integer
        required: true
        description: ID of the employee to be queried.
      - name: file
        in: formData
        description: Document to be uploaded.
        required: false
        type: file
      - name: file_base64
        in: formData
        description: 'Document (base64 encoded) to be uploaded.


          An object composed of the following attributes must be sent as JSON:

          - content: Base64 encoded content.

          - filename: Name that the uploaded document will have along with the extension (e.g. filename.pdf).

          '
        required: false
        schema:
          type: object
          $ref: '#/definitions/EmployeeFileBase64'
      - name: visible
        in: query
        type: boolean
        enum:
        - true
        - false
        description: 'Visible to the employee. Default: false'
      - name: signable_by_employee
        in: query
        type: boolean
        enum:
        - true
        - false
        description: 'Requires employee signature. Default: false'
      - name: signable_by_legal_agent
        in: query
        type: boolean
        enum:
        - true
        - false
        description: 'Requires the signature of the legal representative. Default: false'
      - name: signable_by_second_legal_agent
        in: query
        type: boolean
        enum:
        - true
        - false
        description: 'Requires the signature of a second legal representative. Default: false'
      - name: overwrite
        in: query
        type: boolean
        enum:
        - true
        - false
        description: 'Overwrite file. Applies only to documents that do not have all required signatures. Default: false'
      - name: start_signature_workflow
        in: query
        type: boolean
        enum:
        - true
        - false
        description: 'Start automatic signature flow The document must be visible and must have signature or review requirements to select this option. Default: false'
      - name: path
        in: query
        description: 'Path where the file will be saved. If left blank it will be created in the employee''s root folder. Example: personal/security'
        required: false
        type: string
      - name: signatures
        in: query
        description: Array of objects of signature type. It is an optional parameter. If this parameter is used, the other parameters related to the signature will not be taken into account.
        required: false
        schema:
          type: array
          items:
            $ref: '#/definitions/DocumentSignature'
      - name: reviewer_id
        in: query
        description: Person's ID of the reviewer. This is an optional parameter, if you do not want to assign a reviewer, leave this field empty
        required: false
        type: integer
      consumes:
      - multipart/form-data
      responses:
        '201':
          description: API response after creating documents.
          schema:
            properties:
              employee_id:
                type: integer
              employee_file:
                $ref: '#/definitions/EmployeeFileDetail'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
    get:
      summary: Obtain employee documents
      description: "Information is obtained from the employee's documents according to the date filters entered\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permissions to View and download employee documents en: 'Sí'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        type: integer
        required: true
        description: ID of the employee to be queried.
      - name: from
        in: query
        type: string
        format: date
        description: 'From - Date range of document creation. Example: 2020/12/10'
      - name: to
        in: query
        type: string
        format: date
        description: To - Date range of document creation. Example 2020/12/11
      responses:
        '200':
          description: As a response, we receive an array with the employee's documents
          schema:
            type: array
            items:
              $ref: '#/definitions/EmployeeFileListDetail'
  /employees/{id}/docs/{file_id}:
    get:
      summary: Obtains an employee document
      description: "The possible file IDs are in the GET `/employees/{id}/docs` endpoint.\n\nThe redirection for the entered document of file_id is returned, hence it must be followed.\n\n* To follow the redirection, add the ‘-L’ option.\n* To save the response in a file, add the ‘-o’ option and pass the file name.\n\n**Example**\n````curl -L -X GET --header 'Accept: */*' --header 'auth_token: [AUTH TOKEN]' 'http://www.[COMPANY SUBDOMAIN].buk.cl/api/v1/employees/1/docs/1156' -o [FILE NAME]````\n\nTest with ‘curl’, the Try It button does not work for documents.\n\n\n**Permisos requeridos para utilizar este endpoint:** \n* Permissions to View and download employee documents en: 'Sí'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        in: path
        description: Employee ID
        required: true
        type: string
      - name: file_id
        in: path
        description: Document ID
        required: true
        type: string
      responses:
        '200':
          description: As a response, we received an employee document
          schema:
            $ref: '#/definitions/EmployeeFileDetail'
  /docs/{id}:
    get:
      tags:
      - Colaboradores
      summary: Obtain document detailed information
      description: "Receives the ID of a document and provides the specifications associated with that document.\n**Permisos requeridos para utilizar este endpoint:** \n* Permissions to View and download employee documents en: 'Sí'.\n"
      parameters:
      - name: id
        in: path
        description: Document ID
        type: integer
        required: true
      responses:
        '200':
          description: As a response, we received an employee document
          schema:
            properties:
              employee_id:
                type: integer
              employee_file:
                $ref: '#/definitions/EmployeeFileDetail'
  /employees/{id}/vacation_definitions:
    get:
      summary: List vacation policies associated with the employee.
      description: "Displays an array with vacation policies associated with an employee\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura'.\n* Vacation permissions en: 'Lectura'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        description: Employee ID
        in: path
        type: integer
        required: true
      responses:
        '200':
          description: As a response, we receive a list of vacation policies associated with the employee.
          schema:
            $ref: '#/definitions/VacationDefinitionOutput'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
    post:
      summary: Add a vacation policy to the employees
      description: "Assign a vacation policy to employees. The parameters are:\n- employee_id : (REQUIRED) ID of the employee\n- body : (REQUIRED) JSON with the code of the vacation policy to assign.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n* Vacation permissions en: 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        description: Employee ID
        in: path
        type: integer
        required: true
      - name: VacationConfigDefinition
        in: body
        description: Object with the code of the policy to assign.
        required: true
        schema:
          $ref: '#/definitions/VacationDefinitionInput'
      responses:
        '201':
          description: As a response, we receive a confirmation message.
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/{id}/vacation_definitions/{code}:
    delete:
      summary: Unassign an employee vacation policy
      description: "Unassign a vacation policy for an employee. The parameters are:\n- employee_id: (REQUIRED) Employee ID\n- code: (REQUIRED) Vacation policy code to unassign.\n- date: (OPTIONAL) Unassignment date in YYYY-MM-DD format. If not provided, today's date is used.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Employee permissions en: 'Lectura y Modificación'.\n* Vacation permissions en: 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: id
        description: Employee ID
        in: path
        type: integer
        required: true
      - name: code
        description: Code of the vacation policy.
        in: path
        type: string
        required: true
      - name: date
        description: Unassignment date (format YYYY-MM-DD). If not provided, today's date is used.
        in: query
        type: string
        format: date
        required: false
      responses:
        '200':
          description: As a response, we receive a confirmation message.
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/absences/licences:
    get:
      summary: Ver leaves de Colaboradores
      description: "See the leaves associated with Colaboradores.\nDescription of attributes:\n- employee_id: ID of the Colaborador associated with this leave. - start_date: Fecha de Inicio*: - days_count: Number of days of duration. - day_percent: Percentage of the day the Colaborador will take. Accepts 0.5 or 1, meaning half a day or a full day. If left blank it is considered as a full day (optional). - workday_stage: stage of the working hours. Among the accepted entries are \"full_working_day\" for day_percent equal to 1, and when day_percent equal to 0.5 the allowed values are \"start_working_day\" and \"end_working_day\" (optional). - type: Tipo de leave. - contribution_days: Number of days that are employer contribution. - application_date: Fecha en que se debe aplicar la leave (opcional). - custom_attributes: Custom attributes (optional). - format: Format in which it is found, it can take electronic value (for electronic leaves ) or \"physical\" (for physical leaves ). - license_type_id: Id of the type of leaves to which it corresponds, these can be seen with the GET operation for \"List types  leaves\". - licence_type_code: Code of the type of leaves to which it corresponds.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Attendance permissions en: 'Lectura' o 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: employees_id
        description: IDs of Colaboradores
        in: query
        type: array
      responses:
        '200':
          description: Como respuesta recibimos la información de la leaves solicitadas de los Colaboradores
          name: data
          schema:
            properties:
              data:
                $ref: '#/definitions/Absences::Licence::Response'
        '404':
          description: The requested resource does not exist
          name: errors
          schema:
            properties:
              errors:
                type: array
                items:
                  type: string
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/absences/absences:
    get:
      summary: View Colaboradores's time off leave
      description: "View time off leaves associated with the Colaboradores.\nDescription of attributes:\n- employee_id: ID of the Colaborador associated with this Time Off. - start_date: Fecha de Inicio*: - days_count: Number of days of duration. - day_percent: Percentage of the day the Colaborador will take. Accepts 0.5 or 1, meaning half a day or a full day. If left blank it is considered as a full day (optional). - workday_stage: stage of the working hours. Among the accepted entries are \"full_working_day\" for day_percent equal to 1, and when day_percent equal to 0.5 the allowed values are \"start_working_day\" and \"end_working_day\" (optional). - type: Tipo de Time Off. - contribution_days: Number of days that are employer contribution. - application_date: Fecha en que se debe aplicar la Time Off (opcional). - custom_attributes: Custom attributes (optional). - format: Format in which it is found, it can take electronic value (for electronic time off) or \"physical\" (for physical time off). - absence_type_id: Id of the type of time off to which it corresponds, these can be seen with the GET operation for \"List types of time off\". - absence_type_code: Code of the type of time off to which it corresponds.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Attendance permissions en: 'Lectura' o 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: employees_id
        description: IDs of Colaboradores
        in: query
        type: array
      responses:
        '200':
          description: As a response, we receive the information of the time off leave by the Colaboradores
          name: data
          schema:
            properties:
              data:
                $ref: '#/definitions/Absences::Absence::Response'
        '404':
          description: The requested resource does not exist
          name: errors
          schema:
            properties:
              errors:
                type: array
                items:
                  type: string
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/absences/permissions:
    get:
      summary: View absence requests of the Colaboradores.
      description: "See the absence request associated with Colaboradores.\n - format: Format in which it is found, it can take electronic value (for electronic absence requests) or \"physical\" (for physical absence request). - permission_type_id: Id of the type of absence request to which it corresponds, these can be seen with the GET operation for \"List types of absence request\". - permission_type_code: Code of the type of absence request to which it corresponds.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Attendance permissions en: 'Lectura' o 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: employees_id
        description: IDs of Colaboradores
        in: query
        type: array
      responses:
        '200':
          description: As a response, we receive the information of the absence requests leave requested by the Colaboradores
          name: data
          schema:
            properties:
              data:
                $ref: '#/definitions/Absences::Permission::Response'
        '404':
          description: The requested resource does not exist
          name: errors
          schema:
            properties:
              errors:
                type: array
                items:
                  type: string
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /employees/overtimes:
    get:
      summary: List overtime associated with Colaboradores.
      description: "View overtime records associated with certain Translation missing: en-br.{custom_translations.models.employee.other\n\n**Permisos requeridos para utilizar este endpoint:** \n* Attendance permissions en: 'Lectura' o 'Lectura y Modificación'.\n"
      tags:
      - Colaboradores
      parameters:
      - name: employees_id
        description: IDs of Colaboradores
        in: query
        type: array
      - name: overtime_type_id
        description: (Optional) Overtime type ID
        required: false
        in: query
        type: integer
      responses:
        '200':
          description: As a response, we receive an array (data) with the overtime hours of the Colaboradores
          name: data
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Attendances::Overtime::Index'
definitions:
  JobInputCountry:
    required:
    - company_id
    - start_date
    - type_of_contract
    - vinculation
    - tipo_jornada
    - otros_tipo_jornada
    - regimen_laboral
    - admission_indicative
    - admission_type
    - regimen_previsional
    - regular_hours
    - work_day_description
    - area_id
    - role_id
    - leader_id
    - wage
    properties:
      company_id:
        type: integer
        description: {}
      start_date:
        type: string
        format: date
        description: Fecha Inicio
      type_of_contract:
        type: string
        description: Tipo Contrato
        enum:
        - indeterminate
        - determined_by_days
        - determined_by_event
      end_of_contract:
        type: string
        format: date
        description: Término Contrato
      regular_hours:
        type: number
        format: float
        description: Horario Semanal
      days:
        type: object
        description: Dias de la Jornada Laboral
        example:
        - l
        - m
        - w
        - j
        - v
      vinculation:
        type: string
        description: Vinculación Laboral
        enum:
        - total_discount_rate
        - difference_discount_rate
        - discount_rate_does_not_apply
        - does_not_have
      tipo_jornada:
        type: string
        description: Tipo de Jornada
        enum:
        - workday_12x36
        - workday_variable_free_time
        - workday_fixed_free_time
        - workday_fixed_free_time_except_sunday
        - workday_fixed_time_additional_sunday
        - workday_uninterrupted
        - other_workday
      otros_tipo_jornada:
        type: string
        description: Otros Tipos de Jornada
        enum:
        - subject_to_workday
        - external_forseen_activity
        - forseen_function
        - remote_work
        - no_reportable_esocial_workday
      regimen_laboral:
        type: string
        description: Régimen Laboral
        enum:
        - general_employee
        - intermitent_employee
        - domestic_employee
        - rural_employee
        - apprentice
        - fixed_term_employee
        - temporary_employee
        - estagiario
        - prolabore_722
        - prolabore_723
        - no_reportable_esocial_work_category
      admission_indicative:
        type: string
        description: Indicativo de Admisión
        enum:
        - normal
        - fiscal_action
        - judicial_action
      admission_type:
        type: string
        description: Tipo de Admisión
        enum:
        - admission
        - transference_company_same_group
        - transferencia_company_consortium
        - transferencia_succesion_incorporation_fusion
        - transferencia_domestinc_employee
        - cpf_movement
        - transference_company_unexistence
      regimen_previsional:
        type: string
        description: Régimen Previsional
        enum:
        - general_social_regime
        - social_security_regime
        - no_reportable_esocial_social_security_regime
      wage_type:
        type: string
        description: Tipo Salario, default 'variable'
        enum:
        - fixed
        - mixed
        - variable
      wage:
        type: number
        format: float
        description: Sueldo Base
      work_day_description:
        type: string
        description: Descripción de Jornada de Trabajo
      position_of_trust:
        type: boolean
        description: Cargo de Confianza
      function_of_trust:
        type: string
        description: Función de Confianza
      experience_contract:
        type: boolean
        description: Contrato de Experiencia
      unhealthiness_additional:
        type: string
        description: Adicional de Insalubridad
        enum:
        - 'no'
        - low
        - medium
        - high
      dangerousness_additional:
        type: string
        description: Adicional de Peligrosidad
        enum:
        - 'no'
        - 'yes'
      night_shift:
        type: boolean
        description: Trabajo Nocturno
      esocial_code:
        type: string
        description: Código eSocial
      area_id:
        type: integer
        description: Área
      role_id:
        type: integer
        description: Cargo
      leader_id:
        type: integer
        description: Supervisor
      without_wage:
        type: boolean
        description: Tiene Liquidación
        default: false
      centro_costos_attributes:
        type: array
        description: (OPCIONAL) Centros de costo del trabajo. Cada elemento debe incluir el código del centro de costo (cost_center) y su peso (weight). Si se envían múltiples centros, los pesos deben sumar 100. Reemplaza todos los centros de costo actuales del trabajo. Si no se envía, los centros de costo no se modifican.
        items:
          properties:
            cost_center:
              type: string
              description: Centro de costos
            weight:
              type: number
              description: Peso
      custom_attributes:
        type: object
  Employee::Response:
    properties:
      person_id:
        type: integer
        format: int64
      id:
        type: integer
        format: int64
      picture_url:
        type: string
      first_name:
        type: string
      surname:
        type: string
      second_surname:
        type: string
      full_name:
        type: string
      rut:
        type: string
      code_sheet:
        type: string
      nationality:
        type: string
      country_code:
        type: string
      civil_status:
        type: string
      email:
        type: string
      personal_email:
        type: string
      address:
        type: string
      city:
        type: string
      district:
        type: string
      location_id:
        type: integer
        format: int64
      region:
        type: string
      office_phone:
        type: string
      phone:
        type: string
      gender:
        type: string
      birthday:
        type: string
      university:
        type: string
      degree:
        type: string
      active_since:
        type: string
      status:
        type: string
      private_role:
        type: boolean
      health_company:
        type: string
      retired:
        type: boolean
      retirement_regime:
        type: string
      pension_regime:
        type: string
      pension_fund:
        type: string
      afc:
        type: string
      active_until:
        format: date
      termination_reason:
        type: string
      custom_attributes:
        type: object
      current_job:
        $ref: '#/definitions/EmployeeCurrentJob'
      bank:
        type: string
      payment_method:
        type: string
      account_type:
        type: string
      account_number:
        type: string
      progressive_vacations_start:
        type: string
        format: date
      fecha_reconocimiento_antiguedad:
        if: {}
        type: string
        format: date
        description: Fecha de reconocimiento de antigüedad del empleado.
      family_responsabilities:
        $ref: '#/definitions/EmployeeFamilyResponsability'
    allOf:
    - $ref: '#/definitions/BasePersonIdentifier'
  CostCenterModel:
    properties:
      id:
        type: string
      job_id:
        type: string
      weight:
        type: integer
      cost_center:
        type: string
  EmployeeResponseCountry:
    allOf:
    - $ref: '#/definitions/BasePersonIdentifier'
    properties:
      period_type:
        if: {}
        type: string
      person_id:
        type: integer
        format: int64
      id:
        type: integer
        format: int64
      picture_url:
        type: string
      first_name:
        type: string
      surname:
        type: string
      second_surname:
        type: string
      full_name:
        type: string
      document_type:
        type: string
      document_number:
        type: string
      code_sheet:
        type: string
      email:
        type: string
      personal_email:
        type: string
      address:
        type: string
      address_number:
        type: string
      address_reference:
        type: string
      address_neighborhood:
        type: string
      address_type:
        type: string
      district:
        type: string
      city:
        type: string
      location_id:
        type: integer
        format: int64
      region:
        type: string
      codigo_postal_fiscal:
        type: string
      office_phone:
        type: string
      phone:
        type: string
      gender:
        type: string
      birthday:
        type: string
        format: date
      nationality:
        type: string
      birth_country:
        type: string
      civil_status:
        type: string
      mothers_name:
        type: string
      fathers_name:
        type: string
      ethnic_colour:
        type: string
      education_level:
        type: string
      security_number:
        type: string
      active_since:
        type: string
        format: date
      status:
        type: string
      payment_method:
        type: string
      bank:
        type: string
      account_type:
        type: string
      account_number:
        type: string
      codigo_sucursal_retiro:
        type: string
      private_role:
        type: boolean
      progressive_vacations_start:
        type: string
        format: date
      ctps_id:
        type: string
      ctps_series:
        type: string
      ctps_issuing_state:
        type: string
      ctps_issuing_date:
        type: string
        format: date
      rg_id:
        type: string
      rg_issuing_authority:
        type: string
      rg_issuing_state:
        type: string
      rg_issuing_date:
        type: string
        format: date
  MedicIdentifier:
    properties:
      medic_rut:
        type: string
  Attendances::Overtime::Index:
    properties:
      pagination:
        $ref: '#/definitions/Pagination'
      data:
        type: array
        items:
          $ref: '#/definitions/Attendances::Overtime::Response'
  PensionSaving:
    properties:
      type:
        type: string
      institution:
        type: string
      amount:
        type: number
      currency:
        type: string
      deposit_type:
        type: string
      document:
        type: string
      reduction:
        type: boolean
      start_date:
        type: string
        format: date
      end_date:
        type: string
        format: date
  Absence::Response:
    properties:
      id:
        type: integer
      start_date:
        type: string
        format: date
      end_date:
        type: string
        format: date
      days_count:
        type: integer
      day_percent:
        type: number
        format: float
      contribution_days:
        type: number
        format: float
      workday_stage:
        type: string
      application_date:
        type: string
        format: date
      application_end_date:
        type: string
        format: date
      justification:
        type: string
      employee_id:
        type: integer
      status:
        type: string
      created_at:
        type: string
        format: date
      updated_at:
        type: string
        format: date
    required:
    - start_date
    - days_count
  MinimalEmployee:
    allOf:
    - properties:
        id:
          type: integer
          format: int64
        first_name:
          type: string
        surname:
          type: string
        second_surname:
          type: string
        full_name:
          type: string
        picture_url:
          type: string
        email:
          type: string
    - $ref: '#/definitions/BasePersonIdentifier'
    - $ref: '#/definitions/MinimalEmployeeCountry'
  JobResponseCountry:
    properties:
      id:
        type: integer
      company_id:
        type: integer
      start_date:
        type: string
        format: date
      type_of_contract:
        type: string
      end_of_contract:
        type: string
        format: date
      notice_date:
        type: string
        format: date
      regular_hours:
        type: number
      end_date:
        type: string
        format: date
      cost_center:
        type: string
      vinculation:
        type: string
      tipo_jornada:
        type: string
      otros_tipo_jornada:
        type: string
      regimen_laboral:
        type: string
      admission_indicative:
        type: string
      admission_type:
        type: string
      regimen_previsional:
        type: string
      wage_type:
        type: string
      work_day_description:
        type: string
      position_of_trust:
        type: boolean
      function_of_trust:
        type: string
      experience_contract:
        type: boolean
      unhealthiness_additional:
        type: string
      dangerousness_additional:
        type: string
      night_shift:
        type: boolean
      esocial_code:
        type: string
      periodicity:
        type: string
      custom_attributes:
        type: object
      area_id:
        type: integer
      role_id:
        type: integer
      leader_id:
        type: integer
      currency_code:
        type: string
      wage:
        type: float
      boss:
        $ref: '#/definitions/BossModel'
      without_wage:
        type: boolean
  CurrentJobDetails:
    properties:
      periodicity:
        type: string
        description: Periodicidad de pago del empleado
        example: mensual
      zone_assignment:
        type: string
        description: Zona de trabajo asignada al empleado
        example: Santiago
  VacationType:
    properties:
      name:
        type: string
        description: Nombre del tipo de vacación
        example: Legales
      code:
        type: string
        description: Código del tipo de vacación
        example: legales
  EarnedVacations:
    properties:
      vacation_definition_id:
        type: integer
        description: ID de la política de vacaciones
        example: 1
      vacation_type_id:
        type: integer
        description: ID del tipo de vacación
        example: 2
      earned_days:
        type: number
        description: Días de vacaciones acumulados
        example: 15.5
      period_start_date:
        type: string
        format: date
        description: Fecha de inicio del período de acumulación
        example: '2024-01-01'
      earned_at:
        type: string
        format: date
        description: Fecha en que se devengaron las vacaciones
        example: '2024-06-30'
      proportional:
        type: boolean
        description: Indica si las vacaciones son proporcionales
        example: true
      compensated:
        type: boolean
        description: Indica si las vacaciones fueron compensadas en dinero
        example: false
      expiration_date:
        type: date
        description: Fecha de vencimiento de las vacaciones
        example: '2025-12-31'
  BasePersonIdentifier:
    properties:
      document_number:
        type: string
        description: Document Number of  Colaborador.
      document_type:
        type: string
        description: 'Document Type Colaborador. Valid Document Types in the {code: translation} format are: {"ci_brasil":"CPF","otro":"Other"}'
  EmployeeFileBase64:
    properties:
      content:
        type: string
      filename:
        type: string
  EmployeeFileListDetail:
    properties:
      file_id:
        type: integer
      filename:
        type: string
      path:
        type: string
      created_at:
        type: string
  EmployeeInputCloneCountry:
    properties:
      payment_method:
        type: string
        description: Payment Method
        enum:
        - Cheque
        - Efectivo
        - No Generar Pago
        - Transferencia Bancaria
      bank:
        type: string
        description: Bank Mandatory if payment_method is "Bank Transfer".
        enum:
        - BANCO DIGIMAIS
        - ABC-BRASIL SA
        - ARBI SA
        - AZTECA DO BRASIL SA
        - BANCO ALFA
        - Banco Classico SA
        - BANCO DA CHINA BRASIL SA
        - BANCO DE LA NACION ARGENTINA
        - BANCO DE LA PROVINCIA DE BUENOS AIRES
        - BANCO DE LA REPUBLICA ORIENTAL DEL URUGUAY
        - BANCO DO BRASIL
        - BANCO DO ESTADO DO PARÁ SA
        - BANCO TOKYO MITSUBISH UFJ BRASIL SA
        - BANCO WESTLB DO BRASIL
        - BANCO XP
        - BANCOOB
        - BANESE
        - BANESTES
        - BANIF-BANCO INTERNACIONAL DO FUNCHAL (BRASIL) SA
        - BANK OF AMERICA MERRILL LYNCH BANCO MULTIPLO SA
        - BANRISUL
        - BARCLAYS SA
        - BASA
        - BBM SA
        - BANCO SEGURO SA
        - BCV - BANCO DE CREDITO E VAREJO SA
        - BEM
        - BERJ SA
        - BES INVESTIMENTO DO BRASIL SA - BANCO DE INVESTIM
        - BGN SA
        - BIC BANCO
        - BM&F DE SERV DE LIQUIDACAO E CUSTODIA SA
        - BMC SA
        - BMG SA
        - BNB
        - BNP PARIBAS BRASIL SA
        - BNY MELLON SA
        - BOA VISTA INTERATLANTICO SA
        - BONSUCESSO SA
        - BANCO CREFISA SA
        - BRACCE SA
        - BRADESCO
        - BRASCAN SA
        - BRASIL PLURAL SA BANCO MULTIPLO
        - BRB
        - BRICKELL S A CREDITO, FINANCIAMENTO E INVESTIMENTO
        - BTG PACTUAL SA
        - CACIQUE SA
        - CAIXA ECON FEDERAL
        - CAIXA GERAL - BRASIL SA
        - CAPITAL SA
        - CARGILL SA
        - CC UNICRED BRASIL CENTRAL
        - CC UNIPRIME NORTE DO PARANA
        - CECOOPES-CENTRAL DAS COOP DE ECON E CRED MUTUO DO
        - AILOS - COOPERATIVA CENTRAL DE CREDITO
        - CEDULA SA
        - CIFRA SA
        - CITIBANK
        - Citibank NA
        - COOPERATIVA CENTRAL DE CREDITO DO ESTADO DE SP
        - COOPERATIVA CENTRAL DE CREDITO NOROESTE BRASILEIRO
        - COOPERATIVA DE CREDITO RURAL DA REGIAO DA MOGIANA
        - CR2 SA
        - CREDIALIANCA COOPERATIVA DE CREDITO RURAL
        - CREDIT AGRICOLE BRASIL SA
        - CREDIT SUISSE (BRASIL) SA
        - DAYCOVAL
        - DEUTSCHE BANK S A - BANCO ALEMAO
        - DIBENS SA
        - FATOR SA
        - FIBRA
        - BANCO C6 CONSIGNADO S A
        - BANCO AGIBANK SA
        - GUANABARA SA
        - HIPERCARD BANCO MULTIPLO SA
        - HSBC
        - IBI
        - INDUSTRIAL DO BRASIL S A
        - INDUSVAL SA
        - ING BANK NV
        - INTERCAP SA
        - BANCO INTER
        - Investcred Unibanco
        - ITAÚ
        - ITAU HOLDING FINANCEIRA SA
        - Itaú-BBA
        - J SAFRA SA
        - JP MORGAN SA
        - JOHN DEERE SA
        - JPMORGAN CHASE BANK
        - KDB DO BRASIL SA
        - KEB DO BRASIL SA
        - Luso Brasileiro
        - BANCO MASTER S A
        - MERCANTIL DO BRASIL
        - MODAL SA
        - MORGAN STANLEY DEAN WITTER SA
        - NATIXIS BRASIL SA - BANCO MòLTIPLO
        - NUBANK (NU PAGAMENTOS S.A.)
        - NBC BANK BRASIL SA- BANCO MULTIPLO
        - OPPORTUNITY SA
        - PICPAY BANK
        - ORIGINAL SA
        - PANAMERICANO
        - PARANA BANCO SA
        - PAULISTA
        - PECUNIA SA
        - PETRA SA
        - PINE SA
        - POTTENCIAL SA
        - RABOBANK INTERNATIONAL BRASIL SA
        - RANDON SA
        - RENDIMENTO SA
        - RIBEIRÃO PRETO
        - RODOBENS SA
        - RURAL
        - RURAL MAIS SA
        - SAFRA
        - SANTANDER BRASIL
        - SCOTIABANK BRASIL SA BANCO MULTIPLO
        - SEMEAR SA
        - SICREDI
        - SIMPLES SA
        - SOCIETE GENERALE BRASIL SA
        - SOFISA SA
        - SUMITOMO MITSUI BRASILEIRO SA
        - TOPAZIO SA
        - Triangulo
        - UNICARD BANCO MULTIPLO SA
        - UNICRED CENTRAL RS - CENTRAL DE COOP ECON CRED MUT
        - UNICRED CENTRAL SANTA CATARINA
        - UNIPRIME
        - VOTORANTIM
        - VR SA
        - WESTERN UNION DO BRASIL SA
        - WOORI BANK DO BRASIL SA
        - BANCO CRESOL
        - SERVICOOP
        - FACTA FINANCEIRA S.A
        - PARATI CFI S.A
        - C6 BANK
        - QI SOCIEDADE DE CREDITO DIRETO S.A
        - BANCO INBURSA SA
        - LECCA
        - UNICRED
        - VALOR S/A
        - SENFF SA
        - WILL FINANCEIRA SA
        - MERCADO PAGO
        - BARI SA
        - BANCO DIGIO
        - CREDITAS
        - AL5
        - MIDWAY
        - COOPERFORTE
        - PICPAY
        - NUBANK
        - BANCO VOLKSWAGEN
        - BANCO BV SA
        - NEON
        - CREDIFIT
        - CAPITAL CONSIG
        - PAN FINANCEIRA
        - KONECT
        - CELCOIN
        - BANCO INTER SA
        - COOPER JOHNSON
      account_type:
        type: string
        description: Account type. Mandatory if payment_method is "Bank Transfer".
        enum:
        - Conta Corrente
        - Conta Poupança
        - Conta Salário
      account_number:
        type: string
        description: Account Number Mandatory if payment_method is "Bank Transfer".
      code_sheet:
        type: string
        description: File Code
      start_date:
        type: string
        description: Company Entry Date
        format: date
      private_role:
        type: boolean
      custom_attributes:
        type: object
      period_type:
        if: {}
        type: string
        description: 'Payment Frequency: monthly, semi_monthly or weekly.'
  EmployeeFamilyResponsability:
    properties:
      id:
        type: integer
      family_allowance_section:
        type: string
      maternity_family_responsability:
        type: string
      invalid_family_responsability:
        type: string
      start_date:
        type: string
        format: date
      end_date:
        type: string
        format: date
      responsability_details:
        $ref: '#/definitions/ResponsabilityDetail'
  RecintoModel:
    properties:
      id:
        type: integer
      code:
        type: string
  PlanInputCountry:
    required:
    - health_company
    properties:
      health_company:
        type: string
        description: {}
        enum:
        - base
      health_plan_identifier:
        type: string
        description: {}
      complementary_insurance_company:
        type: string
        description: {}
  Vacations:
    properties:
      name:
        type: string
        description: Nombre del tipo de vacación
        example: Vacaciones legales
      stock:
        type: number
        description: Saldo de días disponibles
        example: 15.5
  DocumentSignature:
    properties:
      signature_type:
        type: string
      person_id:
        type: number
      position:
        type: number
      status:
        type: string
      signed_at:
        type: string
      confirmation_code_channel:
        type: string
      created_at:
        type: string
  Absences::Permission::Response:
    allOf:
    - properties:
        paid:
          type: boolean
        permission_type_id:
          type: integer
        permission_type_code:
          type: string
        time_measure:
          type: string
          enum:
          - per_day
          - per_hour
          - both
        start_time:
          type: string
          format: time
          example: '13:00:00'
        end_time:
          type: string
          format: time
          example: '13:30:00'
      required:
      - paid
    - $ref: '#/definitions/Absence::Response'
  EmployeeResponsePatch:
    allOf:
    - $ref: '#/definitions/EmployeeInputBase'
    - $ref: '#/definitions/EmployeeInputCountry'
  EmployeeFileDetail:
    properties:
      id:
        type: integer
      employee_folder_id:
        type: integer
      document_template_id:
        type: integer
      original_filename:
        type: string
      is_visible:
        type: boolean
      settings:
        type: object
        properties:
          pdf_orientation:
            type: string
          employee_sign:
            type: boolean
          legal_agent_sign:
            type: boolean
          second_legal_agent_sign:
            type: boolean
          is_external:
            type: boolean
      signatures:
        type: array
        items:
          $ref: '#/definitions/DocumentSignature'
      reviewer_id:
        type: integer
  Absences::Licence::Response:
    allOf:
    - $ref: '#/definitions/LicenceBase'
    - $ref: '#/definitions/LicenceType'
    - properties:
        licence_type_code:
          type: string
        licence_number:
          type: string
        medic_name:
          type: string
        custom_attributes:
          type: object
    - $ref: '#/definitions/MedicIdentifier'
    - $ref: '#/definitions/Absence::Response'
  EmployeeInputBase:
    properties:
      picture_url:
        type: string
  VacationDefinitionOutput:
    properties:
      vacation_definitions:
        type: array
        description: Lista de políticas de vacaciones
        example: []
        items:
          $ref: '#/definitions/VacationDefinition'
  bad_request:
    properties:
      errors:
        type: array
        items:
          type: string
  BossModel:
    properties:
      id:
        type: integer
      cpf:
        type: string
    allOf:
    - $ref: '#/definitions/BasePersonIdentifier'
  RoleFamily:
    properties:
      id:
        type: integer
      name:
        type: string
      quantity_of_roles:
        type: integer
  PlanResponseCountry:
    properties:
      start_date:
        type: string
        format: date
      health_company:
        type: string
      health_plan_identifier:
        type: string
      complementary_insurance_company:
        type: string
  Pagination:
    properties:
      next:
        type: string
      previous:
        type: string
      count:
        type: integer
      total_pages:
        type: integer
  EmployeeCurrentJob:
    properties:
      periodicity:
        type: string
      frequency:
        type: string
      working_schedule_type:
        type: string
      zone_assignment:
        type: boolean
      previous_job_id:
        type: integer
      company_id:
        type: integer
      area_id:
        type: integer
      contract_term:
        type: string
        format: date
      contract_type:
        type: string
      start_date:
        type: string
        format: date
      end_date:
        type: string
        format: date
      active_until:
        type: string
        format: date
      contract_finishing_date_1:
        type: string
        format: date
      contract_finishing_date_2:
        type: string
        format: date
      weekly_hours:
        type: integer
      base_wage:
        type: integer
      cost_center:
        type: string
      role:
        $ref: '#/definitions/Role'
      custom_attributes:
        type: object
      union:
        type: citext
      project:
        type: string
      days:
        type: array
        items:
          type: string
        example:
        - l
        - m
        - w
        - j
        - v
      boss:
        $ref: '#/definitions/BossModel'
      recinto_primario:
        $ref: '#/definitions/RecintoModel'
      recinto_secundario:
        type: array
        items:
          $ref: '#/definitions/RecintoModel'
  LicenceType:
    properties:
      type:
        type: string
        enum:
        - accidente_comun
        - prorroga
        - pre_natal
        - post_natal
        - parental
        - niño_menor
        - accidente_trabajo
        - accidente_trayecto
        - enfermedad_profesional
        - embarazo
  ResponsibilityDetail:
    properties:
      id:
        type: integer
      rut:
        type: string
      gender:
        type: string
      first_name:
        type: string
      first_surname:
        type: string
      second_surname:
        type: string
      birthday:
        type: string
        format: date
      legal_responsibility:
        type: boolean
      health_plan:
        type: boolean
      relation:
        type: string
      expiration_date:
        type: string
        format: date
      retirement_fund:
        type: string
      voluntary_enrollment:
        type: boolean
      voluntary_retirement_percentage:
        type: number
      voluntary_account_2:
        type: integer
      custom_attributes:
        type: object
  EmployeeFamilyResponsibility:
    properties:
      id:
        type: integer
      family_allowance_section:
        type: string
      maternity_family_responsibility:
        type: string
      invalid_family_responsibility:
        type: string
      simple_family_responsibility:
        type: string
      start_date:
        type: string
        format: date
      end_date:
        type: string
        format: date
      responsibility_details:
        type: array
        items:
          $ref: '#/definitions/ResponsibilityDetail'
  EmployeeInputCountry:
    allOf:
    - $ref: '#/definitions/BasePersonIdentifier'
    required:
    - first_name
    - surname
    - document_type
    - rut
    - nationality
    - gender
    - civil_status
    - birthday
    - email
    - location_id
    - address
    - payment_method
    - start_date
    properties:
      first_name:
        type: string
        description: Name
      surname:
        type: string
        description: Surname
      second_surname:
        type: string
        description: Second Surname
      code_sheet:
        type: string
        description: Code
      nationality:
        type: string
        description: Nationality Code
        enum:
        - AD
        - AE
        - AF
        - AG
        - AI
        - AL
        - AM
        - AO
        - AQ
        - AR
        - AS
        - AT
        - AU
        - AW
        - AX
        - AZ
        - BA
        - BB
        - BD
        - BE
        - BF
        - BG
        - BH
        - BI
        - BJ
        - BL
        - BM
        - BN
        - BO
        - BQ
        - BR
        - BS
        - BT
        - BV
        - BW
        - BY
        - BZ
        - CA
        - CC
        - CD
        - CF
        - CG
        - CH
        - CI
        - CK
        - CL
        - CM
        - CN
        - CO
        - CR
        - CU
        - CV
        - CW
        - CX
        - CY
        - CZ
        - DE
        - DJ
        - DK
        - DM
        - DO
        - DZ
        - EC
        - EE
        - EG
        - EH
        - ER
        - ES
        - ET
        - FI
        - FJ
        - FK
        - FM
        - FO
        - FR
        - GA
        - GB
        - GD
        - GE
        - GF
        - GG
        - GH
        - GI
        - GL
        - GM
        - GN
        - GP
        - GQ
        - GR
        - GS
        - GT
        - GU
        - GW
        - GY
        - HK
        - HM
        - HN
        - HR
        - HT
        - HU
        - ID
        - IE
        - IL
        - IM
        - IN
        - IO
        - IQ
        - IR
        - IS
        - IT
        - JE
        - JM
        - JO
        - JP
        - KE
        - KG
        - KH
        - KI
        - KM
        - KN
        - KP
        - KR
        - KW
        - KY
        - KZ
        - LA
        - LB
        - LC
        - LI
        - LK
        - LR
        - LS
        - LT
        - LU
        - LV
        - LY
        - MA
        - MC
        - MD
        - ME
        - MF
        - MG
        - MH
        - MK
        - ML
        - MM
        - MN
        - MO
        - MP
        - MQ
        - MR
        - MS
        - MT
        - MU
        - MV
        - MW
        - MX
        - MY
        - MZ
        - NA
        - NC
        - NE
        - NF
        - NG
        - NI
        - NL
        - 'NO'
        - NP
        - NR
        - NU
        - NZ
        - OM
        - PA
        - PE
        - PF
        - PG
        - PH
        - PK
        - PL
        - PM
        - PN
        - PR
        - PS
        - PT
        - PW
        - PY
        - QA
        - RE
        - RO
        - RS
        - RU
        - RW
        - SA
        - SB
        - SC
        - SD
        - SE
        - SG
        - SH
        - SI
        - SJ
        - SK
        - SL
        - SM
        - SN
        - SO
        - SR
        - SS
        - ST
        - SV
        - SX
        - SY
        - SZ
        - TC
        - TD
        - TF
        - TG
        - TH
        - TJ
        - TK
        - TL
        - TM
        - TN
        - TO
        - TR
        - TT
        - TV
        - TW
        - TZ
        - UA
        - UG
        - UM
        - US
        - UY
        - UZ
        - VA
        - VC
        - VE
        - VG
        - VI
        - VN
        - VU
        - WF
        - WS
        - YE
        - YT
        - ZA
        - ZM
        - ZW
        default: BR
      gender:
        type: string
        description: Gender
        enum:
        - M
        - F
      civil_status:
        type: string
        description: Marital Status
        enum:
        - single
        - married
        - divorced
        - separated
        - widowed
      birthday:
        type: string
        description: Date of Birth
        format: date
      email:
        type: string
        description: Corporate Email
        format: email
      personal_email:
        type: string
        description: Personal Email
        format: email
      location_id:
        type: integer
        description: Commune
      address:
        type: string
        description: Address
      payment_method:
        type: string
        description: Payment Method
        enum:
        - Cheque
        - Efectivo
        - No Generar Pago
        - Transferencia Bancaria
      bank:
        type: string
        description: Bank Mandatory if payment_method is "Bank Transfer".
        enum:
        - BANCO DIGIMAIS
        - ABC-BRASIL SA
        - ARBI SA
        - AZTECA DO BRASIL SA
        - BANCO ALFA
        - Banco Classico SA
        - BANCO DA CHINA BRASIL SA
        - BANCO DE LA NACION ARGENTINA
        - BANCO DE LA PROVINCIA DE BUENOS AIRES
        - BANCO DE LA REPUBLICA ORIENTAL DEL URUGUAY
        - BANCO DO BRASIL
        - BANCO DO ESTADO DO PARÁ SA
        - BANCO TOKYO MITSUBISH UFJ BRASIL SA
        - BANCO WESTLB DO BRASIL
        - BANCO XP
        - BANCOOB
        - BANESE
        - BANESTES
        - BANIF-BANCO INTERNACIONAL DO FUNCHAL (BRASIL) SA
        - BANK OF AMERICA MERRILL LYNCH BANCO MULTIPLO SA
        - BANRISUL
        - BARCLAYS SA
        - BASA
        - BBM SA
        - BANCO SEGURO SA
        - BCV - BANCO DE CREDITO E VAREJO SA
        - BEM
        - BERJ SA
        - BES INVESTIMENTO DO BRASIL SA - BANCO DE INVESTIM
        - BGN SA
        - BIC BANCO
        - BM&F DE SERV DE LIQUIDACAO E CUSTODIA SA
        - BMC SA
        - BMG SA
        - BNB
        - BNP PARIBAS BRASIL SA
        - BNY MELLON SA
        - BOA VISTA INTERATLANTICO SA
        - BONSUCESSO SA
        - BANCO CREFISA SA
        - BRACCE SA
        - BRADESCO
        - BRASCAN SA
        - BRASIL PLURAL SA BANCO MULTIPLO
        - BRB
        - BRICKELL S A CREDITO, FINANCIAMENTO E INVESTIMENTO
        - BTG PACTUAL SA
        - CACIQUE SA
        - CAIXA ECON FEDERAL
        - CAIXA GERAL - BRASIL SA
        - CAPITAL SA
        - CARGILL SA
        - CC UNICRED BRASIL CENTRAL
        - CC UNIPRIME NORTE DO PARANA
        - CECOOPES-CENTRAL DAS COOP DE ECON E CRED MUTUO DO
        - AILOS - COOPERATIVA CENTRAL DE CREDITO
        - CEDULA SA
        - CIFRA SA
        - CITIBANK
        - Citibank NA
        - COOPERATIVA CENTRAL DE CREDITO DO ESTADO DE SP
        - COOPERATIVA CENTRAL DE CREDITO NOROESTE BRASILEIRO
        - COOPERATIVA DE CREDITO RURAL DA REGIAO DA MOGIANA
        - CR2 SA
        - CREDIALIANCA COOPERATIVA DE CREDITO RURAL
        - CREDIT AGRICOLE BRASIL SA
        - CREDIT SUISSE (BRASIL) SA
        - DAYCOVAL
        - DEUTSCHE BANK S A - BANCO ALEMAO
        - DIBENS SA
        - FATOR SA
        - FIBRA
        - BANCO C6 CONSIGNADO S A
        - BANCO AGIBANK SA
        - GUANABARA SA
        - HIPERCARD BANCO MULTIPLO SA
        - HSBC
        - IBI
        - INDUSTRIAL DO BRASIL S A
        - INDUSVAL SA
        - ING BANK NV
        - INTERCAP SA
        - BANCO INTER
        - Investcred Unibanco
        - ITAÚ
        - ITAU HOLDING FINANCEIRA SA
        - Itaú-BBA
        - J SAFRA SA
        - JP MORGAN SA
        - JOHN DEERE SA
        - JPMORGAN CHASE BANK
        - KDB DO BRASIL SA
        - KEB DO BRASIL SA
        - Luso Brasileiro
        - BANCO MASTER S A
        - MERCANTIL DO BRASIL
        - MODAL SA
        - MORGAN STANLEY DEAN WITTER SA
        - NATIXIS BRASIL SA - BANCO MòLTIPLO
        - NUBANK (NU PAGAMENTOS S.A.)
        - NBC BANK BRASIL SA- BANCO MULTIPLO
        - OPPORTUNITY SA
        - PICPAY BANK
        - ORIGINAL SA
        - PANAMERICANO
        - PARANA BANCO SA
        - PAULISTA
        - PECUNIA SA
        - PETRA SA
        - PINE SA
        - POTTENCIAL SA
        - RABOBANK INTERNATIONAL BRASIL SA
        - RANDON SA
        - RENDIMENTO SA
        - RIBEIRÃO PRETO
        - RODOBENS SA
        - RURAL
        - RURAL MAIS SA
        - SAFRA
        - SANTANDER BRASIL
        - SCOTIABANK BRASIL SA BANCO MULTIPLO
        - SEMEAR SA
        - SICREDI
        - SIMPLES SA
        - SOCIETE GENERALE BRASIL SA
        - SOFISA SA
        - SUMITOMO MITSUI BRASILEIRO SA
        - TOPAZIO SA
        - Triangulo
        - UNICARD BANCO MULTIPLO SA
        - UNICRED CENTRAL RS - CENTRAL DE COOP ECON CRED MUT
        - UNICRED CENTRAL SANTA CATARINA
        - UNIPRIME
        - VOTORANTIM
        - VR SA
        - WESTERN UNION DO BRASIL SA
        - WOORI BANK DO BRASIL SA
        - BANCO CRESOL
        - SERVICOOP
        - FACTA FINANCEIRA S.A
        - PARATI CFI S.A
        - C6 BANK
        - QI SOCIEDADE DE CREDITO DIRETO S.A
        - BANCO INBURSA SA
        - LECCA
        - UNICRED
        - VALOR S/A
        - SENFF SA
        - WILL FINANCEIRA SA
        - MERCADO PAGO
        - BARI SA
        - BANCO DIGIO
        - CREDITAS
        - AL5
        - MIDWAY
        - COOPERFORTE
        - PICPAY
        - NUBANK
        - BANCO VOLKSWAGEN
        - BANCO BV SA
        - NEON
        - CREDIFIT
        - CAPITAL CONSIG
        - PAN FINANCEIRA
        - KONECT
        - CELCOIN
        - BANCO INTER SA
        - COOPER JOHNSON
      account_type:
        type: string
        description: Account type. Mandatory if payment_method is "Bank Transfer".
        enum:
        - Conta Corrente
        - Conta Poupança
        - Conta Salário
      account_number:
        type: string
        description: Account Number Mandatory if payment_method is "Bank Transfer".
      start_date:
        type: string
        description: Company Entry Date
        format: date
      private_role:
        type: boolean
        description: Private Role
      active:
        type: boolean
        description: Active. the use of ~~true and false~~ is obsolete.
        default: true
  Attendances::Overtime::Response:
    properties:
      day:
        type: integer
      month:
        type: integer
      year:
        type: integer
      hours:
        type: number
        format: float
      id:
        type: integer
      employee_id:
        type: integer
      type_id:
        type: integer
      centro_costo:
        type: string
      centro_costo_code:
        type: string
  Absences::Absence::Response:
    allOf:
    - properties:
        absence_type_id:
          type: integer
        absence_type_code:
          type: string
    - $ref: '#/definitions/Absence::Response'
  MinimalEmployeeCountry: {}
  ResponsabilityDetail:
    properties:
      id:
        type: integer
      gender:
        type: string
      first_name:
        type: string
      first_surname:
        type: string
      second_surname:
        type: string
      birthday:
        type: string
        format: date
      legal_responsability:
        type: string
      health_plan:
        type: string
      relation:
        type: string
      expiration_date:
        format: date
      retirement_fund:
        type: string
      voluntary_enrollment:
        type: string
      voluntary_retirement_percentage:
        type: string
      voluntary_account_2:
        type: string
      custom_attributes:
        type: object
      rut:
        type: string
  VacationsAvailable:
    properties:
      employee_id:
        type: integer
        description: ID del empleado
        example: 123
      full_name:
        type: string
        description: Nombre completo del empleado
        example: Juan Perez Gonzalez
      nationality:
        type: string
        description: Nacionalidad del empleado
        example: Chilena
      civil_status:
        type: string
        description: Estado civil del empleado
        example: Soltero
      private_role:
        type: boolean
        description: Indica si el empleado tiene cargo de confianza
        example: false
      code_sheet:
        type: string
        description: Código de planilla del empleado
        example: EMP-001
      pension_regime:
        type: string
        description: Régimen previsional del empleado
        example: AFP
      pension_fund:
        type: string
        description: AFP o institución previsional del empleado
        example: Cuprum
      current_job:
        $ref: '#/definitions/CurrentJobDetails'
        description: Detalle del cargo actual del empleado
        example: {}
      vacations:
        type: array
        description: Lista de tipos de vacaciones con saldo disponible
        example: []
        items:
          $ref: '#/definitions/Vacations'
  JobInputCountryPost:
    required:
    - company_id
    - start_date
    - type_of_contract
    - vinculation
    - tipo_jornada
    - otros_tipo_jornada
    - regimen_laboral
    - admission_indicative
    - admission_type
    - regimen_previsional
    - regular_hours
    - work_day_description
    - area_id
    - role_id
    - leader_id
    - wage
    properties:
      company_id:
        type: integer
        description: {}
      start_date:
        type: string
        format: date
        description: Fecha Inicio
      type_of_contract:
        type: string
        description: Tipo Contrato
        enum:
        - indeterminate
        - determined_by_days
        - determined_by_event
      end_of_contract:
        type: string
        format: date
        description: Término Contrato
      regular_hours:
        type: number
        format: float
        description: Horario Semanal
      days:
        type: object
        description: Dias de la Jornada Laboral
        example:
        - l
        - m
        - w
        - j
        - v
      vinculation:
        type: string
        description: Vinculación Laboral
        enum:
        - total_discount_rate
        - difference_discount_rate
        - discount_rate_does_not_apply
        - does_not_have
      tipo_jornada:
        type: string
        description: Tipo de Jornada
        enum:
        - workday_12x36
        - workday_variable_free_time
        - workday_fixed_free_time
        - workday_fixed_free_time_except_sunday
        - workday_fixed_time_additional_sunday
        - workday_uninterrupted
        - other_workday
      otros_tipo_jornada:
        type: string
        description: Otros Tipos de Jornada
        enum:
        - subject_to_workday
        - external_forseen_activity
        - forseen_function
        - remote_work
        - no_reportable_esocial_workday
      regimen_laboral:
        type: string
        description: Régimen Laboral
        enum:
        - general_employee
        - intermitent_employee
        - domestic_employee
        - rural_employee
        - apprentice
        - fixed_term_employee
        - temporary_employee
        - estagiario
        - prolabore_722
        - prolabore_723
        - no_reportable_esocial_work_category
      admission_indicative:
        type: string
        description: Indicativo de Admisión
        enum:
        - normal
        - fiscal_action
        - judicial_action
      admission_type:
        type: string
        description: Tipo de Admisión
        enum:
        - admission
        - transference_company_same_group
        - transferencia_company_consortium
        - transferencia_succesion_incorporation_fusion
        - transferencia_domestinc_employee
        - cpf_movement
        - transference_company_unexistence
      regimen_previsional:
        type: string
        description: Régimen Previsional
        enum:
        - general_social_regime
        - social_security_regime
        - no_reportable_esocial_social_security_regime
      wage_type:
        type: string
        description: Tipo Salario, default 'variable'
        enum:
        - fixed
        - mixed
        - variable
      wage:
        type: number
        format: float
        description: Sueldo Base
      work_day_description:
        type: string
        description: Descripción de Jornada de Trabajo
      position_of_trust:
        type: boolean
        description: Cargo de Confianza
      function_of_trust:
        type: string
        description: Función de Confianza
      experience_contract:
        type: boolean
        description: Contrato de Experiencia
      unhealthiness_additional:
        type: string
        description: Adicional de Insalubridad
        enum:
        - 'no'
        - low
        - medium
        - high
      dangerousness_additional:
        type: string
        description: Adicional de Peligrosidad
        enum:
        - 'no'
        - 'yes'
      night_shift:
        type: boolean
        description: Trabajo Nocturno
      esocial_code:
        type: string
        description: Código eSocial
      area_id:
        type: integer
        description: Área
      role_id:
        type: integer
        description: Cargo
      leader_id:
        type: integer
        description: Supervisor
      without_wage:
        type: boolean
        description: Tiene Liquidación
        default: false
      custom_attributes:
        type: object
  VacationDefinitionInput:
    properties:
      code:
        type: string
        description: Código de la política de vacaciones
        example: legales
  LicenceBase:
    required:
    - type
    - format
    properties:
      licence_type_id:
        type: integer
      contribution_days:
        type: integer
      format:
        type: string
        enum:
        - electronica
        - fisica
  Role:
    properties:
      id:
        type: integer
        description: Identificador único del cargo
        example: 1
      code:
        type: string
        description: Código del cargo
        example: ROL-001
      name:
        type: string
        description: Nombre del cargo
        example: Analista
      description:
        type: string
        description: Descripción del cargo
        example: Gestion
      requirements:
        type: string
        description: Requisitos del cargo
        example: Universitario
      role_family:
        type: object
        $ref: '#/definitions/RoleFamily'
        description: Familia de cargos a la que pertenece el cargo
      area_ids:
        type: array
        description: Identificadores de las áreas asociadas al cargo
        items:
          type: integer
          example: 1
      custom_attributes:
        type: object
        description: Atributos personalizados del cargo
        example: {}
  Employee::Response::Minimal:
    allOf:
    - $ref: '#/definitions/EmployeeInputBase'
    - $ref: '#/definitions/EmployeeInputCountry'
    properties:
      period_type:
        if: {}
        type: string
        description: 'Frecuencia de pago: monthly, semi_monthly o weekly.'
  VacationDefinition:
    properties:
      id:
        type: integer
        description: ID de la política de vacaciones
        example: 1
      code:
        type: string
        description: Código de la política
        example: legales
      name:
        type: string
        description: Nombre de la política de vacaciones
        example: Vacaciones legales
      vacation_type:
        type: object
        $ref: '#/definitions/VacationType'
        description: Tipo de vacación asociado
        example:
          name: Legales
          code: legales
securityDefinitions:
  auth_token:
    type: apiKey
    name: auth_token
    in: header
x-refined-from:
- buk-data-access-api-brasil-openapi.yml
- buk-data-access-api-chile-openapi.yml
- buk-data-access-api-colombia-openapi.yml
- buk-data-access-api-mexico-openapi.yml
- buk-data-access-api-peru-openapi.yml
