openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Unexcused absence API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Unexcused absence
paths:
  /absences/absence/types:
    get:
      summary: List time off types
      description: 'Displays the list of types of time off leaves in the system.


        The filter with salary payment (with_pay) is optional.


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Unexcused absence
      parameters:
      - name: with_pay
        description: (OPTIONAL) paid?
        in: query
        schema:
          type: boolean
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive an array (data) with time off types
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LicenceType__Response'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LicenceType__Response'
      operationId: getAbsencesAbsenceTypes
      x-operation-id-source: derived
    post:
      summary: Create a time off type
      description: 'Creates a type of time off in the system.


        A LicenceType object must be sent as a JSON object in the

        the body of the request, composed of the following attributes:

        - code: Unique code that identifies the time off

        - name: Name of type of time off

        - description: Description of type of time off

        with_pay: whether it includes salary payment or not (optional, by default is false)

        requestable: whether the type of time off can be requested by the Colaborador (optional, by default is false)


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Unexcused absence
      responses:
        '201':
          description: API response after creating an absence request.
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  licence_type:
                    $ref: '#/components/schemas/LicenceType__Response'
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
                  licence_type:
                    $ref: '#/components/schemas/LicenceType__Response'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenceType__Request'
        description: LicenceType object
      operationId: postAbsencesAbsenceTypes
      x-operation-id-source: derived
  /absences/absence/types/{id}:
    get:
      summary: View a time off type
      description: 'View a type of time off based on its ID.


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Unexcused absence
      parameters:
      - name: id
        description: Time off type ID
        in: path
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: As a response, we receive the information of the requested time off type
          name: data
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/LicenceType__Response'
            application/pdf:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/LicenceType__Response'
        '404':
          description: The requested resource does not exist
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getAbsencesAbsenceTypesById
      x-operation-id-source: derived
    delete:
      summary: Delete a time off type
      description: 'Delete a type of time off based on its ID.


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Unexcused absence
      parameters:
      - name: id
        description: Time off type ID
        in: path
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: As a response, we confirm that the resource has been successfully deleted.
          name: data
          content:
            application/json:
              schema:
                properties:
                  deleted:
                    type: boolean
            application/pdf:
              schema:
                properties:
                  deleted:
                    type: boolean
        '404':
          description: The requested resource does not exist
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: deleteAbsencesAbsenceTypesById
      x-operation-id-source: derived
  /absences/absence:
    get:
      summary: List time off leaves
      description: 'Displays the time off registered in the system within a date range (optional).

        Description of attributes:

        - employee_id: ID of the Colaborador associated with this Time Off. - start_date: Fecha de Inicio*: - days_count: Number of days of duration. - day_percent: Percentage of the day the Colaborador will take. Accepts 0.5 or 1, meaning half a day or a full day. If left blank it is considered as a full day (optional). - workday_stage: stage of the working hours. Among the accepted entries are "full_working_day" for day_percent equal to 1, and when day_percent equal to 0.5 the allowed values are "start_working_day" and "end_working_day" (optional). - type: Tipo de Time Off. - contribution_days: Number of days that are employer contribution. - application_date: Fecha en que se debe aplicar la Time Off (opcional). - custom_attributes: Custom attributes (optional). - justification: Supplementary justification text (optional). - absence_type_id: Id of the type of time off to which it corresponds, these can be seen with the GET operation for "List types of time off". - absence_type_code: Code of the type of time off to which it corresponds.


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura''.'
      tags:
      - Unexcused absence
      parameters:
      - name: from
        description: Start date of the range in YYYY-MM-DD format.
        in: query
        schema:
          type: string
          format: date
      - name: to
        description: End date of the range in YYYY-MM-DD format.
        in: query
        schema:
          type: string
          format: date
      - name: page
        in: query
        description: (OPTIONAL) Page for query
        schema:
          type: integer
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive an array (data) with the time off leaves.
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Absences::Absence::Response'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Absences::Absence::Response'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getAbsencesAbsence
      x-operation-id-source: derived
    delete:
      summary: Delete Time Off Leaves
      description: 'Delete absences using the filters you prefer: you can enter a list of Colaboradores IDs and/or a start date range. Filters are optional, but you must send at least one of the three: employee_ids, start_date, or end_date.


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Unexcused absence
      parameters:
      - name: employee_ids
        description: 'Enter the Colaboradores IDs separated by commas. Do not use other separators or parentheses. For example: 1,2,3'
        in: query
        schema:
          type: array
      - name: start_date
        description: Start date of the search query period in YYYY-MM-DD format.
        in: query
        schema:
          type: string
          format: date
      - name: end_date
        description: End date of the search query period in YYYY-MM-DD format.
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: As a response, we confirm that all the resources have been successfully deleted.
          name: data
          content:
            application/json:
              schema:
                properties:
                  deleted:
                    type: boolean
            application/pdf:
              schema:
                properties:
                  deleted:
                    type: boolean
        '404':
          description: When there are no allowed resources to delete
          name: data
          content:
            application/json:
              schema:
                properties:
                  deleted:
                    type: boolean
                    default: false
            application/pdf:
              schema:
                properties:
                  deleted:
                    type: boolean
                    default: false
        '400':
          description: When an error occurs while deleting a record
          name: data
          content:
            application/json:
              schema:
                properties:
                  deleted:
                    type: boolean
                    default: false
                  errors:
                    type: object
                    properties:
                      record_id:
                        type: integer
                        description: ID of the resource that generated the error
                      msj:
                        type: string
                        description: Error description
            application/pdf:
              schema:
                properties:
                  deleted:
                    type: boolean
                    default: false
                  errors:
                    type: object
                    properties:
                      record_id:
                        type: integer
                        description: ID of the resource that generated the error
                      msj:
                        type: string
                        description: Error description
      operationId: deleteAbsencesAbsence
      x-operation-id-source: derived
    post:
      summary: Create unjustified Time Off
      description: 'Create a new unexcused absence time off leave type in the system.

        Se debe enviar como JSON un objeto tipo Ausencia en el cuerpo de la petición.

        Description of attributes:

        - employee_id: ID of the Colaborador associated with this Time Off. - start_date: Fecha de Inicio*: - days_count: Number of days of duration. - day_percent: Percentage of the day the Colaborador will take. Accepts 0.5 or 1, meaning half a day or a full day. If left blank it is considered as a full day (optional). - workday_stage: stage of the working hours. Among the accepted entries are "full_working_day" for day_percent equal to 1, and when day_percent equal to 0.5 the allowed values are "start_working_day" and "end_working_day" (optional). - type: Tipo de Time Off. - contribution_days: Number of days that are employer contribution. - application_date: Fecha en que se debe aplicar la Time Off (opcional). - custom_attributes: Custom attributes (optional). - justification: Texto complementario de justificación (opcional). - absence_type_id: Id del tipo de permiso al que corresponde, estas se pueden ver con la operacion GET para "Listar tipos inasistencias".

        - justification: Supplementary text for justification of the absence request (optional). - medic_rut: Doctor''s RUT (optional). - licence_number: Leave number (optional). - medic_name: Doctor''s name (optional).


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Unexcused absence
      responses:
        '201':
          description: API response after creating Time Off
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  absence:
                    $ref: '#/components/schemas/Absences::Absence::Response'
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
                  absence:
                    $ref: '#/components/schemas/Absences::Absence::Response'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Absences::Absence::Request'
        description: Time off-type object
      operationId: postAbsencesAbsence
      x-operation-id-source: derived
  /absences/absence/{id}:
    get:
      summary: View a time off
      description: 'View a time off given its identifier.

        Description of attributes:

        - employee_id: ID of the Colaborador associated with this Time Off. - start_date: Fecha de Inicio*: - days_count: Number of days of duration. - day_percent: Percentage of the day the Colaborador will take. Accepts 0.5 or 1, meaning half a day or a full day. If left blank it is considered as a full day (optional). - workday_stage: stage of the working hours. Among the accepted entries are "full_working_day" for day_percent equal to 1, and when day_percent equal to 0.5 the allowed values are "start_working_day" and "end_working_day" (optional). - type: Tipo de Time Off. - contribution_days: Number of days that are employer contribution. - application_date: Fecha en que se debe aplicar la Time Off (opcional). - custom_attributes: Custom attributes (optional). - justification: Complementary justification text (optional). - absence_type_id: Id of the type of time off to which it corresponds, these can be seen with the GET operation for "List time off types". - absence_type_code: Code of the corresponding time opff type.


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Unexcused absence
      parameters:
      - name: id
        description: ID of the time off
        in: path
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: As a response, we received the information of the requested time off
          name: data
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Absences::Absence::Response'
            application/pdf:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Absences::Absence::Response'
        '404':
          description: The requested resource does not exist
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getAbsencesAbsenceById
      x-operation-id-source: derived
    delete:
      summary: Delete time off leaves
      description: 'Delete time off based on its ID.


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Unexcused absence
      parameters:
      - name: id
        description: ID of the time off
        in: path
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: As a response, we confirm that the resource has been successfully deleted.
          name: data
          content:
            application/json:
              schema:
                properties:
                  deleted:
                    type: boolean
            application/pdf:
              schema:
                properties:
                  deleted:
                    type: boolean
        '404':
          description: When the resource being deleted does not exist
          name: data
          content:
            application/json:
              schema:
                properties:
                  deleted:
                    type: boolean
                    default: false
            application/pdf:
              schema:
                properties:
                  deleted:
                    type: boolean
                    default: false
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: deleteAbsencesAbsenceById
      x-operation-id-source: derived
components:
  schemas:
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    LicenceType__Response:
      properties:
        id:
          type: integer
        code:
          type: string
        name:
          type: string
        description:
          type: string
        kind:
          type: string
          enum:
          - licencia
          - ausencia
          - permiso
        with_pay:
          type: boolean
        time_measure:
          type: string
          enum:
          - per_day
          - per_hour
          - both
        requestable:
          type: boolean
        editable:
          type: boolean
        created_at:
          type: string
          format: date
        updated_at:
          type: string
          format: date
    LicenceType__Request:
      properties:
        code:
          type: string
        name:
          type: string
        kind:
          type: string
        description:
          type: string
        type:
          type: string
        with_pay:
          type: boolean
        time_measure:
          type: string
          enum:
          - per_day
          - per_hour
          - both
        requestable:
          type: boolean
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
