openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Feriados API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Feriados
paths:
  /holidays:
    get:
      summary: Listar días feriados
      description: 'Retorna todos los feriados registrados en el sistema.


        Este endpoint no requiere permisos especiales.'
      tags:
      - Feriados
      parameters:
      - name: from
        in: query
        description: Obtiene solo los feriados posteriores a esta fecha. Si se omite, se usa por defecto el inicio de año
        schema:
          type: string
          format: date
      - name: page_size
        in: query
        description: (OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos un arreglo (data) con las fechas de feriado
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Holiday'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Holiday'
      operationId: getHolidays
      x-operation-id-source: derived
components:
  schemas:
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    Holiday:
      properties:
        day:
          type: string
          format: date
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
