openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Payment documents API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Payment documents
paths:
  /payroll_detail/month:
    get:
      summary: List Payment documents
      description: 'Displays all Payment documents for the specified month.


        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura'' o ''Lectura y Modificación''.

        * Allow viewing sensitive information en: ''Sí''.'
      tags:
      - Payment documents
      parameters:
      - name: date
        in: query
        description: The date on which to extract the Payment documents from the Colaboradores (Format DD-MM-YYYY)
        schema:
          type: string
          format: date
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive all the details of the Payment documents for the queried month
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Settlement'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Settlement'
      operationId: getPayrollDetailMonth
      x-operation-id-source: derived
  /payroll_detail/semi_month:
    get:
      summary: List Payment documents
      description: 'It displays all the Payment documents for the specified semi-monthly period.


        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura'' o ''Lectura y Modificación''.

        * Allow viewing sensitive information en: ''Sí''.'
      tags:
      - Payment documents
      parameters:
      - name: date
        in: query
        description: The date on which to extract the Payment documents from the Colaboradores (Format DD-MM-YYYY)
        schema:
          type: string
          format: date
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive all the details of the Payment documents for the semi-monthly period queried
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Settlement'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Settlement'
      operationId: getPayrollDetailSemiMonth
      x-operation-id-source: derived
  /payroll_detail/week:
    get:
      summary: List Payment documents
      description: 'It displays all Payment documents of the specified week.


        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura'' o ''Lectura y Modificación''.

        * Allow viewing sensitive information en: ''Sí''.'
      tags:
      - Payment documents
      parameters:
      - name: date
        in: query
        description: The date on which to extract the Payment documents from the Colaboradores (Format DD-MM-YYYY)
        schema:
          type: string
          format: date
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive all the details of the Payment documents for the week queried
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Settlement'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Settlement'
      operationId: getPayrollDetailWeek
      x-operation-id-source: derived
  /employees/{employee_id}/payroll_detail:
    get:
      summary: Show details of the Colaborador
      description: 'We receive the ID or RUT of the Colaborador and an optional date range


        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura'' o ''Lectura y Modificación''.

        * Allow viewing sensitive information en: ''Sí''.'
      tags:
      - Payment documents
      parameters:
      - name: employee_id
        in: path
        description: ID or RUT of the applicant being queried. RUT number must be provided without dots and can include or exclude the dash character.
        required: true
        schema:
          type: string
      - name: period_type
        in: query
        description: The type of period you want to query can be weekly, semi_monthly o monthly. It is monthly by default.
        schema:
          type: string
          format: date
      - name: start
        in: query
        description: Pay stub start date (DD-MM-YYYYY format)
        schema:
          type: string
          format: date
      - name: end
        in: query
        description: Pay stub end date (DD-MM-YYYYY format)
        schema:
          type: string
          format: date
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive all the details of the queried Colaborador
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  nationality:
                    type: string
                  civil_status:
                    type: string
                  private_role:
                    type: boolean
                  code_sheet:
                    type: string
                  pension_regime:
                    type: string
                  pension_fund:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Settlement'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  nationality:
                    type: string
                  civil_status:
                    type: string
                  private_role:
                    type: boolean
                  code_sheet:
                    type: string
                  pension_regime:
                    type: string
                  pension_fund:
                    type: string
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Settlement'
      operationId: getEmployeesByEmployeeIdPayrollDetail
      x-operation-id-source: derived
  /employees/{id}/statements/{year}-{month}.pdf:
    get:
      summary: Payment document file
      description: 'Obtain the PDF file of the Payment document of the Colaborador associated with a given month and year.

        Obtains the PDF file of the Payment document of the Colaborador associated with a given month and year.


        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura'' o ''Lectura y Modificación''.

        * Allow viewing sensitive information en: ''Sí''.'
      tags:
      - Payment documents
      parameters:
      - name: id
        in: path
        description: ID of the Colaborador
        required: true
        schema:
          type: integer
      - name: year
        in: path
        description: Queried Year
        required: true
        schema:
          type: integer
      - name: month
        in: path
        description: Queried Month (1 - 12)
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Displays the PDF information of the corresponding Payment document for the month."
        '400':
          description: The request sent does not respect the proper format
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '404':
          description: There is no information for the month and year entered
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      operationId: getEmployeesByIdStatements{year}{month}Pdf
      x-operation-id-source: derived
components:
  schemas:
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    SettlementLine:
      properties:
        type:
          type: string
        subtype:
          type: string
        income_type:
          type: string
        name:
          type: string
        amount:
          type: number
          format: float
        resettlement:
          type: boolean
        taxable:
          type: boolean
        imponible:
          type: boolean
        anticipo:
          type: boolean
        credit_type:
          type: string
        institution:
          type: string
        description:
          type: string
        code:
          type: string
        item_code:
          type: string
    Settlement:
      properties:
        liquidacion_id:
          type: integer
          format: int64
        person_id:
          type: integer
          format: int64
        employee_id:
          type: integer
          format: int64
        month:
          type: string
        year:
          type: string
        worked_days:
          type: number
          format: float
        noworked_days:
          type: number
          format: float
        income_gross:
          type: number
          format: float
        income_net:
          type: number
          format: float
        income_afp:
          type: number
          format: float
        income_ips:
          type: number
          format: float
        total_income_taxable:
          type: number
          format: float
        total_income_notaxable:
          type: number
          format: float
        total_legal_discounts:
          type: number
          format: float
        total_other_discounts:
          type: number
          format: float
        closed:
          type: boolean
        liquid_reach:
          type: number
          format: integer
        taxable_base:
          type: number
          format: integer
        cpf:
          type: string
        lines_settlement:
          type: array
          items:
            $ref: '#/components/schemas/SettlementLine'
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
