openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk People API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: People
paths:
  /people/{id}:
    get:
      summary: Obtain basic data on a person
      description: 'Returns basic information about a specific person, including their id, first name, last name and ID number.


        **Permisos requeridos para utilizar este endpoint:**

        * People permissions en: ''Lectura''.'
      tags:
      - People
      parameters:
      - name: id
        in: path
        description: ID of the individual
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Offer details
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/PersonResponse'
            application/pdf:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/PersonResponse'
        '404':
          description: Page not found
      operationId: getPeopleById
      x-operation-id-source: derived
components:
  schemas:
    PersonResponse:
      properties:
        id:
          type: integer
          description: Identificador único de la persona
        first_name:
          type: string
          description: Nombre de la persona
        last_name:
          type: string
          description: Apellido de la persona
        dni:
          type: string
          description: Número de identificación (RUT, DNI, CORP, etc.)
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
