openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Postulante API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Postulante
paths:
  /recruiting/applicants:
    post:
      summary: Add applicant
      description: 'Create a new applicant.


        For parameters with values in square brackets, choose 1. e.g. document_type


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura y Modificación''.'
      tags:
      - Postulante
      responses:
        '201':
          description: Applicant created.
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  applicant:
                    $ref: '#/components/schemas/Applicant'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  applicant:
                    $ref: '#/components/schemas/Applicant'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              title: RequestBody
              properties:
                applicant:
                  $ref: '#/components/schemas/ApplicantInput'
        description: Applicant parameters
        required: true
      operationId: postRecruitingApplicants
      x-operation-id-source: derived
  /recruiting/applicants/search_by_email:
    post:
      summary: Display Applicant
      description: 'Return the applicant by their ID or RUT.


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Postulante
      responses:
        '200':
          description: Answer with the data of the queried applicant
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  applicant:
                    $ref: '#/components/schemas/Applicant'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  applicant:
                    $ref: '#/components/schemas/Applicant'
        '404':
          description: Applicant not found
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              title: RequestBody
              properties:
                applicant:
                  $ref: '#/components/schemas/SearchApplicantByEmail'
        description: Applicant email
        required: true
      operationId: postRecruitingApplicantsSearchByEmail
      x-operation-id-source: derived
  /recruiting/applicants/{id}:
    get:
      summary: Display Applicant
      description: 'Return the applicant by their ID or RUT.


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Postulante
      parameters:
      - name: id
        in: path
        description: ID or RUT of the applicant being queried. RUT number must be provided without dots and can include or exclude the dash character.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Answer with the data of the queried applicant
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  applicant:
                    $ref: '#/components/schemas/Applicant'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  applicant:
                    $ref: '#/components/schemas/Applicant'
        '404':
          description: Applicant not found
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getRecruitingApplicantsById
      x-operation-id-source: derived
  /recruiting/applicants/:
    get:
      summary: Create Applicants
      description: 'Return the list of applicants


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Postulante
      parameters:
      - name: selection_processes[]
        in: query
        description: (Optional) IDs of the selection processes to be queried. (Returns applicants if they are at least in one selection process)
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - name: page_size
        in: query
        description: (Optional) Number of responses per page. By default, it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      - name: page
        in: query
        description: (OPTIONAL) Page number
        schema:
          type: integer
      responses:
        '200':
          description: Response with the list of queried applicants
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  applicants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Applicant'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  applicants:
                    type: array
                    items:
                      $ref: '#/components/schemas/Applicant'
        '404':
          description: 'The requested resource does not exist  '
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getRecruitingApplicants
      x-operation-id-source: derived
  /recruiting/applicants/{id}/applications:
    get:
      summary: List applications by applicant
      description: 'Return all applications associated with the applicant, using their ID or RUT number.


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Postulante
      parameters:
      - name: id
        in: path
        required: true
        description: ID or RUT of the applicant being queried. RUT number must be provided without dots and can include or exclude the dash character.
        schema:
          type: string
      - name: page_size
        in: query
        description: (Optional) Number of responses per page. By default, it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: As a response, an array (applications) is received with the information of the applications submitted by the queried applicant.
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  applications:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationForApplicant'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  applications:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationForApplicant'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getRecruitingApplicantsByIdApplications
      x-operation-id-source: derived
components:
  schemas:
    ApplicationProcessStage:
      type: object
      description: Etapa del proceso de selección
      properties:
        id:
          example: 123
          type: integer
          description: ID de la etapa del proceso de selección
        name:
          example: {}
          type: string
          description: Nombre de la etapa del proceso de selección
    ApplicantCv:
      properties:
        cv_url:
          example: https://ejemplo.com
          type: string
          description: Applicant's CV
          format: binary
    ApplicationBase:
      properties:
        selection_process_id:
          example: 123
          type: integer
          description: ID del proceso de selección
        referrer:
          example: internal
          type: string
          description: Origen de la postulación
          enum:
          - internal
          - external
          - genoma
          - trabajando
          - aira
          - portal
          - talent
        integration_url:
          example: https://ejemplo.com
          type: string
          description: URL asociada al origen de la postulación
        salary_expectation:
          example: 10
          type: integer
          description: Expectativa salarial específica para la postulación
        custom_attributes:
          example:
            clave: valor
          type: object
          description: Atributos personalizados de la postulación. (Consultar con administrador cuales son los atributos personalizados disponibles)
        application_date:
          type: string
          format: date
          description: Fecha de postulación
          example: '2024-01-01'
        updated_at:
          example: '2024-01-01T12:00:00Z'
          type: string
          format: date-time
          description: Fecha de actualización
    ApplicationApplicant:
      type: object
      description: Postulante
      allOf:
      - properties:
          id:
            example: 123
            type: integer
            description: ID del postulante
      - $ref: '#/components/schemas/ApplicationApplicantIdentifier'
    ApplicantInput:
      required:
      - first_name
      - surname
      allOf:
      - $ref: '#/components/schemas/ApplicantBase'
      - $ref: '#/components/schemas/StudiesLevel'
      - $ref: '#/components/schemas/ApplicantIdentifier'
      - $ref: '#/components/schemas/ApplicantLocationInput'
    ApplicantLocationInput:
      properties:
        location_id:
          example: '123'
          type: string
          description: ID or name of the Municipality
    ApplicantBase:
      properties:
        first_name:
          example: {}
          type: string
          description: Name
        surname:
          example: {}
          type: string
          description: Surname
        second_surname:
          example: {}
          type: string
          description: Second Surname
        birthday:
          type: string
          format: date
          example: YYYY-MM-DD
          description: Date of birth
        email:
          example: {}
          type: string
          description: E-mail address
        phone:
          example: '+56912345678'
          type: string
          description: Phone Number
        address:
          example: {}
          type: string
          description: Address
        gender:
          example: M
          type: string
          description: Gender
          enum:
          - M
          - F
        university:
          example: {}
          type: string
          description: University
        academic_degree:
          example: {}
          type: string
          description: Professional degree
        experience_years:
          example: 10
          type: integer
          description: Years of experience
        linkedin_url:
          type: string
          description: Applicant's LinkedIn URL
          example: https://www.linkedin.com/in/usuario
        cv_url:
          $ref: '#/components/schemas/ApplicantCv'
        seleccion_processes:
          $ref: '#/components/schemas/ApplicantSelectionProcess'
        custom_attributes:
          example:
            clave: valor
          type: object
          description: Customized applicant attributes. (Check with the administrator for available custom attributes)
    ApplicationForApplicant:
      allOf:
      - properties:
          id:
            example: 123
            type: integer
            description: ID de la postulación
          applicant:
            $ref: '#/components/schemas/ApplicationApplicant'
          process_stage:
            $ref: '#/components/schemas/ApplicationProcessStage'
      - $ref: '#/components/schemas/ApplicationBase'
    ApplicantLocation:
      type: object
      properties:
        id:
          example: 123
          type: integer
          description: ID of the Municipality
        name:
          example: {}
          type: string
          description: Name of the Municipality
    Applicant:
      allOf:
      - $ref: '#/components/schemas/ApplicantBase'
      - properties:
          location:
            $ref: '#/components/schemas/ApplicantLocation'
          id:
            example: 123
            type: integer
            description: ID del postulante
      - $ref: '#/components/schemas/StudiesLevel'
      - $ref: '#/components/schemas/ApplicantIdentifier'
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    BasePersonIdentifier:
      properties:
        document_number:
          type: string
          description: Document Number of  Colaborador.
        document_type:
          type: string
          description: 'Document Type Colaborador. Valid Document Types in the {code: translation} format are: {"ci_brasil":"CPF","otro":"Other"}'
    ApplicationApplicantIdentifier:
      properties:
        document_number:
          example: '123456789'
          type: string
          description: Número de documento del postulante
    ApplicantIdentifier:
      allOf:
      - $ref: '#/components/schemas/BasePersonIdentifier'
    SearchApplicantByEmail:
      properties:
        email:
          example: {}
          type: string
          description: Email
    ApplicantSelectionProcess:
      type: array
      items:
        type: object
        description: Selection process
        properties:
          id:
            example: 123
            type: integer
            description: Selection Process ID
          name:
            example: {}
            type: string
            description: Title of the selection process
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    StudiesLevel:
      properties:
        studies_level:
          example: universitario
          type: string
          description: Nivel de estudios
          enum:
          - Analfabeto, incluidos los que, aunque han recibido instrucción, no han llegado a ser alfabetizados.
          - Hasta el 5° año incompleto de la educación primaria (antiguo 4° año) o alfabetizado.
          - 5° año completo de educación primaria
          - Del 6° al 9° año de educación primaria incompleta (antigos 5° a 8° años)
          - Educación primaria completa
          - Educación secundaria incompleta
          - Educación secundaria completa
          - Educación superior incompleta
          - Educación superior completa
          - Postgraduación completa
          - Maestría completa
          - Doctorado completo
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
