openapi: 3.2.0
info:
  title: Buk Applicant API
  version: '1.0'
  description: 'Operations tagged Applicant across 5 of this provider''s published API definitions: buk-data-access-api-brasil-openapi.yml, buk-data-access-api-chile-openapi.yml, buk-data-access-api-colombia-openapi.yml, buk-data-access-api-mexico-openapi.yml, buk-data-access-api-peru-openapi.yml. Each path carries the servers of the definition it was published in.'
host: demo.buk.cl
tags:
- name: Applicant
paths:
  /recruiting/applicants/{id}:
    patch:
      summary: Update applicants.
      description: "Update an applicant\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura y Modificación'.\n\n"
      tags:
      - Applicant
      parameters:
      - name: id
        in: path
        type: string
        description: ID of the applicant being updated.
        required: true
        items:
          type: integer
      - name: postulante
        in: body
        description: Applicant parameters.
        required: true
        schema:
          $ref: '#/definitions/ApplicantInput'
      responses:
        '200':
          description: Applicant information updated.
          schema:
            title: ResponseBody
            properties:
              applicant:
                $ref: '#/definitions/Applicant'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
        '404':
          description: The requested resource does not exist
          name: errors
          schema:
            properties:
              errors:
                type: array
                items:
                  type: string
definitions:
  BasePersonIdentifier:
    properties:
      document_number:
        type: string
        description: Document Number of  Colaborador.
      document_type:
        type: string
        description: 'Document Type Colaborador. Valid Document Types in the {code: translation} format are: {"ci_brasil":"CPF","otro":"Other"}'
  StudiesLevel:
    properties:
      studies_level:
        example: universitario
        type: string
        description: Nivel de estudios
        enum:
        - Analfabeto, incluidos los que, aunque han recibido instrucción, no han llegado a ser alfabetizados.
        - Hasta el 5° año incompleto de la educación primaria (antiguo 4° año) o alfabetizado.
        - 5° año completo de educación primaria
        - Del 6° al 9° año de educación primaria incompleta (antigos 5° a 8° años)
        - Educación primaria completa
        - Educación secundaria incompleta
        - Educación secundaria completa
        - Educación superior incompleta
        - Educación superior completa
        - Postgraduación completa
        - Maestría completa
        - Doctorado completo
  ApplicantLocationInput:
    properties:
      location_id:
        example: '123'
        type: string
        description: ID or name of the Municipality
  bad_request:
    properties:
      errors:
        type: array
        items:
          type: string
  ApplicantBase:
    properties:
      first_name:
        example: {}
        type: string
        description: Name
      surname:
        example: {}
        type: string
        description: Surname
      second_surname:
        example: {}
        type: string
        description: Second Surname
      birthday:
        type: string
        format: date
        example: YYYY-MM-DD
        description: Date of birth
      email:
        example: {}
        type: string
        description: E-mail address
      phone:
        example: '+56912345678'
        type: string
        description: Phone Number
      address:
        example: {}
        type: string
        description: Address
      gender:
        example: M
        type: string
        description: Gender
        enum:
        - M
        - F
      university:
        example: {}
        type: string
        description: University
      academic_degree:
        example: {}
        type: string
        description: Professional degree
      experience_years:
        example: 10
        type: integer
        description: Years of experience
      linkedin_url:
        type: string
        description: Applicant's LinkedIn URL
        example: https://www.linkedin.com/in/usuario
      cv_url:
        $ref: '#/definitions/ApplicantCv'
      seleccion_processes:
        $ref: '#/definitions/ApplicantSelectionProcess'
      custom_attributes:
        example:
          clave: valor
        type: object
        description: Customized applicant attributes. (Check with the administrator for available custom attributes)
  Applicant:
    allOf:
    - $ref: '#/definitions/ApplicantBase'
    - properties:
        location:
          $ref: '#/definitions/ApplicantLocation'
        id:
          example: 123
          type: integer
          description: ID del postulante
    - $ref: '#/definitions/StudiesLevel'
    - $ref: '#/definitions/ApplicantIdentifier'
  ApplicantSelectionProcess:
    type: array
    items:
      type: object
      description: Selection process
      properties:
        id:
          example: 123
          type: integer
          description: Selection Process ID
        name:
          example: {}
          type: string
          description: Title of the selection process
  ApplicantLocation:
    type: object
    properties:
      id:
        example: 123
        type: integer
        description: ID of the Municipality
      name:
        example: {}
        type: string
        description: Name of the Municipality
  ApplicantIdentifier:
    allOf:
    - $ref: '#/definitions/BasePersonIdentifier'
  ApplicantCv:
    properties:
      cv_url:
        example: https://ejemplo.com
        type: file
        description: Applicant's CV
  ApplicantInput:
    required:
    - first_name
    - surname
    allOf:
    - $ref: '#/definitions/ApplicantBase'
    - $ref: '#/definitions/StudiesLevel'
    - $ref: '#/definitions/ApplicantIdentifier'
    - $ref: '#/definitions/ApplicantLocationInput'
securityDefinitions:
  auth_token:
    type: apiKey
    name: auth_token
    in: header
x-refined-from:
- buk-data-access-api-brasil-openapi.yml
- buk-data-access-api-chile-openapi.yml
- buk-data-access-api-colombia-openapi.yml
- buk-data-access-api-mexico-openapi.yml
- buk-data-access-api-peru-openapi.yml
