openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Substitutions API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Substitutions
paths:
  /substitutions:
    get:
      tags:
      - Substitutions
      description: 'Obtain substitutions


        Attributes description:

        - `id`: Unique identifier of the substitution.

        - `active`: Status of the substitution.

        - `employee_id`: Id of the Colaboradores.

        - `substitute_id`: Id of the substitute Colaboradores.

        - `start_date`: Start date of the substitution.

        - `end_date`: End date of the substitution.

        - `reason`: Cause of the substitution.


        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura''.'
      parameters:
      - name: page
        in: query
        description: 'Optional query parameters to filter and label substitutions.

          '
        schema:
          type: integer
      - name: page_size
        in: query
        description: 'Optional query parameters to filter and label substitutions.

          '
        schema:
          type: integer
      responses:
        '200':
          description: 'API response when retrieving substitutions with labels and details of each substitution.

            '
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmployeeSubstitutionDetail'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/EmployeeSubstitutionDetail'
      summary: Get substitutions
      x-summary-source: derived
      operationId: getSubstitutions
      x-operation-id-source: derived
    post:
      tags:
      - Substitutions
      description: 'Create a new substitution


        Attribute description:

        - `active`: Status of the substitution.

        - `employee_id`: Id of the Colaboradores.

        - `substitute_id`: Id of the substitute Colaboradores.

        - `start_date`: Start date of the substitution.

        - `end_date`: End date of the substitution.

        - `reason`: Reason for the substitution.


        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura y Modificación''.'
      responses:
        '201':
          description: 'API response upon creating a new substitution, including details of the created substitution.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeSubstitutionDetail'
            application/pdf:
              schema:
                $ref: '#/components/schemas/EmployeeSubstitutionDetail'
        '400':
          description: 'Invalid entry

            '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeSubstitutionInput'
        description: 'Data for the new substitution to be created, including ID’s of the Colaborador and the substitute, start and end dates, and status.

          '
        required: true
      summary: Create substitutions
      x-summary-source: derived
      operationId: postSubstitutions
      x-operation-id-source: derived
  /substitutions/{id}:
    patch:
      tags:
      - Substitutions
      description: 'Updates a specific substitution

        Attribute description:

        - `active`: Status of the substitution.

        - `employee_id`: Id of the Colaboradores.

        - `substitute_id`: Id of the substitute Colaboradores.

        - `start_date`: Start date of the substitution.

        - `end_date`: End date of the substitution.

        - `reason`: Reason for the substitution.


        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura y Modificación''.'
      parameters:
      - name: id
        in: path
        description: 'Substitution ID to be updated

          '
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: 'API response after successful update of a substitution

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmployeeSubstitutionDetail'
            application/pdf:
              schema:
                $ref: '#/components/schemas/EmployeeSubstitutionDetail'
        '400':
          description: 'Invalid entry

            '
        '404':
          description: 'Substitution not found

            '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmployeeSubstitutionInput'
        description: 'Data to be updated in the existing substitution, such as start and end dates or status

          '
        required: true
      summary: Update substitutions by id
      x-summary-source: derived
      operationId: patchSubstitutionsById
      x-operation-id-source: derived
    delete:
      tags:
      - Substitutions
      description: 'Eliminate a specific substitution


        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura y Modificación''.'
      parameters:
      - name: id
        in: path
        description: 'Substitution ID to be deleted

          '
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: 'API response after successful deletion of a substitution

            '
        '404':
          description: 'Substitution not found

            '
        '422':
          description: 'It was not possible to eliminate the substitution

            '
      summary: Delete substitutions by id
      x-summary-source: derived
      operationId: deleteSubstitutionsById
      x-operation-id-source: derived
components:
  schemas:
    EmployeeSubstitutionInput:
      properties:
        active:
          type: boolean
        employee_id:
          type: integer
        substitute_id:
          type: integer
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        reason:
          type: string
          description: Causal
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    EmployeeSubstitutionDetail:
      properties:
        id:
          type: integer
          readOnly: true
        active:
          type: boolean
        employee_id:
          type: integer
        substitute_id:
          type: integer
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        reason:
          type: string
          description: Causal
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
