openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Selection process API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Selection process
paths:
  /recruiting/selection_processes:
    get:
      summary: List selection processes
      description: 'It displays all selection processes in the system


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Selection process
      parameters:
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default, it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      - name: page
        in: query
        description: (OPTIONAL) Page number
        schema:
          type: integer
      - name: from
        in: query
        description: (OPTIONAL) Search for selection processes starting from this date. If not specified, selection processes from the beginning are used. Format YYYY-MM-DD
        schema:
          type: string
          format: date
      - name: to
        in: query
        description: (OPTIONAL) Search for selection processes up to this date. If not specified, selection processes up to the current date are used. Format YYYY-MM-DD
        schema:
          type: string
          format: date
      responses:
        '200':
          description: As a response we receive an array (selection_processes) with the information of the selection processes
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SelectionProcess'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SelectionProcess'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getRecruitingSelectionProcesses
      x-operation-id-source: derived
    post:
      summary: Selection Process
      description: 'Creates a new selection process based on the parameters provided. If a template_id is not specified, the default template is used.


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura y Modificación''.'
      tags:
      - Selection process
      responses:
        '201':
          description: API response to the creation of a selection process.
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  selection_process:
                    $ref: '#/components/schemas/SelectionProcess'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  selection_process:
                    $ref: '#/components/schemas/SelectionProcess'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              title: RequestBody
              required:
              - selection_process
              properties:
                selection_process:
                  $ref: '#/components/schemas/SelectionProcessInput'
        description: Parameters of a selection process
        required: true
      operationId: postRecruitingSelectionProcesses
      x-operation-id-source: derived
components:
  schemas:
    SelectionProcessRole:
      type: object
      properties:
        id:
          example: 123
          type: integer
          description: {}
        name:
          example: {}
          type: string
          description: {}
    SelectionProcessArea:
      type: object
      properties:
        id:
          example: 123
          type: integer
          description: {}
        name:
          example: {}
          type: string
          description: {}
    SelectionProcessSupervisor:
      type:
      - object
      - 'null'
      properties:
        id:
          example: 123
          type: integer
          description: {}
        name:
          example: {}
          type: string
          description: {}
    SelectionProcessLocation:
      type: object
      properties:
        id:
          example: 123
          type: integer
          description: {}
        name:
          example: {}
          type: string
          description: {}
    SelectionProcessStage:
      type: object
      properties:
        id:
          example: 123
          type: integer
          description: {}
        name:
          example: {}
          type: string
          description: {}
    SelectionProcess:
      allOf:
      - $ref: '#/components/schemas/SelectionProcessBase'
      - $ref: '#/components/schemas/Article22'
      - $ref: '#/components/schemas/CamposBrasil'
      - properties:
          id:
            example: 123
            type: integer
            description: {}
          area:
            $ref: '#/components/schemas/SelectionProcessArea'
          role:
            $ref: '#/components/schemas/SelectionProcessRole'
          company:
            $ref: '#/components/schemas/SelectionProcessCompany'
          location:
            $ref: '#/components/schemas/SelectionProcessLocation'
          process_stages:
            example: {}
            type: array
            description: {}
            items:
              $ref: '#/components/schemas/SelectionProcessStage'
          public_token:
            example: token123
            type: string
            description: {}
          start_date:
            type:
            - string
            - 'null'
            format: date
            description: {}
            example: '2024-01-01'
          end_date:
            type:
            - string
            - 'null'
            format: date
            description: {}
            example: '2024-01-01'
          created_at:
            type: string
            format: date-time
            description: {}
            example: '2024-01-01T12:00:00Z'
          hired_count:
            example: 10
            type: integer
            description: {}
          supervisor:
            $ref: '#/components/schemas/SelectionProcessSupervisor'
          recruiters:
            example: {}
            type: array
            items:
              $ref: '#/components/schemas/SelectionProcessRecruiter'
            description: {}
    SelectionProcessRecruiter:
      type: object
      properties:
        id:
          example: 123
          type: integer
          description: {}
        name:
          example: {}
          type: string
          description: {}
    SelectionProcessBase:
      properties:
        name:
          example: {}
          type: string
          description: {}
        workday:
          example: full-time
          type: string
          enum:
          - full-time
          - part-time
          default: full-time
          description: {}
        hours_by_week:
          example: 10
          type: integer
          default: 45
          description: {}
        available_positions:
          example: 10
          type: integer
          default: 1
          description: {}
        minimum_salary:
          example: 10
          type: integer
          description: {}
        maximum_salary:
          example: 10
          type: integer
          description: {}
        published_in_applications_portal:
          example: true
          type: boolean
          default: true
          description: {}
        search_scope:
          example:
          - external
          type: array
          enum:
          - external
          - internal
          items:
            type: string
          default:
          - external
          - internal
          description: {}
        description:
          example: {}
          type: string
          description: {}
        status:
          example: pendiente
          type: string
          enum:
          - pendiente
          - iniciado
          - cerrado
          - cancelado
          description: {}
        requirements:
          example: {}
          type: string
          description: {}
        buk_ai_analysis:
          example: true
          type: boolean
          description: {}
        criterios_internos:
          example: {}
          type: string
          description: {}
        template_id:
          example: 123
          type: integer
          description: {}
        custom_attributes:
          example:
            clave: valor
          type: object
          description: {}
        reason:
          example: replacement
          type: string
          enum:
          - replacement
          - new_vacancy
          - internship
          - temporary_replacement
          - other
          default: replacement
          items:
            type: string
          description: {}
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    SelectionProcessInput:
      required:
      - area_id
      - role_id
      - company_id
      allOf:
      - $ref: '#/components/schemas/SelectionProcessBase'
      - $ref: '#/components/schemas/Article22'
      - $ref: '#/components/schemas/CamposBrasil'
      - properties:
          area_id:
            example: 123
            type: integer
            description: {}
          role_id:
            example: 123
            type: integer
            description: {}
          company_id:
            example: 123
            type: integer
            description: {}
          location_id:
            example: 123
            type: integer
            description: {}
    CamposBrasil:
      properties:
        regimen_laboral:
          example: general_employee
          type: string
          enum:
          - general_employee
          - intermitent_employee
          - domestic_employee
          - rural_employee
          - apprentice
          - fixed_term_employee
          - temporary_employee
          - estagiario
          - prolabore_722
          - prolabore_723
          - no_reportable_esocial_work_category
          description: Categoría Laboral
        tipo_jornada:
          example: workday_12x36
          type: string
          enum:
          - workday_12x36
          - workday_variable_free_time
          - workday_fixed_free_time
          - workday_fixed_free_time_except_sunday
          - workday_fixed_time_additional_sunday
          - workday_uninterrupted
          - other_workday
          description: Tipo de jornada
        work_day_description:
          example: Ejemplo
          type: string
          description: Descripción de jornada
        otros_tipo_jornada:
          example: subject_to_workday
          type: string
          enum:
          - subject_to_workday
          - external_forseen_activity
          - forseen_function
          - remote_work
          - no_reportable_esocial_workday
          description: Régimen de jornada
        admission_type:
          example: admission
          type: string
          enum:
          - admission
          - transference_company_same_group
          - transferencia_company_consortium
          - transferencia_succesion_incorporation_fusion
          - transferencia_domestinc_employee
          - cpf_movement
          - transference_company_unexistence
          description: Tipo de admisión
        admission_indicative:
          example: normal
          type: string
          enum:
          - normal
          - fiscal_action
          - judicial_action
          description: Indicativo de admisión
    Article22: {}
    SelectionProcessCompany:
      properties:
        cpf:
          example: '123456789'
          type: string
          description: {}
        id:
          example: 123
          type: integer
          description: {}
      type: object
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
