openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Variables of the Empresas API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Variables of the Empresas
paths:
  /company_variables/{empresa_id}:
    get:
      summary: Variables of the Empresas
      description: 'Displays all variables of the Empresas by Empresas registered in the system.


        Este endpoint no requiere permisos especiales.'
      tags:
      - Variables of the Empresas
      parameters:
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default, it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      - name: empresa_id
        in: path
        description: ID of the Empresa of which you want to list its variables from Empresa
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive an array (data) with information from the Empresas
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyVariable'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyVariable'
      operationId: getCompanyVariablesByEmpresaId
      x-operation-id-source: derived
components:
  schemas:
    CompanyVariable:
      properties:
        id:
          type: integer
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
