openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Grupos API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Grupos
paths:
  /groups:
    get:
      summary: List groups
      description: 'Returns the list of available groups

        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura''.'
      tags:
      - Grupos
      parameters:
      - name: page_size
        in: query
        description: Number of records per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: List of groups
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterQueryModel'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterQueryModel'
      operationId: getGroups
      x-operation-id-source: derived
  /groups/{id}:
    get:
      summary: Show group
      description: 'Returns the information of a group and its participants

        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura''.'
      tags:
      - Grupos
      parameters:
      - name: id
        in: path
        description: Group ID
        required: true
        schema:
          type: integer
      - name: page_size
        in: query
        description: Number of records per page
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: Group information with its participants
          name: data
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    description: Group ID
                  group_name:
                    type: string
                    description: Group Name
                  updated_at:
                    type: string
                    format: date-time
                    description: Last update
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  participants:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterQueryParticipant'
            application/pdf:
              schema:
                properties:
                  id:
                    type: integer
                    description: Group ID
                  group_name:
                    type: string
                    description: Group Name
                  updated_at:
                    type: string
                    format: date-time
                    description: Last update
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  participants:
                    type: array
                    items:
                      $ref: '#/components/schemas/FilterQueryParticipant'
      operationId: getGroupsById
      x-operation-id-source: derived
components:
  schemas:
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    FilterQueryParticipant:
      properties:
        id:
          type: integer
          description: ID del participante
        full_name:
          type: string
          description: Nombre completo del participante
        document_number:
          type: string
          description: Número de documento del participante
    FilterQueryModel:
      properties:
        id:
          type: integer
          description: ID del grupo
        group_name:
          type: string
          description: Nombre del grupo
        updated_at:
          type: string
          format: date-time
          description: Última actualización
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
