openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Benefits API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Benefits
paths:
  /benefits/benefit_requests:
    get:
      summary: List all benefit requests
      description: 'This endpoint returns all benefit requests.


        **Permisos requeridos para utilizar este endpoint:**

        * Benefit permissions en: ''Lectura''.'
      tags:
      - Benefits
      parameters:
      - name: status
        in: query
        description: '(OPTIONAL) Request status. Allowed values: in_process, approved, rejected, pre_approved, incomplete, cancel_request, canceled'
        required: false
        schema:
          type: string
      - name: person_id
        in: query
        description: (OPTIONAL) ID of the person who requested the benefit. Used to filter requests from a specific person.
        required: false
        schema:
          type: integer
      - name: available_version_id
        in: query
        description: (OPTIONAL) ID of the specific version of the requested benefit.
        required: false
        schema:
          type: integer
      - name: requested_at_from
        in: query
        description: '(OPTIONAL) Date from which to filter requests (format: YYYY-MM-DD). Allows searching for requests made from a specific date onwards'
        required: false
        schema:
          type: string
          format: date
      - name: requested_at_to
        in: query
        description: '(OPTIONAL) Date up to which to filter requests (format: YYYY-MM-DD). Allows searching for requests made up to a specific date'
        required: false
        schema:
          type: string
          format: date
      - name: page
        in: query
        description: (OPTIONAL) Page number for result pagination. Defaults to 1 if not specified
        required: false
        schema:
          type: integer
          default: 1
      - name: per_page
        in: query
        description: (OPTIONAL) Number of records per page (maximum 100). Default is 25 if not specified
        required: false
        schema:
          type: integer
          default: 25
      - name: sort_by
        in: query
        description: '(OPTIONAL) Field by which to sort the results. Allowed values: id, person_id, approver_id, available_version_id, status, points_cost, requested_at, status_date, created_at'
        required: false
        schema:
          type: string
          default: id
      - name: sort_order
        in: query
        description: '(OPTIONAL) Sort direction. Allowed values: asc (ascending), desc (descending). Default is desc'
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      responses:
        '200':
          description: Benefit requests list
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BenefitRequestResponse'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BenefitRequestResponse'
      operationId: getBenefitsBenefitRequests
      x-operation-id-source: derived
  /benefits/benefit_requests/{id}:
    get:
      summary: Obtains a specific benefit request
      description: 'This endpoint returns a profit request according to its ID


        **Permisos requeridos para utilizar este endpoint:**

        * Benefit permissions en: ''Lectura''.'
      tags:
      - Benefits
      parameters:
      - name: id
        in: path
        description: Benefit request ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Benefit request
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/BenefitRequestResponse'
            application/pdf:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/BenefitRequestResponse'
        '404':
          description: The benefit request was not found
      operationId: getBenefitsBenefitRequestsById
      x-operation-id-source: derived
  /benefits/benefit_versions/{id}:
    get:
      summary: Obtains information from a benefit version
      description: 'Returns the information of a specific benefit version


        **Permisos requeridos para utilizar este endpoint:**

        * Benefit permissions en: ''Lectura''.'
      tags:
      - Benefits
      parameters:
      - name: id
        in: path
        description: Benefit version ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Benefit version information
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/BenefitVersionResponse'
            application/pdf:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/BenefitVersionResponse'
        '404':
          description: Benefit version not found
      operationId: getBenefitsBenefitVersionsById
      x-operation-id-source: derived
components:
  schemas:
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    BenefitRequestResponse:
      properties:
        id:
          type: integer
          description: ID de la solicitud de beneficio
          example: 1
        person_id:
          type: integer
          description: ID de la persona que solicitó el beneficio
          example: 1
        approver_id:
          type: integer
          description: ID de la persona que aprobó la solicitud
          example: 1
        available_version_id:
          type: integer
          description: ID de la versión del beneficio
          example: 1
        status:
          type: string
          description: Estado actual de la solicitud
          example: pending
        requested_at:
          type: string
          format: date-time
          description: Fecha y hora en que se realizó la solicitud
          example: '2024-01-01T00:00:00Z'
        status_date:
          type: string
          format: date-time
          description: Fecha y hora del último cambio de estado
          example: '2024-01-01T00:00:00Z'
        points_cost:
          type: integer
          description: Costo en puntos del beneficio solicitado
          example: 100
        comments:
          type: string
          description: Comentarios generales de la solicitud
          example: Comments
        cancel_comments:
          type: string
          description: Comentarios de cancelación de la solicitud
          example: Cancelado
        created_at:
          type: string
          format: date-time
          description: Fecha y hora de creación de la solicitud
          example: '2024-01-01T00:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Fecha y hora de la última actualización de la solicitud
          example: '2024-01-01T00:00:00Z'
        benefit_request_field_values:
          type: object
          properties:
            custom_attribute_name:
              type: string
          description: Valores de los campos personalizados definidos para la solicitud de beneficio
          example:
            custom_attribute_name: Valor
    BenefitVersionResponse:
      properties:
        id:
          type: integer
          description: ID de la versión de beneficio
          example: 1
        name:
          type: string
          description: Nombre de la versión de beneficio
          example: Complementario
        global:
          type: boolean
          description: Indica si la versión del beneficio está disponible para todos
          example: true
        points:
          type: integer
          description: Costo de puntos asociados
          example: 100
        enrollment_type:
          type: integer
          description: Tipo de suscripción
          example: 0
        integration:
          type: integer
          description: 'Tipo de integración con otros módulos (ej: Vacaciones, Permisos, etc.)'
          example: 0
        created_at:
          type: string
          format: date-time
          description: Fecha de creación
          example: '2024-01-01T00:00:00Z'
        updated_at:
          type: string
          format: date-time
          description: Fecha de última actualización
          example: '2024-01-01T00:00:00Z'
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
