openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Centro de costo API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Centro de costo
paths:
  /centro_costo_definitions/{id}:
    get:
      summary: Mostrar centro de costo
      description: 'Recibimos la información relacionada al centro de costo cuyo ID enviamos en la consulta


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de contabilidad en: ''Lectura''.'
      tags:
      - Centro de costo
      parameters:
      - name: id
        in: path
        description: ID del centro de costo
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos la información correspondiente al centro de costo buscado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CentroCostoDefinition'
            application/pdf:
              schema:
                $ref: '#/components/schemas/CentroCostoDefinition'
      operationId: getCentroCostoDefinitionsById
      x-operation-id-source: derived
    patch:
      summary: Actualizar un centro de costo por ID
      description: 'Permite indicar el nuevo código, código previred y atributos personalizados de un centro de costo


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de contabilidad en: ''Lectura y Modificación''.'
      tags:
      - Centro de costo
      parameters:
      - name: id
        in: path
        required: true
        description: ID del centro de costo
        schema:
          type: integer
      responses:
        '200':
          description: Respuesta al reemplazar centro de costo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/centro_costo_definition_response'
            application/pdf:
              schema:
                $ref: '#/components/schemas/centro_costo_definition_response'
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/centro_costo_definition_detail'
        required: true
      operationId: patchCentroCostoDefinitionsById
      x-operation-id-source: derived
  /centro_costo_definitions:
    get:
      summary: Mostrar centros de costo
      description: 'Recibimos la información relacionada a los centro de costo


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de contabilidad en: ''Lectura''.'
      tags:
      - Centro de costo
      parameters:
      - name: page_size
        in: query
        description: Tamaño de la página
        schema:
          type: integer
      - name: page
        in: query
        description: Nro de página
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recicibimos la información correspondiente a todos los centro de costo
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CentroCostoDefinition'
            application/pdf:
              schema:
                $ref: '#/components/schemas/CentroCostoDefinition'
      operationId: getCentroCostoDefinitions
      x-operation-id-source: derived
    post:
      summary: Crear centro de costo
      description: 'Crea un nuevo centro de costo en el sistema. Los parámetros son


        - code : Código del centro de costo

        - previred_code : Código para previred del centro de costo

        - custom_attributes: Código y valor de atributos personalizados del centro de costo

        :


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de contabilidad en: ''Lectura y Modificación''.'
      tags:
      - Centro de costo
      responses:
        '201':
          description: Respuesta en caso de haber creado un centro de costo de forma exitosa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/centro_costo_definition_response'
            application/pdf:
              schema:
                $ref: '#/components/schemas/centro_costo_definition_response'
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/centro_costo_definition_detail'
        description: Parámetros de un centro de costo
        required: true
      operationId: postCentroCostoDefinitions
      x-operation-id-source: derived
  /centro_costo_definitions/update:
    put:
      summary: Actualizar información centro de costo
      description: 'Permite indicar el nuevo código y código previred de un centro de costo


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de contabilidad en: ''Lectura y Modificación''.'
      tags:
      - Centro de costo
      responses:
        '200':
          description: Respuesta al reemplazar centro de costo
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  centro_costo_definition:
                    $ref: '#/components/schemas/centro_costo_definition_response'
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
                  centro_costo_definition:
                    $ref: '#/components/schemas/centro_costo_definition_response'
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/centro_costo_definition_detail'
        description: Objeto de tipo centro de costo definition
      operationId: putCentroCostoDefinitionsUpdate
      x-operation-id-source: derived
  /centro_costo_definitions/centro_costo:
    post:
      summary: Indicar centro de costo del trabajo
      description: 'Permite indicar el centro de costo relacionado a un trabajo


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de contabilidad en: ''Lectura y Modificación''.'
      tags:
      - Centro de costo
      responses:
        '200':
          description: Respuesta al crear centro de costo de trabajo
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  centro_costo:
                    $ref: '#/components/schemas/centro_costo_response'
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
                  centro_costo:
                    $ref: '#/components/schemas/centro_costo_response'
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/centro_costo_request'
        description: Objeto de tipo centro de costo
      operationId: postCentroCostoDefinitionsCentroCosto
      x-operation-id-source: derived
components:
  schemas:
    centro_costo_definition_detail:
      properties:
        id:
          type: integer
        code:
          type: string
        previred_code:
          type: string
        custom_attributes:
          type: object
      required:
      - code
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    centro_costo_definition_response:
      properties:
        id:
          type: integer
        code:
          type: string
        previred_code:
          type: string
        custom_attributes:
          type: object
      required:
      - id
      - code
      - previred_code
      - custom_attributes
    CentroCostoDefinition:
      properties:
        id:
          type: integer
        code:
          type: string
        previred_code:
          type: string
        custom_attributes:
          type: object
    centro_costo_request:
      properties:
        centro_costo_definition_id:
          type: integer
        job_id:
          type: integer
        weight:
          type: integer
      required:
      - id
      - code
      - previred_code
    centro_costo_response:
      properties:
        centro_costo_definition_id:
          type: integer
        job_id:
          type: integer
        weight:
          type: integer
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
