openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Procesos API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Procesos
paths:
  /process:
    get:
      summary: List processes
      description: 'Retrieve all processes corresponding to a period.


        Este endpoint no requiere permisos especiales.'
      tags:
      - Procesos
      parameters:
      - name: date
        in: query
        required: true
        description: Indicates the start date of the process to be consulted (YYYYY-MM-DD format).
        schema:
          type: string
          format: date
      - name: page_size
        in: query
        description: Number of responses per page. By default it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      - name: name
        in: query
        required: false
        description: Nombre del proceso para filtrar los resultados
        schema:
          type: string
      responses:
        '200':
          description: Proceso encontrado exitosamente
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Process'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Process'
      operationId: getProcess
      x-operation-id-source: derived
    post:
      summary: Crear un nuevo proceso de nómina
      description: 'Retrieve all processes corresponding to a period.


        **Permisos requeridos para utilizar este endpoint:**

        * Process permissions en: ''Lectura y Modificación''.'
      tags:
      - Procesos
      responses:
        '201':
          description: Proceso creado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Process'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/processInput'
        description: Retrieve all processes corresponding to a period.
        required: true
      operationId: postProcess
      x-operation-id-source: derived
  /process/{id}:
    get:
      summary: Obtener detalles de un proceso
      description: 'Retorna la información detallada de un proceso específico por su ÍD


        **Permisos requeridos para utilizar este endpoint:**

        * Process permissions en: ''Lectura''.'
      tags:
      - Procesos
      parameters:
      - name: id
        in: path
        required: true
        description: ÍD del proceso a consultar
        schema:
          type: integer
      responses:
        '200':
          description: Proceso encontrado exitosamente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Process'
      operationId: getProcessById
      x-operation-id-source: derived
    delete:
      summary: Eliminar proceso
      description: 'Elimina un proceso de tipo liquidación utilizando su identificador. Solo se pueden eliminar procesos de este tipo.


        **Permisos requeridos para utilizar este endpoint:**

        * Process permissions en: ''Lectura y Modificación''.'
      tags:
      - Procesos
      parameters:
      - name: id
        in: path
        required: true
        description: Identificador del proceso a eliminar
        schema:
          type: integer
      responses:
        '200':
          description: Proceso eliminado exitosamente
        '409':
          description: No se puede eliminar el proceso. Solo se permiten eliminar procesos de tipo Liquidación
      operationId: deleteProcessById
      x-operation-id-source: derived
components:
  schemas:
    processInput:
      required:
      - process
      - owner_email
      - employees
      properties:
        process:
          type: object
          required:
          - name
          - variable_id
          properties:
            name:
              type: string
              description: Nombre del proceso a crear
              example: Proceso de nómina Enero 2024
            variable_id:
              type: string
              description: Identificador del periodo (variable) asociado al proceso
              example: '456'
        owner_email:
          type: string
          description: Correo del responsable del proceso
          example: responsable@empresa.cl
        employees:
          type: array
          items:
            type: integer
            format: int64
    Process:
      required:
      - id
      - name
      - process_type
      - status
      properties:
        id:
          type: integer
          description: Identificador
          example: 123
        name:
          type: string
          description: Nombre
          example: Proceso de nómina Enero 2024
        process_type:
          type: string
          description: Tipo
          enum:
          - salary_payment
          - snapshot_salary_payment
          - ptu
          - aguinaldo
          - finiquito
          - reproceso
          - travel_expenses
          - severance
          - trece_salario
          - international_contractor_salary_payment
          - anticipo
          - special_payment_other_income
          - extraordinary
          - plr
          - honorarios
          example: salary_payment
        payment_date:
          type: string
          format: date
          description: Fecha de pago
          example: '2024-01-31'
        status:
          type: string
          description: Estado
          enum:
          - abierto
          - revision
          - cerrado
          example: abierto
        start_date:
          type: string
          format: date
          description: Fecha inicio período
          example: '2024-01-01'
        end_date:
          type: string
          format: date
          description: Fecha fin período
          example: '2024-01-31'
        created_at:
          type: string
          format: date
          description: Fecha de creación
          example: '2024-01-05'
        updated_at:
          type: string
          format: date
          description: Última fecha que se modifico
          example: '2024-01-06'
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
