openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Unidades API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Unidades
paths:
  /piecework/units:
    get:
      summary: Listar Unidades
      description: '''Retornar Unidades''


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de tratos en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Unidades
      parameters:
      - name: page_size
        in: query
        description: '(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]

          '
        schema:
          type: integer
      responses: {}
      operationId: getPieceworkUnits
      x-operation-id-source: derived
    post:
      summary: Crear Unidades
      description: 'Crea una nueva Unidad en el sistema. Los parámetros son:


        - name : Nombre de la Unidad.

        - code : Código de la Unidad.


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de tratos en: ''Lectura y Modificación''.'
      tags:
      - Unidades
      requestBody:
        content:
          application/json:
            schema:
              properties:
                unit:
                  $ref: '#/components/schemas/Piecework__Unit__Request'
        description: Objeto de tipo Unidad
        required: true
      responses: {}
      operationId: postPieceworkUnits
      x-operation-id-source: derived
components:
  schemas:
    Piecework__Unit__Request:
      properties:
        code:
          type: string
        name:
          type: string
      required:
      - code
      - name
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
