openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Productos API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Productos
paths:
  /piecework/products:
    get:
      summary: Listar Productos
      description: '''Retornar Productos''


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de tratos en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Productos
      parameters:
      - name: page_size
        in: query
        description: '(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]

          '
        schema:
          type: integer
      responses: {}
      operationId: getPieceworkProducts
      x-operation-id-source: derived
    post:
      summary: Crear Productos
      description: 'Crea un nuevo Producto en el sistema. Los parámetros son:


        - name : Nombre del Producto.

        - code : Código del Producto.


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de tratos en: ''Lectura y Modificación''.'
      tags:
      - Productos
      requestBody:
        content:
          application/json:
            schema:
              properties:
                product:
                  $ref: '#/components/schemas/Piecework__Product__Request'
        description: Objeto de tipo Producto
        required: true
      responses: {}
      operationId: postPieceworkProducts
      x-operation-id-source: derived
components:
  schemas:
    Piecework__Product__Request:
      properties:
        code:
          type: string
        name:
          type: string
      required:
      - code
      - name
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
