openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Versions API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Versions
paths:
  /versions:
    get:
      summary: Show versions
      description: 'We received the information related to the versions


        * Allow viewing sensitive information en: ''Sí''.

        Para acceder a historiales extensos (mayores a un año), se requiere solicitar a través de la plataforma. Esto permite procesar la información y luego disponibilizarla mediante la API.'
      tags:
      - Versions
      parameters:
      - name: event
        in: query
        description: Event that originates the version
        schema:
          type: integer
      - name: item_type
        in: query
        description: Clase del objeto afectado que da origen a la versión
        schema:
          type: integer
      - name: page_size
        in: query
        description: Page size
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we received the information corresponding all the versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/version'
            application/pdf:
              schema:
                $ref: '#/components/schemas/version'
      operationId: getVersions
      x-operation-id-source: derived
components:
  schemas:
    version:
      properties:
        id:
          type: integer
        event:
          type: string
        item_type:
          type: string
        employee_id:
          type: integer
        object_changes:
          type: object
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
