openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Days worked API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Days worked
paths:
  /working_days:
    get:
      summary: Show Worked Days
      description: 'Provides information about the days worked for each Colaborador.


        A type of Worked Day has the following attributes:

        - employee_id: unique identifier of the Colaborador

        - document_number: Document Number of the Colaborador

        - document_type: Type of Document of the Colaborador

        - code: file code of the Colaborador

        - working_days: total number of days worked

        - working_days_dates: dates of the days worked


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura''.'
      tags:
      - Days worked
      parameters:
      - name: from
        in: query
        description: (OPTIONAL) Indicates the starting date of the worked days (Format YYYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: to
        in: query
        description: (OPTIONAL) Indicates the end date of the worked days (Format YYYYY-MM-DD)
        schema:
          type: string
          format: date
      - name: document_number
        in: query
        description: (OPTIONAL) Document Number of the Colaborador
        schema:
          type: string
      - name: code
        in: query
        description: (OPTIONAL) Colaborador file code
        schema:
          type: string
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      - name: page
        in: query
        description: (OPTIONAL) Page number
        schema:
          type: integer
      responses:
        '200':
          description: A list of days worked for each Colaborador.
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkingDay'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkingDay'
      operationId: getWorkingDays
      x-operation-id-source: derived
    post:
      summary: Create worked days
      description: 'Save worked days for each Colaborador. The parameters are:


        - employee_id: ID of the Colaborador

        - month: Number of the month to which the worked days will be added

        - working_days: a list of worked days for the indicated month. This list should be a sequence of integers, where each number represents a day of the month, separated by commas.


        Please note that the worked days will be saved for the specified month, overwriting the existing entry. In other words, each request will overwrite the worked days.


        Please note that if the employee''s pay stub is closed for that month, worked days cannot be added.


        Please note that worked days can only be added in open months.


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Days worked
      responses:
        '201':
          description: Response in case of successful creation of worked days
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkingDay::Minimal'
        description: Object of type WorkingDay
      operationId: postWorkingDays
      x-operation-id-source: derived
  /working_days/{employee_id}/{monthyear}:
    delete:
      summary: Delete worked days
      description: 'Deletes the days worked for an Colaborador. The parameters are:


        - employee_id: ID of the Colaborador

        - Date for deleting worked days (Format MM-YYYY)


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Days worked
      parameters:
      - name: employee_id
        in: path
        description: '- employee_id: ID of the Colaborador'
        required: true
        schema:
          type: integer
      - name: monthyear
        in: path
        description: '- Date for deleting worked days (Format MM-YYYY)'
        required: true
        schema:
          type: string
          format: date
      responses:
        '200':
          description: Response in case of successful deletion of the worked days
          name: data
          content:
            application/json:
              schema:
                properties:
                  deleted:
                    type: string
            application/pdf:
              schema:
                properties:
                  deleted:
                    type: string
        '404':
          description: When there are no allowed resources to delete
          name: data
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: deleteWorkingDaysByEmployeeIdByMonthyear
      x-operation-id-source: derived
components:
  schemas:
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
