openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Áreas API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Áreas
paths:
  /areas:
    get:
      summary: Listar áreas
      description: 'Crea una nueva Área en el sistema.


        Este endpoint no requiere permisos especiales.'
      tags:
      - Áreas
      deprecated: true
      parameters:
      - name: status
        in: query
        description: (OPCIONAL) Filtra los resultados por el estado del área.
        schema:
          type: string
          enum:
          - active
          - inactive
          - both
          default: both
      - name: page_size
        in: query
        description: (OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]
        schema:
          type: integer
      - name: page
        in: query
        description: Número de página
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos un arreglo (data) con la información de las áreas
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Area'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Area'
      operationId: getAreas
      x-operation-id-source: derived
  /areas/{id}:
    get:
      summary: Obtener un área en especifico por ID
      description: 'Retorna el área correspodiente al ID

        Este endpoint no requiere permisos especiales.'
      tags:
      - Áreas
      deprecated: true
      parameters:
      - name: id
        in: path
        description: ID del área a consultar
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibirás un área
          content:
            application/json:
              schema:
                description: Como respuesta recibimos todos los campos correspondiente a la información del área consultada dentro
                properties:
                  data:
                    $ref: '#/components/schemas/Area'
            application/pdf:
              schema:
                description: Como respuesta recibimos todos los campos correspondiente a la información del área consultada dentro
                properties:
                  data:
                    $ref: '#/components/schemas/Area'
      operationId: getAreasById
      x-operation-id-source: derived
  /organization/areas/:
    get:
      summary: Listar áreas
      description: 'Retorna todas las áreas, incluyendo las de nivel 0 y nivel 1.


        Descripción de Atributos:

        - `id`: [string] Id del Área.

        - `name`: [string] Nombre del Área.

        - `address`: (opcional) [string] Dirección del Área.

        - `children_area`: [object] Objeto con Área hijas.

        - `parent_area`: [object] Objeto con Área padre.

        - `first_level_id`: [string] Id del área de primer nivel del Área.

        - `first_level_name`: [string] Nombre del área de primer nivel del Área.

        - `second_level_id`: [string] Id del área de segundo nivel del Área.

        - `second_level_name`: [string] Nombre del área de segundo nivel del Área.

        - `depth`: [string] Nivel de Área.

        - `cost_center`: [object] Centro de costo.

        - `status`: [string] Estado del Área (activo o inactivo).

        - `custom_attributes`: [string] Atributos personalizados.

        - `city`: [string] Ciudad del Área.


        Este endpoint no requiere permisos especiales.'
      tags:
      - Áreas
      parameters:
      - name: status
        in: query
        description: (OPCIONAL) Filtra los resultados por el estado del área.
        schema:
          type: string
          enum:
          - active
          - inactive
          - both
          default: both
      - name: page_size
        in: query
        description: (OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]
        schema:
          type: integer
      - name: page
        in: query
        description: Número de página
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos un arreglo (data) con la información de las áreas
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Area_new'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Area_new'
      operationId: getOrganizationAreas
      x-operation-id-source: derived
  /organization/areas/{id}:
    get:
      summary: Obtener un área en especifico por ID
      description: 'Retorna el área correspodiente al ID, incluyendo aquellas de nivel 0 y nivel 1.


        Descripción de Atributos:

        - `id`: [string] Id del Área.

        - `name`: [string] Nombre del Área.

        - `address`: (opcional) [string] Dirección del Área.

        - `children_area`: [object] Objeto con Área hijas.

        - `parent_area`: [object] Objeto con Área padre.

        - `first_level_id`: [string] Id del área de primer nivel del Área.

        - `first_level_name`: [string] Nombre del área de primer nivel del Área.

        - `second_level_id`: [string] Id del área de segundo nivel del Área.

        - `second_level_name`: [string] Nombre del área de segundo nivel del Área.

        - `depth`: [string] Nivel de Área.

        - `cost_center`: [object] Centro de costo.

        - `status`: [string] Estado del Área (activo o inactivo).

        - `custom_attributes`: [string] Atributos personalizados.

        - `city`: [string] Ciudad del Área.

        Este endpoint no requiere permisos especiales.'
      tags:
      - Áreas
      parameters:
      - name: id
        in: path
        description: ID del área a consultar
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibirás un área
          content:
            application/json:
              schema:
                description: Como respuesta recibimos todos los campos correspondiente a la información del área consultada dentro
                properties:
                  data:
                    $ref: '#/components/schemas/Area_new'
            application/pdf:
              schema:
                description: Como respuesta recibimos todos los campos correspondiente a la información del área consultada dentro
                properties:
                  data:
                    $ref: '#/components/schemas/Area_new'
      operationId: getOrganizationAreasById
      x-operation-id-source: derived
    patch:
      summary: Actualizar un área por ID
      description: 'Edita un Área en el sistema.

        - `name`: [string] Nombre del Área.

        - `accounting_prefix`: [string] Prefijo costos.

        - `city`: [string] Ciudad del Área.

        - `address`: (opcional) [string] Dirección del Área.

        - `cost_center_id`: [string] Id del centro de costo [string] Dirección del Área.

        - `location_id`: [integer] Id de la Location del Área.

        - `role_ids`: [array] Ids de los roles del Área.

        - `custom_attrs`: [object] Objeto con atributo custom y valor.

        - `active`: [boolean] Estado del Área.


        Este endpoint no requiere permisos especiales.'
      tags:
      - Áreas
      parameters:
      - name: id
        in: path
        required: true
        description: ID del área a consultar
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibirás un área
          content:
            application/json:
              schema:
                description: Como respuesta recibimos todos los campos correspondiente a la información del área consultada dentro
                properties:
                  data:
                    $ref: '#/components/schemas/Area_new'
            application/pdf:
              schema:
                description: Como respuesta recibimos todos los campos correspondiente a la información del área consultada dentro
                properties:
                  data:
                    $ref: '#/components/schemas/Area_new'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Area__Update'
        required: true
      operationId: patchOrganizationAreasById
      x-operation-id-source: derived
  /organization/areas:
    post:
      summary: Crear Área
      description: 'Crea una nueva Área en el sistema.

        - `parent_id`: [string] Id del Área padre.

        - `name`: [string] Nombre del Área a crear.

        - `accounting_prefix`: [string] Prefijo costos.

        - `city`: [string] Ciudad del Área a crear.

        - `address`: (opcional) [string] Dirección del Área a crear.

        - `cost_center_id`: [string] Id del centro de costo.

        - `location_id`: [integer] Id de la Location del Área a crear.

        - `role_ids`: [array] Ids de los roles del Área a crear.

        - `custom_attrs`: [object] Objeto con atributo custom y valor.


        Este endpoint no requiere permisos especiales.'
      tags:
      - Áreas
      responses:
        '201':
          description: Como respuesta recibirás un área
          content:
            application/json:
              schema:
                description: Como respuesta recibimos todos los campos correspondiente a la información del área consultada dentro
                properties:
                  data:
                    $ref: '#/components/schemas/Area_new'
            application/pdf:
              schema:
                description: Como respuesta recibimos todos los campos correspondiente a la información del área consultada dentro
                properties:
                  data:
                    $ref: '#/components/schemas/Area_new'
        '404':
          description: No Existe el recurso solicitado
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Area__Create'
        required: true
      operationId: postOrganizationAreas
      x-operation-id-source: derived
    delete:
      summary: Eliminar áreas por ID
      description: 'Elimina Áreas en el sistema. - `id`: Id del Área.

        Este endpoint no requiere permisos especiales.'
      tags:
      - Áreas
      parameters:
      - name: id
        description: 'Elimina Áreas en el sistema. - `id`: Id del Área.'
        in: query
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Recibirás una respuesta de éxito o de error
          name: data
          content:
            application/json:
              schema:
                properties:
                  deleted:
                    type: boolean
            application/pdf:
              schema:
                properties:
                  deleted:
                    type: boolean
        '404':
          description: Cuando no hay recursos permitidos que borrar
          name: data
          content:
            application/json:
              schema:
                properties:
                  deleted:
                    type: boolean
                    default: false
            application/pdf:
              schema:
                properties:
                  deleted:
                    type: boolean
                    default: false
        '400':
          description: Cuando hay un error al borrar un registro
          name: data
          content:
            application/json:
              schema:
                properties:
                  deleted:
                    type: boolean
                    default: false
                  errors:
                    type: object
                    properties:
                      record_id:
                        type: integer
                        description: Id del recurso que generó el error
                      msj:
                        type: string
                        description: Descripción del error
            application/pdf:
              schema:
                properties:
                  deleted:
                    type: boolean
                    default: false
                  errors:
                    type: object
                    properties:
                      record_id:
                        type: integer
                        description: Id del recurso que generó el error
                      msj:
                        type: string
                        description: Descripción del error
      operationId: deleteOrganizationAreas
      x-operation-id-source: derived
components:
  schemas:
    AreaSecondLevel:
      properties:
        id:
          type: integer
        name:
          type: string
        division:
          $ref: '#/components/schemas/AreaFirstLevel'
    AreaFirstLevel:
      properties:
        id:
          type: integer
          description: Identificador del área de primer nivel
          example: 1
        name:
          type: string
          description: Nombre del área de primer nivel
          example: Gerencia
    Area_new:
      properties:
        id:
          type: integer
        name:
          type: string
        address:
          type: string
        children_area:
          type: array
          items:
            $ref: '#/components/schemas/parent_child_area'
        parent_area:
          $ref: '#/components/schemas/parent_child_area'
        first_level_id:
          type: integer
        first_level_name:
          type: string
        second_level_id:
          type: integer
        second_level_name:
          type: string
        depth:
          type: integer
        cost_center:
          type: string
        status:
          type: string
        custom_attributes:
          type: object
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    Area__Update:
      properties:
        name:
          required: true
          type: string
        accounting_prefix:
          type: string
        city:
          type: string
        address:
          type: string
        cost_center_id:
          type: string
        location_id:
          required: true
          type: integer
        active:
          type: boolean
        role_ids:
          type: array
          items:
            type: integer
        custom_attrs:
          type: object
          items:
            type: string
    Area__Create:
      properties:
        parent_id:
          required: true
          type: integer
        location_id:
          required: true
          type: integer
        name:
          required: true
          type: string
        accounting_prefix:
          type: string
        city:
          type: string
        address:
          type: string
        cost_center_id:
          type: string
        role_ids:
          type: array
          items:
            type: integer
        custom_attrs:
          type: object
    Area:
      properties:
        id:
          type: integer
        name:
          type: string
        address:
          type: string
        children_area:
          $ref: '#/components/schemas/parent_child_area'
        parent_area:
          $ref: '#/components/schemas/parent_child_area'
        cost_center:
          type: string
        department:
          $ref: '#/components/schemas/AreaSecondLevel'
        status:
          type: string
        custom_attributes:
          type: object
    parent_child_area:
      properties:
        id:
          type: integer
        name:
          type: string
        commune:
          type: string
        city:
          type: string
        address:
          type: string
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
