openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Empresas Variable Records API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Empresas Variable Records
paths:
  /company_variable_registries/{id}:
    get:
      summary: List variable records of Empresas
      description: 'Displays all records of Empresas variables by company_variable_registries_id in the system.


        Este endpoint no requiere permisos especiales.'
      tags:
      - Empresas Variable Records
      parameters:
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default, it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      - name: id
        in: path
        description: Variable ID Empresa record of which you wish to list.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive an array (data) with the information of the Empresas variable records.
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyVariableRegistry'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CompanyVariableRegistry'
      operationId: getCompanyVariableRegistriesById
      x-operation-id-source: derived
components:
  schemas:
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    CompanyVariableRegistry:
      properties:
        id:
          type: integer
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
