openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Evaluations API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Evaluations
paths:
  /talent/evaluation_processes:
    get:
      summary: Show performance evaluations
      description: 'Provides the data of the available performance evaluations.

        Each performance evaluation has the following attributes:

        - id: Unique Id of the performance evaluation

        - name: name of performance evaluation

        - participants: number of participants added to performance evaluation

        - status: performance evaluation status

        - start_date: performance evaluation start date

        - end_date: performance evaluation end date

        - global_progress: percentage of completed forms

        - stages: stages set for performance evaluation


        **Permisos requeridos para utilizar este endpoint:**

        * Evaluation permissions en: ''Lectura''.'
      tags:
      - Evaluations
      parameters:
      - name: page_size
        in: query
        description: (OPTIONAL) Number of responses per page. By default, it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      - name: page
        in: query
        description: (OPTIONAL) Page number
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive the existing performance evaluations.
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  evaluation_processes:
                    $ref: '#/components/schemas/EvaluationProcess'
                description: As a response, we receive all the data related to the available performance evaluations.
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  evaluation_processes:
                    $ref: '#/components/schemas/EvaluationProcess'
                description: As a response, we receive all the data related to the available performance evaluations.
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getTalentEvaluationProcesses
      x-operation-id-source: derived
  /talent/evaluation_process/{id}/results/capacities:
    get:
      summary: Show the results of the Competency from a performance evaluation
      description: 'Displays the results related to the Competency from the queried performance evaluation.

        A result of Competency from a performance evaluation has the following attributes:

        - evaluation_id: Unique ID of the performance evaluation

        - evaluation_status: Status of the evaluated employee

        - evaluated_name: Name of the evaluated employee

        - evaluated_rut: RUT of the evaluated employee

        evaluated_document_number: Document Number of the evaluated employee

        evaluated_document_type: Type of Document of the evaluated

        - role: Job title of the evaluated employee

        - role_family: Job family of the evaluated employee

        - division: Division of the evaluated employee

        - area: Area of the evaluated employee

        - sub_area: Sub area of the evaluated employee

        - evaluation_type: Type of evaluation

        - evaluator_name: Name of the evaluator

        - evaluator_rut: RUT of the evaluator

        evaluator_document_number: Document Number of the evaluator

        evaluator_document_type: Type of Document of the evaluator

        - score_by_capacity: Score per Competency.

        - capacities_score: Competency Final score

        - score: Final evaluation score


        **Permisos requeridos para utilizar este endpoint:**

        * Evaluation permissions en: ''Lectura''.'
      tags:
      - Evaluations
      parameters:
      - name: id
        in: path
        description: ID of the performance evaluation to be queried
        required: true
        schema:
          type: integer
      - name: page_size
        in: query
        description: (Optional) Number of responses per page. By default it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      - name: page
        in: query
        description: (OPTIONAL) Page number
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we received the results related to the Competency of the performance evaluation.
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  evaluations:
                    $ref: '#/components/schemas/Capacities'
                description: As a response, we received all the fields corresponding to the information of the queried performance evaluation.
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  evaluations:
                    $ref: '#/components/schemas/Capacities'
                description: As a response, we received all the fields corresponding to the information of the queried performance evaluation.
        '404':
          description: Performance evaluation not found
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getTalentEvaluationProcessByIdResultsCapacities
      x-operation-id-source: derived
  /talent/evaluation_process/{id}/results/goals:
    get:
      summary: Display the results of the Objetivos from a performance evaluation
      description: 'Provides results related to the Objetivos from the queried performance evaluation.

        A result of Objetivos from a performance evaluation has the following attributes:

        - evaluation_id: Unique ID of the performance evaluation

        - evaluation_status: Status of the evaluated employee

        - evaluated_name: Name of the evaluated employee

        - evaluated_rut: RUT of the evaluated employee

        evaluated_document_number: Document Number of the evaluated employee

        evaluated_document_type: Type of Document of the evaluated

        - role: Job title of the evaluated employee

        - role_family: Job family of the evaluated employee

        - division: Division of the evaluated employee

        - area: Area of the evaluated employee

        - sub_area: Sub area of the evaluated employee

        - evaluation_type: Type of evaluation

        - evaluator_name: Name of the evaluator

        - evaluator_rut: RUT of the evaluator

        evaluator_document_number: Document Number of the evaluator

        evaluator_document_type: Type of Document of the evaluator

        - score_by_goal: Score by Translation missing: en-br.{custom_translations.models.talent/employee_goal.one

        - goals_score: Final score of Objetivos

        - score: Final evaluation score


        **Permisos requeridos para utilizar este endpoint:**

        * Evaluation permissions en: ''Lectura''.'
      tags:
      - Evaluations
      parameters:
      - name: id
        in: path
        description: ID of the performance evaluation to be queried
        required: true
        schema:
          type: integer
      - name: page_size
        in: query
        description: (Optional) Number of responses per page. By default it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      - name: page
        in: query
        description: (OPTIONAL) Page number
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we received the results related to the Objetivos of the performance evaluation.
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  evaluations:
                    $ref: '#/components/schemas/Goals'
                description: As a response, we received all the fields corresponding to the information of the queried performance evaluation.
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  evaluations:
                    $ref: '#/components/schemas/Goals'
                description: As a response, we received all the fields corresponding to the information of the queried performance evaluation.
        '404':
          description: Performance evaluation not found
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getTalentEvaluationProcessByIdResultsGoals
      x-operation-id-source: derived
components:
  schemas:
    ScoreByGoal:
      properties:
        name:
          type: string
        score:
          type: number
    ScoreByCapacity:
      properties:
        name:
          type: string
        score:
          type: number
    Capacities:
      properties:
        evaluation_id:
          type: integer
        evaluation_status:
          type: string
        evaluated_name:
          type: string
        evaluated_rut:
          type: string
        role:
          type: string
        role_family:
          type: string
        division:
          type: string
        area:
          type: string
        sub_area:
          type: string
        evaluation_type:
          type: string
        evaluator_name:
          type: string
        evaluator_rut:
          type: string
        score_by_capacity:
          type: array
          items:
            $ref: '#/components/schemas/ScoreByCapacity'
        capacities_score:
          type: number
        score:
          type: number
      allOf:
      - $ref: '#/components/schemas/EvaluatedPersonIdentifier'
      - $ref: '#/components/schemas/EvaluatorPersonIdentifier'
    EvaluationProcess:
      properties:
        id:
          type: integer
        name:
          type: string
        participants:
          type: integer
        status:
          type: string
        start_date:
          type: string
        end_date:
          type: string
        global_progress:
          type: string
        stages:
          type: array
          items:
            type: string
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    EvaluatedPersonIdentifier:
      properties:
        evaluated_document_number:
          type: string
          description: Document Number of  Evaluated.
        evaluated_document_type:
          type: string
          description: 'Document Type Evaluated. Valid Document Types in the {code: translation} format are: {"ci_brasil":"CPF","otro":"Other"}'
    Goals:
      allOf:
      - $ref: '#/components/schemas/EvaluatedPersonIdentifier'
      - $ref: '#/components/schemas/EvaluatorPersonIdentifier'
      properties:
        evaluation_id:
          type: integer
        evaluation_status:
          type: string
        evaluated_name:
          type: string
        evaluated_rut:
          type: string
        role:
          type: string
        role_family:
          type: string
        division:
          type: string
        area:
          type: string
        sub_area:
          type: string
        evaluation_type:
          type: string
        evaluator_name:
          type: string
        evaluator_rut:
          type: string
        score_by_goal:
          type: array
          items:
            $ref: '#/components/schemas/ScoreByGoal'
        goals_score:
          type: number
        score:
          type: number
    EvaluatorPersonIdentifier:
      properties:
        evaluator_document_number:
          type: string
          description: Document Number of  Evaluator.
        evaluator_document_type:
          type: string
          description: 'Document Type Evaluator. Valid Document Types in the {code: translation} format are: {"ci_brasil":"CPF","otro":"Other"}'
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
