openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Vacation Policies API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Vacation Policies
paths:
  /vacation_definitions:
    get:
      summary: List Vacation Policies
      description: 'Displays all vacation policies and their associated vacation type.


        **Permisos requeridos para utilizar este endpoint:**

        * Vacation permissions en: ''Lectura''.'
      tags:
      - Vacation Policies
      parameters:
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      - name: page
        in: query
        description: (OPTIONAL) Page number
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive a list of available vacation policies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VacationDefinitionOutput'
            application/pdf:
              schema:
                $ref: '#/components/schemas/VacationDefinitionOutput'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getVacationDefinitions
      x-operation-id-source: derived
components:
  schemas:
    VacationDefinition:
      properties:
        id:
          type: integer
          description: ID de la política de vacaciones
          example: 1
        code:
          type: string
          description: Código de la política
          example: legales
        name:
          type: string
          description: Nombre de la política de vacaciones
          example: Vacaciones legales
        vacation_type:
          type: object
          $ref: '#/components/schemas/VacationType'
          description: Tipo de vacación asociado
          example:
            name: Legales
            code: legales
    VacationType:
      properties:
        name:
          type: string
          description: Nombre del tipo de vacación
          example: Legales
        code:
          type: string
          description: Código del tipo de vacación
          example: legales
    VacationDefinitionOutput:
      properties:
        vacation_definitions:
          type: array
          description: Lista de políticas de vacaciones
          example: []
          items:
            $ref: '#/components/schemas/VacationDefinition'
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
