openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Notas API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Notas
paths:
  /recruiting/notes:
    post:
      summary: Add comment
      description: 'Create a new comment associated with an applicant using their email


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura''.'
      tags:
      - Notas
      responses:
        '201':
          description: Comment successfully created
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  note:
                    $ref: '#/components/schemas/NoteCreated'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  note:
                    $ref: '#/components/schemas/NoteCreated'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
        '404':
          description: The requested resource does not exist
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      requestBody:
        content:
          application/json:
            schema:
              title: RequestBody
              properties:
                note:
                  $ref: '#/components/schemas/NoteInput'
        description: Comment parameters
        required: true
      operationId: postRecruitingNotes
      x-operation-id-source: derived
components:
  schemas:
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    NoteInput:
      required:
      - message
      - email
      - referrer
      type: object
      description: Datos para crear un comentario
      properties:
        message:
          example: {}
          type: string
          description: Mensaje del comentario
        email:
          example: {}
          type: string
          format: email
          description: E-mail del postulante
        process_stage_name:
          example: {}
          type: string
          description: Nombre de la etapa del proceso
        process_stage_id:
          example: 123
          type: integer
          description: Id de la etapa del proceso
        score:
          example: 10
          type: integer
          description: Puntaje dado al postulante
        referrer:
          example: portal
          type: string
          description: Origen del comentario, Tipos soportados (internal, external, diio)
        selection_process_id:
          example: 123
          type: integer
          description: Id del proceso de selección
    NoteCreated:
      type: object
      description: Comentario creado exitosamente
      properties:
        id:
          example: 123
          type: integer
          description: Id del comentario
        message:
          example: {}
          type: string
          description: Mensaje del comentario
        postulante_id:
          example: 123
          type: integer
          description: Id del postulante
        created_at:
          example: '2024-01-01T12:00:00Z'
          type: string
          format: date-time
          description: Fecha de creación del comentario
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
