openapi: 3.2.0
info:
  title: Buk Procesos API
  version: '1.0'
  description: 'Operations tagged Procesos across 5 of this provider''s published API definitions: buk-data-access-api-brasil-openapi.yml, buk-data-access-api-chile-openapi.yml, buk-data-access-api-colombia-openapi.yml, buk-data-access-api-mexico-openapi.yml, buk-data-access-api-peru-openapi.yml. Each path carries the servers of the definition it was published in.'
host: demo.buk.cl
tags:
- name: Procesos
paths:
  /process:
    get:
      summary: List processes
      description: 'Retrieve all processes corresponding to a period.


        Este endpoint no requiere permisos especiales.

        '
      tags:
      - Procesos
      parameters:
      - name: date
        in: query
        type: string
        format: date
        required: true
        description: Indicates the start date of the process to be consulted (YYYYY-MM-DD format).
      - name: page_size
        in: query
        type: integer
        description: Number of responses per page. By default it has a value of 25 and must be within a range of [25 - 100].
      - name: page
        in: query
        type: integer
        description: Page number
      - name: name
        in: query
        type: string
        required: false
        description: Nombre del proceso para filtrar los resultados
      responses:
        '200':
          description: Proceso encontrado exitosamente
          name: data
          schema:
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              data:
                type: array
                items:
                  $ref: '#/definitions/Process'
    post:
      summary: Crear un nuevo proceso de nómina
      description: "Retrieve all processes corresponding to a period.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Process permissions en: 'Lectura y Modificación'.\n"
      tags:
      - Procesos
      parameters:
      - name: Process
        in: body
        description: Retrieve all processes corresponding to a period.
        required: true
        schema:
          $ref: '#/definitions/processInput'
      responses:
        '201':
          description: Proceso creado exitosamente
          schema:
            $ref: '#/definitions/Process'
  /process/{id}:
    get:
      summary: Obtener detalles de un proceso
      description: "Retorna la información detallada de un proceso específico por su ÍD\n\n**Permisos requeridos para utilizar este endpoint:** \n* Process permissions en: 'Lectura'.\n"
      tags:
      - Procesos
      parameters:
      - name: id
        in: path
        type: integer
        required: true
        description: ÍD del proceso a consultar
      responses:
        '200':
          description: Proceso encontrado exitosamente
          schema:
            $ref: '#/definitions/Process'
    delete:
      summary: Eliminar proceso
      description: "Elimina un proceso de tipo liquidación utilizando su identificador. Solo se pueden eliminar procesos de este tipo.\n\n**Permisos requeridos para utilizar este endpoint:** \n* Process permissions en: 'Lectura y Modificación'.\n"
      tags:
      - Procesos
      parameters:
      - name: id
        in: path
        type: integer
        required: true
        description: Identificador del proceso a eliminar
      responses:
        '200':
          description: Proceso eliminado exitosamente
        '409':
          description: No se puede eliminar el proceso. Solo se permiten eliminar procesos de tipo Liquidación
definitions:
  processInput:
    required:
    - process
    - owner_email
    - employees
    properties:
      process:
        type: object
        required:
        - name
        - variable_id
        properties:
          name:
            type: string
            description: Nombre del proceso a crear
            example: Proceso de nómina Enero 2024
          variable_id:
            type: string
            description: Identificador del periodo (variable) asociado al proceso
            example: '456'
      owner_email:
        type: string
        description: Correo del responsable del proceso
        example: responsable@empresa.cl
      employees:
        type: array
        items:
          type: integer
          format: int64
  Process:
    required:
    - id
    - name
    - process_type
    - status
    properties:
      id:
        type: integer
        description: Identificador
        example: 123
      name:
        type: string
        description: Nombre
        example: Proceso de nómina Enero 2024
      process_type:
        type: string
        description: Tipo
        enum:
        - salary_payment
        - snapshot_salary_payment
        - ptu
        - aguinaldo
        - finiquito
        - reproceso
        - travel_expenses
        - severance
        - trece_salario
        - international_contractor_salary_payment
        - anticipo
        - special_payment_other_income
        - extraordinary
        - plr
        - honorarios
        example: salary_payment
      payment_date:
        type: string
        format: date
        description: Fecha de pago
        example: '2024-01-31'
      status:
        type: string
        description: Estado
        enum:
        - abierto
        - revision
        - cerrado
        example: abierto
      start_date:
        type: string
        format: date
        description: Fecha inicio período
        example: '2024-01-01'
      end_date:
        type: string
        format: date
        description: Fecha fin período
        example: '2024-01-31'
      created_at:
        type: string
        format: date
        description: Fecha de creación
        example: '2024-01-05'
      updated_at:
        type: string
        format: date
        description: Última fecha que se modifico
        example: '2024-01-06'
  Pagination:
    properties:
      next:
        type: string
      previous:
        type: string
      count:
        type: integer
      total_pages:
        type: integer
securityDefinitions:
  auth_token:
    type: apiKey
    name: auth_token
    in: header
x-refined-from:
- buk-data-access-api-brasil-openapi.yml
- buk-data-access-api-chile-openapi.yml
- buk-data-access-api-colombia-openapi.yml
- buk-data-access-api-mexico-openapi.yml
- buk-data-access-api-peru-openapi.yml
