openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Overtime API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Overtime
paths:
  /attendances/overtime:
    get:
      summary: List overtime
      description: 'View overtime records


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Overtime
      parameters:
      - name: from
        description: Start date of the search query period in YYYY-MM-DD format.
        in: query
        schema:
          type: string
          format: date
      - name: to
        description: End date of the  search query period  in YYYY-MM-DD format.
        in: query
        schema:
          type: string
          format: date
      - name: page_size
        in: query
        description: (Optional) Number of responses per page. By default it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive an array (data) with overtime
          name: data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attendances__Overtime__Index'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Attendances__Overtime__Index'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getAttendancesOvertime
      x-operation-id-source: derived
    post:
      summary: Add overtime
      description: 'Prefer to use the **Payment Data Sync** endpoint


        Allows adding overtime to a Colaborador for a given month.


        An object of type Overtime must be sent as JSON in the body of the request, composed of:

        - day: Day to determine to which period the overtime belongs (optional)

        - month: The month corresponding to overtime

        - year: The year the overtime corresponds to

        - hours: Number of overtime hours to add

        - employee_id: ID of the Colaborador to whom to associate overtime.

        - type_id: ID of the type of overtime to add

        - centro_costo: Cost center code to which the overtime will be charged


        (Important) Payment documents. will not be updated automatically after adding overtime. They must be recalculated in the Colaborador tab or in the corresponding process.


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Overtime
      deprecated: true
      responses:
        '200':
          description: Response when replacing overtime
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  horas_extra:
                    $ref: '#/components/schemas/Attendances__Overtime__Response'
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
                  horas_extra:
                    $ref: '#/components/schemas/Attendances__Overtime__Response'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attendances__Overtime__Request'
        description: Overtime type object
      operationId: postAttendancesOvertime
      x-operation-id-source: derived
    put:
      summary: Add overtime
      description: 'Prefer to use the **Payment Data Sync** endpoint


        Allows to indicate the number of overtime hours that a Colaborador worked during a given month. This method **replaces** the amount of overtime, it does not add to existing overtime.


        An object of type Overtime must be sent as JSON in the body of the request, composed of:

        - day: Day to determine to which period the overtime belongs (optional)

        - month: The month corresponding to overtime

        - year: The year the overtime corresponds to

        - hours: Number of overtime hours to add

        - employee_id: ID of the Colaborador to whom to associate overtime.

        - type_id: ID of the type of overtime to add

        - centro_costo: Cost center code to which the overtime will be charged}


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Overtime
      deprecated: true
      responses:
        '200':
          description: Response when replacing overtime
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  horas_extra:
                    $ref: '#/components/schemas/Attendances__Overtime__Response'
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
                  horas_extra:
                    $ref: '#/components/schemas/Attendances__Overtime__Response'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attendances__Overtime__Request'
        description: Overtime type object
      operationId: putAttendancesOvertime
      x-operation-id-source: derived
  /attendances/overtime/{id}:
    get:
      summary: View an overtime record
      description: 'View an overtime record based on its ID


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Overtime
      parameters:
      - name: id
        description: ID of the overtime
        in: path
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: As a response, we received the information of the overtime
          name: data
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Attendances__Overtime__Response'
            application/pdf:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Attendances__Overtime__Response'
        '404':
          description: When the resource does not exist
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getAttendancesOvertimeById
      x-operation-id-source: derived
  /attendances/overtime/types:
    get:
      summary: List types of overtime hours
      description: 'Generates a list of the types of overtime that exist in the system.


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Overtime
      responses:
        '200':
          description: As a response, we receive an array (data) with types of overtime hours.
          name: data
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attendances__Overtime__Type'
            application/pdf:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Attendances__Overtime__Type'
      operationId: getAttendancesOvertimeTypes
      x-operation-id-source: derived
components:
  schemas:
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    Attendances__Overtime__Type:
      properties:
        id:
          type: integer
        name:
          type: string
        factor:
          type: number
          format: float
        category:
          type: integer
          enum:
          - 0
          - 1
          description: 0 = hora_extra, 1 = recargo
    Attendances__Overtime__Request:
      properties:
        day:
          type: integer
        month:
          type: integer
        year:
          type: integer
        hours:
          type: number
          format: float
        employee_id:
          type: integer
        type_id:
          type: integer
        centro_costo:
          type: string
      required:
      - hours
      - employee_id
      - type_id
      - day
      - month
      - year
    Attendances__Overtime__Response:
      properties:
        day:
          type: integer
        month:
          type: integer
        year:
          type: integer
        hours:
          type: number
          format: float
        id:
          type: integer
        employee_id:
          type: integer
        type_id:
          type: integer
        centro_costo:
          type: string
        centro_costo_code:
          type: string
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    Attendances__Overtime__Index:
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Attendances__Overtime__Response'
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
