openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Capacitaciones API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Capacitaciones
paths:
  /training/sence_percents:
    get:
      summary: Mostrar tramo sence de todos los empleados
      description: 'Retorna un listado con el id, rut y tramo sence de cada empleados del sistema que tenga una liquidación del mes abierto.


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de capacitaciones en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Capacitaciones
      parameters:
      - name: page_size
        in: query
        description: Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: Respuesta con el id, rut y porcentaje de tramo sence de cada empleados.
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SencePercentIndex'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/SencePercentIndex'
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getTrainingSencePercents
      x-operation-id-source: derived
  /training/sence_percents/{employee_id}:
    get:
      summary: Mostrar el tramo sence de un empleados
      description: 'Recibimos la información específica del empleados cuya ID o RUT enviamos en la consulta


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de capacitaciones en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Capacitaciones
      parameters:
      - name: employee_id
        in: path
        description: ' ID o RUT sin puntos del empleados a consultar'
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Retorna el porcentaje de tramo sence del empleados por medio del  ID o RUT.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SencePercent'
            application/pdf:
              schema:
                $ref: '#/components/schemas/SencePercent'
        '404':
          description: empleados no encontrado
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getTrainingSencePercentsByEmployeeId
      x-operation-id-source: derived
components:
  schemas:
    Employee__Response__Simple:
      properties:
        id:
          type: integer
          description: ID del empleado
        rut:
          type: string
      allOf:
      - $ref: '#/components/schemas/BasePersonIdentifier'
    SencePercent:
      properties:
        sence_percent:
          type: string
          description: Porcentaje de tramo sence del empleado
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    BasePersonIdentifier:
      properties:
        document_number:
          type: string
          description: Document Number of  Colaborador.
        document_type:
          type: string
          description: 'Document Type Colaborador. Valid Document Types in the {code: translation} format are: {"ci_brasil":"CPF","otro":"Other"}'
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    SencePercentIndex:
      properties:
        employee:
          $ref: '#/components/schemas/Employee__Response__Simple'
        sence_percent:
          type: string
          description: Porcentaje de tramo sence del empleado
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
