openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Lugares de Trabajo API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Lugares de Trabajo
paths:
  /piecework/places:
    get:
      summary: Listar Lugares de Trabajo
      description: '#'
      tags:
      - Lugares de Trabajo
      parameters:
      - name: empresa_id
        description: {}
        in: query
        schema:
          type: integer
      - name: page_size
        in: query
        description: '(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]

          '
        schema:
          type: integer
      responses: {}
      operationId: getPieceworkPlaces
      x-operation-id-source: derived
    post:
      summary: Crear Lugares de Trabajo
      description: '#'
      tags:
      - Lugares de Trabajo
      requestBody:
        content:
          application/json:
            schema:
              properties:
                place:
                  $ref: '#/components/schemas/Piecework__Place__Request'
        description: Objeto de tipo Lugar de Trabajo
        required: true
      responses: {}
      operationId: postPieceworkPlaces
      x-operation-id-source: derived
components:
  schemas:
    Piecework__Place__Request:
      properties:
        code:
          type: string
        name:
          type: string
        empresa_id:
          type: integer
        centro_costo_definition_id:
          type: integer
      required:
      - code
      - name
      - empresa_id
      - centro_costo_definition_id
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
