openapi: 3.2.0
info:
  title: Buk Empresas Variable Records API
  version: '1.0'
  description: 'Operations tagged Empresas Variable Records across 5 of this provider''s published API definitions: buk-data-access-api-brasil-openapi.yml, buk-data-access-api-chile-openapi.yml, buk-data-access-api-colombia-openapi.yml, buk-data-access-api-mexico-openapi.yml, buk-data-access-api-peru-openapi.yml. Each path carries the servers of the definition it was published in.'
host: demo.buk.cl
tags:
- name: Empresas Variable Records
paths:
  /company_variable_registries/{id}:
    get:
      summary: List variable records of Empresas
      description: 'Displays all records of Empresas variables by company_variable_registries_id in the system.


        Este endpoint no requiere permisos especiales.

        '
      tags:
      - Empresas Variable Records
      parameters:
      - name: page_size
        in: query
        type: integer
        description: (OPTIONAL) Number of answers per page. By default, it has a value of 25 and must be within a range of [25 - 100].
      - name: id
        in: path
        type: integer
        description: Variable ID Empresa record of which you wish to list.
        required: true
      responses:
        '200':
          description: As a response, we receive an array (data) with the information of the Empresas variable records.
          name: data
          schema:
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              data:
                type: array
                items:
                  $ref: '#/definitions/CompanyVariableRegistry'
definitions:
  CompanyVariableRegistry:
    properties:
      id:
        type: integer
  Pagination:
    properties:
      next:
        type: string
      previous:
        type: string
      count:
        type: integer
      total_pages:
        type: integer
securityDefinitions:
  auth_token:
    type: apiKey
    name: auth_token
    in: header
x-refined-from:
- buk-data-access-api-brasil-openapi.yml
- buk-data-access-api-chile-openapi.yml
- buk-data-access-api-colombia-openapi.yml
- buk-data-access-api-mexico-openapi.yml
- buk-data-access-api-peru-openapi.yml
