openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Synchronization of payment data API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Synchronization of payment data
paths:
  /employees/{employee_id}/payment_data/{period_id}:
    post:
      summary: Crea o actualiza las asignaciones y sobretiempos de un determinado Colaborador
      description: 'Se guardarán los datos enviados solo si ningún objeto presenta errores.

        De lo contrario, se retornarán los objetos que posean uno o más errores.

        En el caso de que el objeto ya exista previamente, este será actualizado con los datos enviados.


        Each assignment is composed of

        - id: ID of the Added Item to be deleted (optional)

        - _destroy: boolean (optional) (in order to delete a Added Item there must be id and _destroy in the object in question)

        - item_id: item assigned to Colaborador

        - amount: for items configured with amount "different per person", this value corresponds to the one entered

        in the assignment and for items configured with amount "equal for all" this value will be the amount of the

        item entered in its creation. For a formulated item, it represents the value of `item.monto`

        - end_date: end period for the assignment. If not sent, the assignment will be considered in force indefinitely

        - custom_attrs: object with custom attribute and value


        Each overtime consists of:

        - day: Día el cual se realizó las horas extras (opcional)

        - month: The month corresponding to overtime

        - year: The year the overtime corresponds to

        - hours: Number of overtime hours to add

        - employee_id: ID of the Colaborador to whom to associate overtime.

        - type_id: ID of the type of overtime to add

        - centro_costo: Cost center code to which the overtime will be charged


        **Permisos requeridos para utilizar este endpoint:**

        * Employee permissions en: ''Lectura''.

        * Item permissions en: ''Lectura y Modificación''.

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Synchronization of payment data
      parameters:
      - name: employee_id
        in: path
        required: true
        schema:
          type: integer
      - name: period_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Se devuelve data con asignaciones y sobretiempos creados.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      assigns:
                        type: array
                        items:
                          $ref: '#/components/schemas/Assign__PaymentDetailResponse'
                      overtimes:
                        type: array
                        items:
                          $ref: '#/components/schemas/Attendances__Overtime__PaymentDetail'
            application/pdf:
              schema:
                properties:
                  data:
                    properties:
                      assigns:
                        type: array
                        items:
                          $ref: '#/components/schemas/Assign__PaymentDetailResponse'
                      overtimes:
                        type: array
                        items:
                          $ref: '#/components/schemas/Attendances__Overtime__PaymentDetail'
        '404':
          description: El Colaborador 'employee_id' no existen.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                overtimes:
                  type: array
                  items:
                    $ref: '#/components/schemas/Attendances__Overtime__PaymentDetail'
                assigns:
                  type: array
                  items:
                    $ref: '#/components/schemas/Assign__PaymentDetail'
        description: Objeto con asignaciones y sobretiempos.
      operationId: postEmployeesByEmployeeIdPaymentDataByPeriodId
      x-operation-id-source: derived
components:
  schemas:
    Assign__PaymentDetail:
      properties:
        id:
          required: false
          type: integer
        employee_id:
          required: true
          type: integer
        item_id:
          required: true
          type: integer
        end_date:
          type: string
          format: date
        description:
          type: string
        amount:
          required: true
          type: integer
        cost_center:
          type: string
        _destroy:
          type: boolean
          default: false
        custom_attrs:
          type: object
    Attendances__Overtime__PaymentDetail:
      properties:
        day:
          type: integer
        hours:
          type: number
          format: float
        employee_id:
          type: integer
        type_id:
          type: integer
        centro_costo:
          type: string
      required:
      - hours
      - employee_id
      - type_id
    Assign__PaymentDetailResponse:
      properties:
        id:
          required: false
          type: integer
        employee_id:
          required: true
          type: integer
        item_id:
          required: true
          type: integer
        end_date:
          type: string
          format: date
        description:
          type: string
        amount:
          required: true
          type: integer
        cost_center:
          type: string
        custom_attrs:
          type: object
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
