openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Time Off Leaves API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Time Off Leaves
paths:
  /absences:
    get:
      summary: List unexcused absences
      description: 'Displays the unexcused absence of each type registered in the system within a date range (optional).

        The unexcused absences types are:


        - leave: Para una leave Médica

        - absence: For an unexcused absence

        - leave: For an unpaid absence request

        - paid_leave: For a paid absence request


        Dates must be in YYYYY-MM-DD format.

        Filters by type and date are optional.


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Time Off Leaves
      deprecated: true
      parameters:
      - name: from
        description: Start date of the range in YYYY-MM-DD format.
        in: query
        schema:
          type: string
          format: date
      - name: to
        description: End date of the range in YYYY-MM-DD format.
        in: query
        schema:
          type: string
          format: date
      - name: type
        description: Unexcused absence type
        in: query
        schema:
          type: string
          enum:
          - licence
          - absence
          - leave
          - paid_leave
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive an array (data) with unexcused absences.
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Absence__Response'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Absence__Response'
      operationId: getAbsences
      x-operation-id-source: derived
components:
  schemas:
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    Absence__Response:
      properties:
        id:
          type: integer
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        days_count:
          type: integer
        day_percent:
          type: number
          format: float
        contribution_days:
          type: number
          format: float
        workday_stage:
          type: string
        application_date:
          type: string
          format: date
        application_end_date:
          type: string
          format: date
        justification:
          type: string
        employee_id:
          type: integer
        status:
          type: string
        created_at:
          type: string
          format: date
        updated_at:
          type: string
          format: date
      required:
      - start_date
      - days_count
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
