openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Ítems API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Ítems
paths:
  /items:
    get:
      summary: Listar ítems
      description: 'Retorna todos los ítems registrados en el sistema


        Se cada ítem se compone de

        - id: identificador único del ítem

        - name: nombre descriptivo

        - amount: es la cantidad a asignar del ítem, este puede ser vacío

        - income_tax: si es o no tributable

        - created_at: fecha de creación

        - updated_at: última fecha de actualización

        - type: [descuento, haber, aporte, informativo]

        - start_date: fecha de inicio

        - end_date: fecha de fin

        - calculation_method: [fijo, proporcional, proporcional ausencia, porcentaje sueldo base, líquido, formulado]

        - base_extra_hours: afecta el cálculo de base de las horas extra

        - currency: tipo de moneda referida

        - gratification: afecta el cálculo de base de las horas extra

        - base_seventh_work_day: afecta el cálculo de base de las horas extra

        - advance_payment_day: si es o no anticipo

        - uf_day: dia de la UF

        - taxable: si es o no tributable

        - base_contribution_license: afecta el cálculo de base de las horas extra

        - amount_type: [unico, variable, formulado]

        - formula: formula para el caso de ítem formulado

        - blocked: para no ser modificado

        - group_ine: código para encuesta coyuntural

        - affects_overdraft: si afecta o no el sobregiro

        - remuneration_type: tipo de remuneración para el finiquito

        - previous_bono_id: ítem anterior, en caso de haber terminado uno y comenzando otro nuevo

        - editable: si es o no editable

        - limit_areas: si está o no limitado por areas

        - order_section: para ítems acumulativos, sección de la liquidación se va a calcular el acumulador

        - order_number: para ítems acumulativos, orden se va a calcular el concepto dentro de la liquidación

        - requestable: solicitable en el flujo de solicitud de ítem

        - assignable: si es o no asignable a un empleado

        - after_section: para ítems acumulativos, si ocurrirá después de dicha sección

        - code: codigo identificador

        - agrupacion_lre: agrupación para libro de remuneraciones electrónico


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de ítems en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Ítems
      parameters:
      - name: date
        in: query
        description: Filtra los ítems que son vigentes para esta fecha
        schema:
          type: string
          format: date
      - name: name
        in: query
        description: Filtra los ítems con este nombre
        schema:
          type: string
      - name: code
        in: query
        description: Filtra los ítems con este código
        schema:
          type: string
      - name: type
        in: query
        description: Filtra los ítems del tipo especificado ('haber', 'descuento', 'anticipo', 'aporte', 'informativo')
        schema:
          type: string
      - name: page_size
        in: query
        description: (OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos un arreglo (data) con la información de los ítems
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bono'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Bono'
        '400':
          description: La petición enviada no cumple con el formato adecuado
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      operationId: getItems
      x-operation-id-source: derived
components:
  schemas:
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    Bono:
      properties:
        id:
          type: integer
        name:
          type: string
        start_date:
          type: string
        end_date:
          type: string
        type:
          type: string
        remuneration_type:
          type: string
        amount:
          type: string
        income_tax:
          type: boolean
        created_at:
          type: string
        updated_at:
          type: string
        calculation_method:
          type: string
        base_extra_hours:
          type: boolean
        currency:
          type: string
        gratification:
          type: boolean
        base_seventh_work_day:
          type: boolean
        advance_payment_day:
          type: boolean
        uf_day:
          type: string
        taxable:
          type: boolean
        base_contribution_license:
          type: boolean
        amount_type:
          type: string
        formula:
          type: string
        calculation_description:
          type: string
        blocked:
          type: boolean
        group_ine:
          type: string
        affects_overdraft:
          type: boolean
        previous_bono_id:
          type: string
        editable:
          type: string
        limit_areas:
          type: boolean
        order_section:
          type: string
        order_number:
          type: string
        requestable:
          type: boolean
        assignable:
          type: string
        after_section:
          type: boolean
        code:
          type: string
        agrupacion_lre:
          type: string
        version_number:
          type: integer
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
