openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Tarifas API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Tarifas
paths:
  /piecework/executions:
    get:
      summary: Listar Tarifas
      description: '''Retornar tarifas desde la fecha de creación dada''


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de tratos en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Tarifas
      parameters:
      - name: created_at
        description: (OPCIONAL) Fecha en que fue creada la tarifa en YYYY-MM-DD.
        in: query
        schema:
          type: string
          format: date
      - name: page_size
        in: query
        description: '(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]

          '
        schema:
          type: integer
      responses: {}
      operationId: getPieceworkExecutions
      x-operation-id-source: derived
    post:
      summary: Crear tarifa
      description: 'Crea una nueva tarifa en el sistema. Los parámetros son:


        - piecework_place_id : Id del lugar.

        - piecework_task_id : Id del labor.

        - piecework_unit_id : Id del unidad.

        - piecework_product_id: Id del producto.

        - formula : Valor de la tarifa, si la tarifa es simple no se requiere.

        - start_date : Fecha de inicio de la tarifa.

        - end_date: Fecha de finalización de la tarifa. OPCIONAL

        - type_rate : Tipo de tarifa, normal(0) o simple(1). Por defecto es 0.

        - monetary_floor : Se define piso de la tarifa de forma manual. Requerido si la tarifa es normal y no se tiene el calculo de piso por el sistema.


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de tratos en: ''Lectura y Modificación''.'
      tags:
      - Tarifas
      requestBody:
        content:
          application/json:
            schema:
              properties:
                execution:
                  $ref: '#/components/schemas/Piecework__Execution__Request'
        description: Objeto de tipo tarifa
        required: true
      responses: {}
      operationId: postPieceworkExecutions
      x-operation-id-source: derived
components:
  schemas:
    Piecework__Execution__Request:
      properties:
        piecework_place_id:
          type: integer
        piecework_task_id:
          type: integer
        piecework_unit_id:
          type: integer
        piecework_product_id:
          type: integer
        formula:
          type: number
          format: float
        start_date:
          type: string
          format: date
        type_rate:
          type: integer
        monetary_floor:
          type: integer
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
