openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Créditos API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Créditos
paths:
  /credits:
    get:
      summary: Listar créditos
      description: 'Retorna todos los descuentos de caja y créditos


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de ítems en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Créditos
      parameters:
      - name: date
        in: query
        required: true
        description: Filtra los créditos que son vigentes para esta fecha
        schema:
          type: string
          format: date
      - name: name
        in: query
        description: Filtra los créditos con este nombre
        schema:
          type: string
      - name: type
        in: query
        description: Filtra los créditos del tipo especificado (["credito_personal", "dental", "leasing", "seguro_vida", "credito_otro"])
        schema:
          type: string
      - name: page_size
        in: query
        description: Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos un arreglo (data) con la información de los créditos
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Credit'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Credit'
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
        '404':
          description: No Existe el recurso solicitado
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      operationId: getCredits
      x-operation-id-source: derived
  /credits/{id}:
    get:
      summary: Mostrar un crédito
      description: 'Se muestra toda la información relacionada a un crédito dado un año y un mes


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de ítems en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Créditos
      parameters:
      - name: id
        in: path
        description: ID del crédito a consultar
        required: true
        schema:
          type: integer
      - name: year
        in: query
        description: Año a consultar en YYYY
        required: true
        schema:
          type: integer
      - name: month
        in: query
        description: Mes a consultar (1 - 12)
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos todos los campos correspondiente a la información del crédito
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Credit'
            application/pdf:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Credit'
        '404':
          description: No Existe el recurso solicitado
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getCreditsById
      x-operation-id-source: derived
    patch:
      summary: Editar un crédito
      description: 'Edita un crédito. Los campos fecha_primera_cuota y end_date no son editables. Si se edita alguno de los campos start_date o duracion, el campo end_date se calculará y actualizará


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de ítems en: ''Lectura y Modificación''.'
      tags:
      - Créditos
      parameters:
      - name: id
        in: path
        description: id del crédito a editar
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos la información del crédito editado
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                  nombre:
                    type: string
                  employee_id:
                    type: integer
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  start_date:
                    type: string
                  tipo:
                    type: string
                  moneda:
                    type: string
                  dia_uf:
                    type: string
                  amount:
                    type: integer
                  duracion:
                    type: integer
                  comentario:
                    type: string
                  end_date:
                    type: string
                  fecha_primera_cuota:
                    type: string
            application/pdf:
              schema:
                properties:
                  id:
                    type: integer
                  nombre:
                    type: string
                  employee_id:
                    type: integer
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  start_date:
                    type: string
                  tipo:
                    type: string
                  moneda:
                    type: string
                  dia_uf:
                    type: string
                  amount:
                    type: integer
                  duracion:
                    type: integer
                  comentario:
                    type: string
                  end_date:
                    type: string
                  fecha_primera_cuota:
                    type: string
        '404':
          description: No Existe el recurso solicitado
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                nombre:
                  type: string
                tipo:
                  type: string
                moneda:
                  type: string
                dia_uf:
                  type: string
                amount:
                  type: integer
                  format: integer
                duracion:
                  type: integer
                  format: integer
                comentario:
                  type: string
                start_date:
                  type: string
        description: Objeto de tipo crédito
        required: true
      operationId: patchCreditsById
      x-operation-id-source: derived
    delete:
      summary: Eliminar un crédito
      description: 'Elimina un crédito


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de ítems en: ''Lectura y Modificación''.'
      tags:
      - Créditos
      parameters:
      - name: id
        in: path
        description: id del crédito a eliminar
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos un mensaje indicando que el crédito se eliminó exitosamente
          content:
            application/json:
              schema:
                properties:
                  deleted:
                    type: boolean
            application/pdf:
              schema:
                properties:
                  deleted:
                    type: boolean
        '404':
          description: No Existe el recurso solicitado
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: deleteCreditsById
      x-operation-id-source: derived
  /credits/{id}/suspend:
    post:
      summary: Suspender un crédito
      description: 'Suspende un crédito.


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de ítems en: ''Lectura y Modificación''.'
      tags:
      - Créditos
      parameters:
      - name: id
        in: path
        description: ID del crédito a consultar
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Crédito suspendido
        '404':
          description: No Existe el recurso solicitado
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                suspend_periods:
                  type: integer
                variable_id:
                  type: integer
                  description: ID del período de nómina a usar como referencia para la fecha de suspensión. Si se omite, se usa el primer período abierto del sistema.
        description: Objeto de tipo crédito
        required: true
      operationId: postCreditsByIdSuspend
      x-operation-id-source: derived
  /credits/{id}/resume:
    post:
      summary: reanudar un crédito
      description: 'reanudar un crédito.


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de ítems en: ''Lectura y Modificación''.'
      tags:
      - Créditos
      parameters:
      - name: id
        in: path
        description: ID del crédito a consultar
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Crédito reanudado
        '404':
          description: No Existe el recurso solicitado
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                variable_id:
                  type: integer
                  description: ID del período de nómina a usar como referencia para la fecha de reanudación. Si se omite, se usa el primer período abierto del sistema.
      operationId: postCreditsByIdResume
      x-operation-id-source: derived
  /credits/create:
    post:
      summary: Asignar créditos
      description: 'Crear asignaciones de créditos a un employee_id


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de ítems en: ''Lectura y Modificación''.'
      tags:
      - Créditos
      parameters:
      - name: employee_id
        in: query
        required: true
        description: ID del Empleado al cual se le asigna el crédito
        schema:
          type: integer
          format: date
      - name: nombre
        in: query
        required: true
        description: Nombre -humano- para identificar el crédito
        schema:
          type: string
      - name: tipo
        in: query
        required: true
        description: Tipo de crédito a asignar
        schema:
          type: string
          enum:
          - credito_personal
          - dental
          - leasing
          - seguro_vida
          - credito_otro
      - name: start_date
        in: query
        required: true
        description: Fecha de inicio del periodo donde aplica el crédito, formato YYYY-MM-DD
        schema:
          type: string
          format: date
      - name: moneda
        in: query
        required: true
        description: Si usa peso(0) o UF(1)
        schema:
          type: string
          enum:
          - peso
          - uf
      - name: amount
        in: query
        required: true
        description: Valor de la cuota
        schema:
          type: integer
      - name: cuota_actual
        in: query
        required: true
        description: periodo actual en el que se encuentra, default 1
        schema:
          type: integer
      - name: duracion
        in: query
        required: true
        description: Cantidad de periodos a descontar
        schema:
          type: integer
      - name: comentario
        in: query
        description: Comentario
        schema:
          type: string
      - name: dia_uf
        in: query
        description: Dia del cual tomar la uf en caso de ser cobrado en uf
        schema:
          type: string
      responses:
        '200':
          description: Como respuesta recibimos un arreglo (data) con la información de los créditos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credit'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Credit'
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
        '404':
          description: No Existe el recurso solicitado
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      operationId: postCreditsCreate
      x-operation-id-source: derived
components:
  schemas:
    Credit:
      properties:
        id:
          type: integer
        employee_id:
          type: integer
        name:
          type: string
        description:
          type: string
        amount:
          type: number
          format: float
        term:
          type: integer
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        initial_payment_date:
          type: string
          format: date
        paid_amount:
          type: number
          format: float
        remaining_balance:
          type: number
          format: float
        current_fee:
          type: integer
        status:
          type: string
        type:
          type: string
        currency:
          type: string
        uf_day:
          type: string
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
