openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Períodos API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Períodos
paths:
  /process_periods:
    get:
      summary: Listar períodos
      description: 'Retorna todos los períodos de la aplicación con sus datos y estado correspondiente.


        Este endpoint no requiere permisos especiales.'
      tags:
      - Períodos
      parameters:
      - name: page_size
        in: query
        description: (OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos un arreglo (data) con todos los períodos de la aplicación
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Variable'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Variable'
      operationId: getProcessPeriods
      x-operation-id-source: derived
components:
  schemas:
    Variable:
      properties:
        id:
          type: integer
          description: Identificador del periodo
          example: 123
        month:
          type: string
          description: Mes del periodo en formato YYYY-MM
          example: 2024-01
        end_date:
          type: string
          description: Fecha de fin del periodo en formato YYYY-MM-DD
          example: '2024-01-31'
        status:
          type: string
          description: Estado del periodo
          example: abierto
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
