openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Labores API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Labores
paths:
  /piecework/tasks:
    get:
      summary: Listar labores
      description: '''Retornar labores desde la fecha de creación dada''


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de tratos en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Labores
      parameters:
      - name: created_at
        description: (OPCIONAL) Fecha en que fue creada la labor en YYYY-MM-DD.
        in: query
        schema:
          type: string
          format: date
      - name: page_size
        in: query
        description: '(OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]

          '
        schema:
          type: integer
      responses: {}
      operationId: getPieceworkTasks
      x-operation-id-source: derived
    post:
      summary: Crear labores
      description: 'Crea un nuevo labor en el sistema. Los parámetros son:


        - description : Descripción del labor.

        - code : Código del labor.

        - seventh_workday : Afecto a semana corrida.

        - custom_attrs : Atributos personalizados para labores.


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de tratos en: ''Lectura y Modificación''.'
      tags:
      - Labores
      requestBody:
        content:
          application/json:
            schema:
              properties:
                task:
                  $ref: '#/components/schemas/Piecework__Task__Request'
        description: Objeto de tipo labor
        required: true
      responses: {}
      operationId: postPieceworkTasks
      x-operation-id-source: derived
components:
  schemas:
    Piecework__Task__Request:
      properties:
        code:
          type: integer
        description:
          type: string
        seventh_workday:
          type: boolean
        custom_attrs:
          type: object
      required:
      - code
      - description
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
