openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Unions API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Unions
paths:
  /unions/{id}:
    get:
      summary: Show union
      description: 'We received the information related to the union whose ID we sent in the query.

        Este endpoint no requiere permisos especiales.'
      tags:
      - Unions
      parameters:
      - name: id
        in: path
        description: Union ID
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we received the information corresponding to the queried union
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/union'
            application/pdf:
              schema:
                $ref: '#/components/schemas/union'
      operationId: getUnionsById
      x-operation-id-source: derived
  /unions:
    get:
      summary: Show unions
      description: 'We received information related to unions


        Este endpoint no requiere permisos especiales.'
      tags:
      - Unions
      parameters:
      - name: page_size
        in: query
        description: Page size
        schema:
          type: integer
      - name: page
        in: query
        description: Page number
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we received the corresponding information for all unions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/union'
            application/pdf:
              schema:
                $ref: '#/components/schemas/union'
      operationId: getUnions
      x-operation-id-source: derived
    post:
      summary: Create a union
      description: 'Create a new union in the system. The parameters are:


        - id : Union ID


        - name: Union name


        - rut: Union''s RUT


        Este endpoint no requiere permisos especiales.'
      tags:
      - Unions
      responses:
        '201':
          description: Response in case a union has been successfully created
          content:
            application/json:
              schema:
                properties:
                  union:
                    $ref: '#/components/schemas/union_detail'
            application/pdf:
              schema:
                properties:
                  union:
                    $ref: '#/components/schemas/union_detail'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/approved_union'
        description: Parameters of a union
        required: true
      operationId: postUnions
      x-operation-id-source: derived
  /unions/update:
    put:
      summary: Update union information
      description: 'Allows you to specify the new name and RUT of a union.


        Este endpoint no requiere permisos especiales.'
      tags:
      - Unions
      responses:
        '200':
          description: Response to union replacement
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  union:
                    $ref: '#/components/schemas/union_response'
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
                  union:
                    $ref: '#/components/schemas/union_response'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/union_request'
        description: Union-type object
      operationId: putUnionsUpdate
      x-operation-id-source: derived
components:
  schemas:
    union_detail:
      properties:
        id:
          type: integer
        name:
          type: string
        rut:
          type: string
    approved_union:
      properties:
        id:
          type: integer
        name:
          type: string
        rut:
          type: string
      required:
      - id
      - name
      - rut
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    union_request:
      properties:
        id:
          type: integer
        name:
          type: string
        rut:
          type: string
      required:
      - id
      - name
      - rut
    union_response:
      properties:
        id:
          type: integer
        name:
          type: string
        rut:
          type: string
    union:
      properties:
        id:
          type: integer
        name:
          type: string
        rut:
          type: string
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
