openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Centralized accounting API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Centralized accounting
paths:
  /accounting:
    get:
      summary: Centralized accounting
      description: 'It allows to obtain the accounting information corresponding to a specific month.

        The items are grouped by the pay stub to which they belong.


        **Permisos requeridos para utilizar este endpoint:**

        * Accounting permissions en: ''Lectura''.'
      tags:
      - Centralized accounting
      parameters:
      - name: month
        description: Queried Month (1 - 12) MANDATORY if process_id is not specified. If process_id is specified, MONTH will be ignored.
        in: query
        schema:
          type: integer
      - name: year
        description: Queried Year MANDATORY if process_id is not specified. If process_id is specified, YEAR will be ignored.
        in: query
        schema:
          type: integer
      - name: process_id
        description: ID of the process to be queried. MANDATORY if year and month is not specified
        in: query
        schema:
          type: integer
      - name: company_id
        description: ID or RUT of the Empresa to be queried.
        in: query
        schema:
          type: string
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: Returns the accounting information for the month, grouped by pay stub. Each group has an ID code of the pay stub that create it.
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Accounting'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Accounting'
        '400':
          description: The request sent does not respect the proper format.
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '404':
          description: There is no information for the month and year entered.
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      operationId: getAccounting
      x-operation-id-source: derived
  /accounting/export:
    get:
      summary: Accounting
      description: 'Obtains in JSON format the accounting data.


        **Permisos requeridos para utilizar este endpoint:**

        * Accounting permissions en: ''Lectura''.'
      tags:
      - Centralized accounting
      parameters:
      - name: month
        description: Queried Month (1 - 12)
        in: query
        required: true
        schema:
          type: integer
      - name: year
        description: Queried Year
        in: query
        required: true
        schema:
          type: integer
      - name: company_id
        description: ID or RUT of the Empresa to be queried.
        in: query
        schema:
          type: string
      - name: subprocess_id
        description: (OPTIONAL) Sub-process ID
        in: query
        schema:
          type: integer
      - name: page
        in: query
        description: (OPCIONAL) Número de la página a consultar. Por defecto, la primera página.
        schema:
          type: integer
      - name: page_size
        in: query
        description: (OPCIONAL) Numero de respuestas por página.
        schema:
          type: integer
      responses:
        '200':
          description: Displays the accounting information for the month.
          type: array
        '404':
          description: This method is not available
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      operationId: getAccountingExport
      x-operation-id-source: derived
  /accounting/export_period:
    get:
      summary: Accounting
      description: 'Obtains in JSON format the accounting data.


        **Permisos requeridos para utilizar este endpoint:**

        * Accounting permissions en: ''Lectura''.'
      tags:
      - Centralized accounting
      parameters:
      - name: process_id
        description: Process ID
        in: query
        required: true
        schema:
          type: integer
      - name: company_id
        description: {}
        in: query
        schema:
          type: string
      - name: subprocess_id
        description: (OPTIONAL) Sub-process ID
        in: query
        schema:
          type: integer
      - name: page
        in: query
        description: (OPCIONAL) Número de la página a consultar. Por defecto, la primera página.
        schema:
          type: integer
      - name: page_size
        in: query
        description: (OPCIONAL) Numero de respuestas por página.
        schema:
          type: integer
      responses:
        '200':
          description: Displays the accounting information corresponding to the period of the process.
          type: array
        '404':
          description: This method is not available
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      operationId: getAccountingExportPeriod
      x-operation-id-source: derived
  /accounting/export_detail:
    get:
      summary: Accounting by Pay Stub
      description: 'Obtains in JSON format the accounting data, but processing for each pay stub separately.


        **Permisos requeridos para utilizar este endpoint:**

        * Accounting permissions en: ''Lectura''.'
      tags:
      - Centralized accounting
      parameters:
      - name: month
        description: Queried Month (1 - 12)
        in: query
        required: true
        schema:
          type: integer
      - name: year
        description: Queried Year
        in: query
        required: true
        schema:
          type: integer
      - name: company_id
        description: ID or RUT of the Empresa to be queried.
        in: query
        schema:
          type: string
      - name: page
        in: query
        description: (OPCIONAL) Número de la página a consultar. Por defecto, la primera página.
        schema:
          type: integer
      - name: page_size
        in: query
        description: (OPCIONAL) Numero de respuestas por página.
        schema:
          type: integer
      responses:
        '200':
          description: Displays the accounting information for the month, grouped by pay stub and Empresa. Each group has an ID code of the pay stub that create it.
          type: array
        '404':
          description: This method is not available
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      operationId: getAccountingExportDetail
      x-operation-id-source: derived
  /accounting/vacations/balance:
    get:
      summary: Show vacation balance by month
      description: 'We receive the month from which to get the vacation balances from the Colaboradores.


        **Permisos requeridos para utilizar este endpoint:**

        * Accounting permissions en: ''Lectura''.'
      tags:
      - Centralized accounting
      parameters:
      - name: employee_id
        description: ID of the Colaborador
        in: query
        schema:
          type: integer
      - name: year
        description: Queried Year
        in: query
        required: true
        schema:
          type: integer
      - name: month
        description: Queried Month (1 - 12)
        in: query
        required: true
        schema:
          type: integer
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive an array (data) with the specified vacation information.
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VacationBalance'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/VacationBalance'
      operationId: getAccountingVacationsBalance
      x-operation-id-source: derived
  /accounting/export_process_differences:
    get:
      summary: Reprocess accounting
      description: 'Obtains in JSON format the accounting data for the differences created in a subprocess as a result of a reprocess.


        **Permisos requeridos para utilizar este endpoint:**

        * Accounting permissions en: ''Lectura''.'
      tags:
      - Centralized accounting
      parameters:
      - name: process_id
        description: Subprocess ID. REQUIRED
        in: query
        required: true
        schema:
          type: integer
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: Displays the accounting information corresponding to the reprocessing of compensations.
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Accounting'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Accounting'
        '400':
          description: The request sent does not respect the proper format.
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '404':
          description: There is no information for the month and year entered.
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      operationId: getAccountingExportProcessDifferences
      x-operation-id-source: derived
  /ledger_account:
    get:
      summary: List accounts
      description: 'Displays all the accounts registered in the system.


        Each account consists of

        - id: unique ID

        - created_at: creation date

        - updated_at: date of updating process

        - name: name associated with the payroll item

        - number: number

        - type: [general, bono, descuento, credito, aporte, tipo_sobretiempo]

        - format: [detalle, resumen]

        - document_type: document type

        - group_code: grouping code


        **Permisos requeridos para utilizar este endpoint:**

        * Accounting permissions en: ''Lectura''.'
      tags:
      - Centralized accounting
      parameters:
      - name: page
        in: query
        description: Número de página
        schema:
          type: integer
      - name: page_size
        in: query
        description: (OPCIONAL) Numero de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive an array (data) with information about accounts
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CuentaContable'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CuentaContable'
        '400':
          description: The request sent does not respect the proper format.
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      operationId: getLedgerAccount
      x-operation-id-source: derived
components:
  schemas:
    VacationBalance:
      properties:
        employee_id:
          type: integer
          description: ID del empleado
          example: 123
        initial_vacation_balance:
          type: number
          description: Saldo inicial de vacaciones en días
          example: 12.5
        final_vacation_balance:
          type: number
          description: Saldo final de vacaciones en días
          example: 10.0
        difference:
          type: number
          description: Diferencia entre saldo final e inicial
          example: -2.5
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
