openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Empresas API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Empresas
paths:
  /companies:
    get:
      summary: List Empresas
      description: 'Returns all the Empresas registered in the system.


        Este endpoint no requiere permisos especiales.'
      tags:
      - Empresas
      parameters:
      - name: page_size
        in: query
        description: (OPTIONAL) Number of answers per page. By default it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive an array (data) with information from the Empresas
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Company'
      operationId: getCompanies
      x-operation-id-source: derived
components:
  schemas:
    CompanyBank:
      properties:
        id:
          type: integer
        empresa_id:
          type: integer
        name:
          type: string
        account_number:
          type: integer
        clabe_mexico:
          type: integer
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    Company:
      properties:
        id:
          type: integer
        name:
          type: string
        address:
          type: string
        commune:
          type: string
        city:
          type: string
        rut:
          type: string
        company_email:
          type: string
        company_business:
          type: string
        legal_agents:
          type: array
          items:
            $ref: '#/components/schemas/LegalAgent'
        custom_attributes:
          type: object
        company_banks:
          type: array
          items:
            $ref: '#/components/schemas/CompanyBank'
        external:
          type: boolean
        provider_registration_number:
          type:
          - string
          - 'null'
        cnpj:
          type: string
        fantasy_name:
          type: string
    LegalAgent:
      properties:
        person_id:
          type: integer
        id:
          type: integer
        rut:
          type: string
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
