openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Users and profiles API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Users and profiles
paths:
  /users:
    get:
      summary: Show users
      description: 'Delivers the information of all users.


        **Permisos requeridos para utilizar este endpoint:**

        * User and profile permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Users and profiles
      parameters:
      - name: name
        in: query
        description: Name
        schema:
          type: string
      - name: email
        in: query
        description: Email
        schema:
          type: string
      - name: person_id
        in: query
        description: Employee ID (Found in the employee endpoint)
        schema:
          type: integer
      - name: permission_role_id
        in: query
        description: Profile ID
        schema:
          type: integer
      - name: limit_areas
        in: query
        description: Limited by areas?
        schema:
          type: boolean
          enum:
          - true
          - false
      - name: limit_realms
        in: query
        description: Limited by Data set?
        schema:
          type: boolean
          enum:
          - true
          - false
      - name: realm_name
        in: query
        description: Name of the data set
        schema:
          type: boolean
          enum:
          - true
          - false
      - name: limited_by_area_id
        in: query
        description: ID of the Area for which the users are limited
        schema:
          type: integer
      - name: activated
        in: query
        description: Active user?
        schema:
          type: boolean
          enum:
          - true
          - false
      - name: rol_visible
        in: query
        description: Role Limits
        schema:
          type: string
          enum:
          - ve_publico
          - ve_privado
          - ve_ambos
      responses:
        '200':
          description: A list of users that meet the search criteria
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            application/pdf:
              schema:
                $ref: '#/components/schemas/User'
      operationId: getUsers
      x-operation-id-source: derived
    post:
      summary: Create users
      description: 'Create a user and send the invitation to them.

        Each record consists of: - person_id: ID of the person to link with the user (If this parameter is sent, the name and corporate email of the person are used)

        It can be found in the Colaboradores API.


        - name: Name of the user - email: Email of the user (If person_id is sent, uses the person''s email if they have one) - activated: Determines whether the user can log in to the application - area_ids: List of area IDs to limit the user - limit_areas: Whether the user will be limited by areas - permission_role_id: ID of the profile to assign to the user.

        (If this field is left empty, the user will have the Normal Profile)


        (Only available if the general ''Enable data sets'' is active) - realm_ids: List of IDs of data sets to limit - limit_realms: Whether the user is limited by data set

        (Only available if the general ''Enable Private Role'' is active) - rol_visible: Allows limiting whether the user can see private profiles, public profiles, or both (see_public, see_private, see_both)


        **Permisos requeridos para utilizar este endpoint:**

        * User and profile permissions en: ''Lectura y Modificación''.'
      tags:
      - Users and profiles
      responses:
        '201':
          description: User created.
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  user:
                    $ref: '#/components/schemas/User'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  user:
                    $ref: '#/components/schemas/User'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: User type object
        required: true
      operationId: postUsers
      x-operation-id-source: derived
  /users/{id}:
    get:
      summary: Show user
      description: 'Delivers a user''s information.


        **Permisos requeridos para utilizar este endpoint:**

        * User and profile permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      parameters:
      - name: id
        in: path
        description: User ID
        required: true
        schema:
          type: string
      tags:
      - Users and profiles
      responses:
        '200':
          description: A user with the corresponding ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            application/pdf:
              schema:
                $ref: '#/components/schemas/User'
      operationId: getUsersById
      x-operation-id-source: derived
    put:
      summary: Edit user
      description: 'Edit a user

        The fields that we can edit are the following (It is not necessary to send the fields that are not going to be modified): - person_id: ID of the person to relate to the user (If this parameter is sent, the person''s name and corporate email is used).


        It can be found in the Colaboradores api.


        - name: User’s name - email: User''s email (If person_id is sent, it uses the person''s email if available) - area_ids: List of area ids to limit the user - activated: Determines whether the user can log in to the application - limit_areas: Whether the user will be limited by areas or not - permission_role_id: ID of the profile to be assigned to the user.


        (If this field is left empty, the user will have a Normal Profile).


        (Only available if General parameters ''Enable Data Sets'' is active) - realm_ids: List of Data set IDs to limit - limit_realms: If the user is limited by data set

        (Only available if the general parameters ''Enable Private Role'' is active) - visible_role: Allows to limit whether the user can view private, public or both profiles (view_public, view_private, ve_both).


        **Permisos requeridos para utilizar este endpoint:**

        * User and profile permissions en: ''Lectura y Modificación''.'
      tags:
      - Users and profiles
      parameters:
      - name: id
        in: path
        description: ID of the user to edit
        required: true
        schema:
          type: string
      responses:
        '200':
          description: User edited.
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  user:
                    $ref: '#/components/schemas/User'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  user:
                    $ref: '#/components/schemas/User'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      operationId: putUsersById
      x-operation-id-source: derived
components:
  schemas:
    User:
      properties:
        email:
          type: string
        name:
          type: string
        person_id:
          type: integer
        activated:
          type: boolean
        permission_role_id:
          type: integer
        limit_areas:
          type: boolean
        area_ids:
          type: array
          items:
            type: integer
        limit_realms:
          type: boolean
        realm_ids:
          type: array
          items:
            type: integer
        rol_visible:
          type: string
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
