openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Applicant API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Applicant
paths:
  /recruiting/applicants/{id}:
    patch:
      summary: Update applicants
      description: 'Update an applicant


        **Permisos requeridos para utilizar este endpoint:**

        * Selection permissions en: ''Lectura y Modificación''.'
      tags:
      - Applicant
      parameters:
      - name: id
        in: path
        description: ID of the applicant being updated.
        required: true
        schema:
          type: string
          items:
            type: integer
      responses:
        '200':
          description: Applicant information updated.
          content:
            application/json:
              schema:
                title: ResponseBody
                properties:
                  applicant:
                    $ref: '#/components/schemas/Applicant'
            application/pdf:
              schema:
                title: ResponseBody
                properties:
                  applicant:
                    $ref: '#/components/schemas/Applicant'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
        '404':
          description: The requested resource does not exist
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicantInput'
        description: Applicant parameters.
        required: true
      operationId: patchRecruitingApplicantsById
      x-operation-id-source: derived
components:
  schemas:
    ApplicantCv:
      properties:
        cv_url:
          example: https://ejemplo.com
          type: string
          description: Applicant's CV
          format: binary
    ApplicantInput:
      required:
      - first_name
      - surname
      allOf:
      - $ref: '#/components/schemas/ApplicantBase'
      - $ref: '#/components/schemas/StudiesLevel'
      - $ref: '#/components/schemas/ApplicantIdentifier'
      - $ref: '#/components/schemas/ApplicantLocationInput'
    ApplicantLocationInput:
      properties:
        location_id:
          example: '123'
          type: string
          description: ID or name of the Municipality
    ApplicantBase:
      properties:
        first_name:
          example: {}
          type: string
          description: Name
        surname:
          example: {}
          type: string
          description: Surname
        second_surname:
          example: {}
          type: string
          description: Second Surname
        birthday:
          type: string
          format: date
          example: YYYY-MM-DD
          description: Date of birth
        email:
          example: {}
          type: string
          description: E-mail address
        phone:
          example: '+56912345678'
          type: string
          description: Phone Number
        address:
          example: {}
          type: string
          description: Address
        gender:
          example: M
          type: string
          description: Gender
          enum:
          - M
          - F
        university:
          example: {}
          type: string
          description: University
        academic_degree:
          example: {}
          type: string
          description: Professional degree
        experience_years:
          example: 10
          type: integer
          description: Years of experience
        linkedin_url:
          type: string
          description: Applicant's LinkedIn URL
          example: https://www.linkedin.com/in/usuario
        cv_url:
          $ref: '#/components/schemas/ApplicantCv'
        seleccion_processes:
          $ref: '#/components/schemas/ApplicantSelectionProcess'
        custom_attributes:
          example:
            clave: valor
          type: object
          description: Customized applicant attributes. (Check with the administrator for available custom attributes)
    ApplicantLocation:
      type: object
      properties:
        id:
          example: 123
          type: integer
          description: ID of the Municipality
        name:
          example: {}
          type: string
          description: Name of the Municipality
    Applicant:
      allOf:
      - $ref: '#/components/schemas/ApplicantBase'
      - properties:
          location:
            $ref: '#/components/schemas/ApplicantLocation'
          id:
            example: 123
            type: integer
            description: ID del postulante
      - $ref: '#/components/schemas/StudiesLevel'
      - $ref: '#/components/schemas/ApplicantIdentifier'
    BasePersonIdentifier:
      properties:
        document_number:
          type: string
          description: Document Number of  Colaborador.
        document_type:
          type: string
          description: 'Document Type Colaborador. Valid Document Types in the {code: translation} format are: {"ci_brasil":"CPF","otro":"Other"}'
    ApplicantIdentifier:
      allOf:
      - $ref: '#/components/schemas/BasePersonIdentifier'
    ApplicantSelectionProcess:
      type: array
      items:
        type: object
        description: Selection process
        properties:
          id:
            example: 123
            type: integer
            description: Selection Process ID
          name:
            example: {}
            type: string
            description: Title of the selection process
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    StudiesLevel:
      properties:
        studies_level:
          example: universitario
          type: string
          description: Nivel de estudios
          enum:
          - Analfabeto, incluidos los que, aunque han recibido instrucción, no han llegado a ser alfabetizados.
          - Hasta el 5° año incompleto de la educación primaria (antiguo 4° año) o alfabetizado.
          - 5° año completo de educación primaria
          - Del 6° al 9° año de educación primaria incompleta (antigos 5° a 8° años)
          - Educación primaria completa
          - Educación secundaria incompleta
          - Educación secundaria completa
          - Educación superior incompleta
          - Educación superior completa
          - Postgraduación completa
          - Maestría completa
          - Doctorado completo
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
