openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Non-Worked Hours API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Non-Worked Hours
paths:
  /attendances/non-worked-hours:
    get:
      summary: List non-worked hours
      description: 'View records of non-worked hours


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Non-Worked Hours
      parameters:
      - name: from
        description: Start date of the search query period in YYYY-MM-DD format.
        in: query
        schema:
          type: string
          format: date
      - name: to
        description: End date of the  search query period  in YYYY-MM-DD format.
        in: query
        schema:
          type: string
          format: date
      - name: sort
        in: query
        description: (OPTIONAL) Parameter to sort records by their ID, the only possible value is 'id'.
        schema:
          type: string
      - name: page_size
        in: query
        description: (Optional) Number of responses per page. By default it has a value of 25 and must be within a range of [25 - 100].
        schema:
          type: integer
      responses:
        '200':
          description: As a response, we receive an array (data) with non-worked hours
          name: data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attendances__NonWorkedHours__Index'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Attendances__NonWorkedHours__Index'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getAttendancesNonWorkedHours
      x-operation-id-source: derived
    post:
      summary: Add non-worked hours
      description: 'Allows to specify the number of hours of non-worked hours of a Colaborador in a given month.


        An object of type NonWorkedHours must be sent as JSON in the body of the request, composed of:

        - day: Day to determine to which period the non-worked hours belongs (optional)

        - month: Month to which the non-worked hours correspond

        - year: Year to which the non-worked hours correspond

        - hours: Number of hours to add

        - employee_id: ID of the Colaborador to which the hours are added

        - type_id: Non-worked Hour Type ID


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Non-Worked Hours
      responses:
        '200':
          description: Response when adding time off hours
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  ausencia:
                    $ref: '#/components/schemas/Attendances__NonWorkedHours__Response'
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
                  ausencia:
                    $ref: '#/components/schemas/Attendances__NonWorkedHours__Response'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attendances__NonWorkedHours__Request'
        description: Non-worked hours type object
      operationId: postAttendancesNonWorkedHours
      x-operation-id-source: derived
    put:
      summary: Enter non-worked hours
      description: 'Allows to specify the number of hours of non-worked hours of a Colaborador in a given month. This method **replaces** the number of non-worked hours of the Colaborador


        An object of type NonWorkedHours must be sent as JSON in the body of the request, composed of:

        - day: Day to determine to which period the non-worked hours belongs (optional)

        - month: Month to which the non-worked hours correspond

        - year: Year to which the non-worked hours correspond

        - hours: Number of hours to add

        - employee_id: ID of the Colaborador to which the hours are added

        - type_id: Non-worked Hour Type ID


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura y Modificación''.'
      tags:
      - Non-Worked Hours
      responses:
        '200':
          description: Response when replacing time off hours
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  ausencia:
                    $ref: '#/components/schemas/Attendances__NonWorkedHours__Response'
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
                  ausencia:
                    $ref: '#/components/schemas/Attendances__NonWorkedHours__Response'
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attendances__NonWorkedHours__Request'
        description: Non-worked hours type object
      operationId: putAttendancesNonWorkedHours
      x-operation-id-source: derived
  /attendances/non-worked-hours/{id}:
    get:
      summary: View a non-working time record
      description: 'View a non-worked hour record based on its ID


        **Permisos requeridos para utilizar este endpoint:**

        * Attendance permissions en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - Non-Worked Hours
      parameters:
      - name: id
        description: ID of the non-worked hour
        in: path
        schema:
          type: integer
        required: true
      responses:
        '200':
          description: As a response, we received the information of the non-worked hours
          name: data
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Attendances__NonWorkedHours__Response'
            application/pdf:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Attendances__NonWorkedHours__Response'
        '404':
          description: When the resource does not exist
          name: errors
          content:
            application/json:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
            application/pdf:
              schema:
                properties:
                  errors:
                    type: array
                    items:
                      type: string
        '400':
          description: There is an error with the data submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      operationId: getAttendancesNonWorkedHoursById
      x-operation-id-source: derived
components:
  schemas:
    Attendances__NonWorkedHours__Request:
      properties:
        day:
          type: integer
        month:
          type: integer
        year:
          type: integer
        hours:
          type: number
          format: float
          description: Cantidad de horas no trabajadas
          example: 2.5
        employee_id:
          type: integer
          description: ID del empleado
          example: 1234
        type_id:
          type: integer
          description: ID del tipo de hora no trabajada
          example: 1
      required:
      - hours
      - employee_id
      - type_id
      - day
      - month
      - year
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    Attendances__NonWorkedHours__Index:
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        data:
          type: array
          items:
            $ref: '#/components/schemas/Attendances__NonWorkedHours__Response'
    Attendances__NonWorkedHours__Response:
      properties:
        day:
          type: integer
        month:
          type: integer
        year:
          type: integer
        hours:
          type: number
          format: float
          description: Cantidad de horas no trabajadas
          example: 2.5
        id:
          type: integer
          description: ID del registro de horas no trabajadas
          example: 42
        employee_id:
          type: integer
          description: ID del empleado
          example: 14
        type_id:
          type: integer
          description: ID del tipo de hora no trabajada
          example: 1
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
