openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Cargos API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Cargos
paths:
  /role_families:
    get:
      summary: Listar familia de cargos
      description: '''Retorna todas las familias de cargos registradas en el sistema''


        Este endpoint no requiere permisos especiales.'
      tags:
      - Cargos
      parameters:
      - name: search
        in: query
        description: Filtra las familias de cargos por nombre
        schema:
          type: string
      - name: page_size
        in: query
        description: (OPCIONAL) Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos un arreglo (data) con las familias de cargos
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RoleFamily'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/RoleFamily'
      operationId: getRoleFamilies
      x-operation-id-source: derived
components:
  schemas:
    RoleFamily:
      properties:
        id:
          type: integer
        name:
          type: string
        quantity_of_roles:
          type: integer
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
