openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk Localidades API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: Localidades
paths:
  /locations/{id}:
    get:
      summary: Mostrar localidad
      description: 'Recibimos la información relacionada a una localidad cuyo ID enviamos en la consulta


        Este endpoint no requiere permisos especiales.'
      tags:
      - Localidades
      parameters:
      - name: id
        in: path
        description: 'ID de la localidad

          '
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos la información correspondiente a la localidad y el padre al cual pertenece (en caso de que tenga alguno) recursivamente. Un padre será tambien una localidad, por tanto tendrá el mismo formato.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Location'
      operationId: getLocationsById
      x-operation-id-source: derived
  /locations:
    get:
      summary: Mostrar localidades
      description: 'Recibimos la información relacionada a las localidades de un país dada una profundidad


        Este endpoint no requiere permisos especiales.'
      tags:
      - Localidades
      parameters:
      - name: depth
        in: query
        description: Profundidad
        required: false
        schema:
          type: integer
          default: 1
      - name: page_size
        in: query
        description: Tamaño de la página
        schema:
          type: integer
      - name: page
        in: query
        description: Nro de página
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos la información correspondiente a las localidades que cumplan con los criterios de profundidad proporcionados.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location__Minimal'
            application/pdf:
              schema:
                $ref: '#/components/schemas/Location__Minimal'
      operationId: getLocations
      x-operation-id-source: derived
components:
  schemas:
    Location__Minimal:
      properties:
        id:
          type: integer
        name:
          type: string
        depth:
          type: integer
        ancestry:
          type: string
        full_name:
          type: string
    Location:
      properties:
        id:
          type: integer
        name:
          type: string
        depth:
          type: integer
        parent:
          $ref: '#/components/schemas/Location'
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
