openapi: 3.2.0
info:
  description: '# Buk Data Access API.


    To use the API, you need to obtain an **API Key**.

    You can manage access within the platform, in **Settings => API Access.**


    Once an API Key is created, you must send the value as a header in the HTTP request, in the `auth_token` field.


    ## For more details, you can review the article "How to integrate with Buk through an API"


    # Endpoints'
  title: Buk KP Is API
servers:
- url: https://demo.buk.cl/api/v1/brasil
tags:
- name: KPIs
paths:
  /kpis:
    get:
      summary: Listar tipos de KPI
      description: 'Retorna todos los tipos de KPI registrados en el sistema


        Un tipo de KPI posee los siguientes atributos

        - id: identificador único del tipo de KPI

        - name: nombre descriptivo

        - code: código interno

        - related_to: nombre de entidad a la que se asocia el tipo de KPI

        - units: unidad de medida del tipo de KPI


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de tipos de KPI en: ''Lectura''.'
      tags:
      - KPIs
      parameters:
      - name: name
        in: query
        description: Filtra los tipos de KPI con este nombre
        schema:
          type: string
      - name: code
        in: query
        description: Filtra los tipos de KPI con este código
        schema:
          type: string
      - name: related_to
        in: query
        description: Filtra los tipos de KPI con esta entidad asociada
        schema:
          type: string
      - name: units
        in: query
        description: Filtra los tipos de KPI con esta unidad de medida
        schema:
          type: string
      - name: page_size
        in: query
        description: (OPCIONAL) Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos un arreglo (data) con la información de los tipos de KPI
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KPI'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KPI'
      operationId: getKpis
      x-operation-id-source: derived
  /kpi_data:
    get:
      summary: Listar datos de KPI
      description: '#


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de datos de KPI en: ''Lectura'' o ''Lectura y Modificación''.'
      tags:
      - KPIs
      parameters:
      - name: kpi_id
        in: query
        description: Filtra los datos de KPI asociados con el tipo de KPI indicado
        schema:
          type: integer
      - name: empresa_id
        in: query
        description: {}
        schema:
          type: integer
      - name: area_id
        in: query
        description: Filtra los datos de KPI asociados con la área indicada
        schema:
          type: integer
      - name: employee_id
        in: query
        description: Filtra los datos de KPI asociados con el empleado indicado
        schema:
          type: integer
      - name: page_size
        in: query
        description: (OPCIONAL) Número de respuestas por página. Por defecto tiene un valor de 25 y debe estar entre un rango de [25 - 100]
        schema:
          type: integer
      responses:
        '200':
          description: Como respuesta recibimos un arreglo (data) con la información de los datos de KPI
          name: data
          content:
            application/json:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KPIDatum'
            application/pdf:
              schema:
                properties:
                  pagination:
                    $ref: '#/components/schemas/Pagination'
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/KPIDatum'
      operationId: getKpiData
      x-operation-id-source: derived
    post:
      summary: Ingresar un dato de KPI
      description: '#


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de datos de KPI en: ''Lectura y Modificación''.'
      tags:
      - KPIs
      responses:
        '201':
          description: Respuesta en caso de haber registrado un dato de KPI de forma exitosa
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                  kpi_datum:
                    $ref: '#/components/schemas/KPIDatum'
            application/pdf:
              schema:
                properties:
                  message:
                    type: string
                  kpi_datum:
                    $ref: '#/components/schemas/KPIDatum'
        '400':
          description: Existe un error con los datos enviados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
            application/pdf:
              schema:
                $ref: '#/components/schemas/bad_request'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KPIDatum'
        description: Atributos del nuevo dato de KPI
        required: true
      operationId: postKpiData
      x-operation-id-source: derived
  /kpi_data/{id}:
    patch:
      summary: Actualizar un dato de KPI
      description: 'Actualiza el dato de un KPI.


        Se debe enviar en el body de la request un objeto tipo JSON el siguiente parámetro:

        - **value:** Valor a sobreescribir en KPI.


        Un ejemplo puede ser:


        **PATH:** `/kpi_data/1`


        **BODY:**

        ```json

        {

        "value": 100

        }

        ```


        **Permisos requeridos para utilizar este endpoint:**

        * Permisos de datos de KPI en: ''Lectura y Modificación''.'
      tags:
      - KPIs
      parameters:
      - name: id
        in: path
        description: ID del kpi_data a modificar.
        required: true
        schema:
          type: integer
      - name: value
        in: query
        description: Valor a sobrescribir en KPI.
        required: true
        schema:
          type: number
          format: float
      responses:
        '200':
          description: Como respuesta obtenemos el KPI con los valores actualizados
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KPIDatum'
            application/pdf:
              schema:
                $ref: '#/components/schemas/KPIDatum'
      operationId: patchKpiDataById
      x-operation-id-source: derived
components:
  schemas:
    bad_request:
      properties:
        errors:
          type: array
          items:
            type: string
    Pagination:
      properties:
        next:
          type: string
        previous:
          type: string
        count:
          type: integer
        total_pages:
          type: integer
    KPI:
      properties:
        id:
          type: integer
        name:
          type: string
        code:
          type: string
        related_to:
          type: string
        units:
          type: string
    KPIDatum:
      properties:
        id:
          type: integer
        kpi_id:
          type: integer
        empresa_id:
          type: integer
        area_id:
          type: integer
        employee_id:
          type: integer
        value:
          type: number
        period_type:
          type: string
          description: 'Frecuencia de pago: monthly, semi_monthly o weekly. Requerido para KPIs de tipo Área o Empresa (Solo se puede usar frecuencias de pago que se tengan habilitadas en el tenant)'
        date:
          type: string
          description: Fecha del período para el dato KPI, debe ser un período abierto
          format: date
      required:
      - kpi_id
      - value
  securitySchemes:
    auth_token:
      type: apiKey
      name: auth_token
      in: header
