openapi: 3.2.0
info:
  title: Buk Application API
  version: '1.0'
  description: 'Operations tagged Application across 5 of this provider''s published API definitions: buk-data-access-api-brasil-openapi.yml, buk-data-access-api-chile-openapi.yml, buk-data-access-api-colombia-openapi.yml, buk-data-access-api-mexico-openapi.yml, buk-data-access-api-peru-openapi.yml. Each path carries the servers of the definition it was published in.'
host: demo.buk.cl
tags:
- name: Application
paths:
  /recruiting/applications:
    post:
      summary: Add applications
      description: "Create an application\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura y Modificación'.\n\n"
      tags:
      - Application
      parameters:
      - name: application
        in: body
        description: Parameters of an application
        required: true
        schema:
          title: RequestBody
          required:
          - application
          properties:
            application:
              $ref: '#/definitions/ApplicationInput'
      responses:
        '201':
          schema:
            title: ResponseBody
            properties:
              application:
                $ref: '#/definitions/Application'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
        '404':
          description: The requested resource does not exist
          name: errors
          schema:
            properties:
              errors:
                type: array
                items:
                  type: string
    get:
      summary: List the applications.
      description: "Display application\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura y Modificación'.\n\n"
      tags:
      - Application
      parameters:
      - name: selection_processes[]
        in: query
        type: array
        description: (Optional) IDs of the selection processes to be queried. (Returns applications if they are in at least one selection process)
        collectionFormat: multi
        items:
          type: integer
      - name: application_date
        in: query
        type: string
        format: date
        description: (OPTIONAL) Indicate the date of application to be consulted (Format YYYYY-MM-DD)
      - name: updated_from
        in: query
        type: string
        format: date
        description: (OPCIONAL) Indica la fecha inicial de actualización a consultar (Formato YYYY-MM-DD)
      - name: updated_to
        in: query
        type: string
        format: date
        description: (OPCIONAL) Indica la fecha final de actualización a consultar (Formato YYYY-MM-DD)
      - name: page_size
        in: query
        type: integer
        description: (Optional) Number of responses per page. By default, it has a value of 25 and must be within a range of [25 - 100].
      - name: page
        in: query
        type: integer
        description: Page number
      responses:
        '200':
          description: A list of applications that meet the search criteria.
          schema:
            properties:
              pagination:
                $ref: '#/definitions/Pagination'
              data:
                type: array
                items:
                  $ref: '#/definitions/Application'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
  /recruiting/applications/{id}:
    patch:
      summary: Update applications
      description: "Update application\n\n**Permisos requeridos para utilizar este endpoint:** \n* Selection permissions en: 'Lectura y Modificación'.\n\n"
      tags:
      - Application
      parameters:
      - name: id
        in: path
        type: string
        description: ID of the application to be updated
        required: true
        items:
          type: integer
      - name: postulacion
        in: body
        description: Parameters of an application
        required: true
        schema:
          $ref: '#/definitions/ApplicationInput'
      responses:
        '200':
          description: Information of the updated application.
          schema:
            title: ResponseBody
            properties:
              application:
                $ref: '#/definitions/Application'
        '400':
          description: There is an error with the data submitted
          schema:
            $ref: '#/definitions/bad_request'
        '404':
          description: The requested resource does not exist
          name: errors
          schema:
            properties:
              errors:
                type: array
                items:
                  type: string
definitions:
  ApplicationApplicantIdentifier:
    properties:
      document_number:
        example: '123456789'
        type: string
        description: Número de documento del postulante
  bad_request:
    properties:
      errors:
        type: array
        items:
          type: string
  ApplicationApplicantIdentifierInput:
    properties:
      applicant_id:
        example: '123'
        type: string
        description: ID o Número de documento del postulante
  ApplicationProcessStage:
    type: object
    description: Etapa del proceso de selección
    properties:
      id:
        example: 123
        type: integer
        description: ID de la etapa del proceso de selección
      name:
        example: {}
        type: string
        description: Nombre de la etapa del proceso de selección
  Pagination:
    properties:
      next:
        type: string
      previous:
        type: string
      count:
        type: integer
      total_pages:
        type: integer
  Application:
    allOf:
    - $ref: '#/definitions/ApplicationBase'
    - properties:
        applicant:
          $ref: '#/definitions/ApplicationApplicant'
        process_stage:
          $ref: '#/definitions/ApplicationProcessStage'
  ApplicationBase:
    properties:
      selection_process_id:
        example: 123
        type: integer
        description: ID del proceso de selección
      referrer:
        example: internal
        type: string
        description: Origen de la postulación
        enum:
        - internal
        - external
        - genoma
        - trabajando
        - aira
        - portal
        - talent
      integration_url:
        example: https://ejemplo.com
        type: string
        description: URL asociada al origen de la postulación
      salary_expectation:
        example: 10
        type: integer
        description: Expectativa salarial específica para la postulación
      custom_attributes:
        example:
          clave: valor
        type: object
        description: Atributos personalizados de la postulación. (Consultar con administrador cuales son los atributos personalizados disponibles)
      application_date:
        type: string
        format: date
        description: Fecha de postulación
        example: '2024-01-01'
      updated_at:
        example: '2024-01-01T12:00:00Z'
        type: string
        format: date-time
        description: Fecha de actualización
  ApplicationApplicant:
    type: object
    description: Postulante
    allOf:
    - properties:
        id:
          example: 123
          type: integer
          description: ID del postulante
    - $ref: '#/definitions/ApplicationApplicantIdentifier'
  ApplicationInput:
    required:
    - applicant_id
    - selection_process_id
    allOf:
    - $ref: '#/definitions/ApplicationBase'
    - $ref: '#/definitions/ApplicationApplicantIdentifierInput'
    - properties:
        process_stage_id:
          example: '123'
          type: string
          description: ID o nombre de la etapa del proceso de selección.
securityDefinitions:
  auth_token:
    type: apiKey
    name: auth_token
    in: header
x-refined-from:
- buk-data-access-api-brasil-openapi.yml
- buk-data-access-api-chile-openapi.yml
- buk-data-access-api-colombia-openapi.yml
- buk-data-access-api-mexico-openapi.yml
- buk-data-access-api-peru-openapi.yml
